html {
  overflow-x: hidden;
}

body {
  background: #000;
  overflow: hidden;
  color: #fff;
}

/* mixins */
/* Analytics */
.analytics {
  margin-top: 209px;
}

.analytics__title {
  margin: 0 auto 70px;
  max-width: 1021px;
  font-weight: 700;
  font-size: 100px;
  line-height: 117px;
  text-align: center;
}

.analytics-img {
  text-align: center;
}

.analytics-img img {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .analytics__title {
    margin-bottom: 30px;
    font-size: 60px;
  }
}

@media screen and (max-width: 830px) {
  .analytics__title {
    margin-bottom: 10px;
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .analytics__title {
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.3;
  }
}

/* Ineffective-ads */
.ineffective-ads {
  max-width: 1440px;
  margin: 215px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ineffective-ads__title {
  max-width: 971px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.ineffective-ads__text {
  margin-top: 185px;
  margin-left: -100px;
  max-width: 538px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

@media screen and (max-width: 1239px) {
  .ineffective-ads {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ineffective-ads__title {
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
  }
  .ineffective-ads__text {
    margin: 50px auto;
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .ineffective-ads__title {
    font-size: 40px;
    line-height: 1.5;
  }
  .ineffective-ads__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .ineffective-ads__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .ineffective-ads__title {
    font-size: 20px;
  }
  .ineffective-ads__text {
    margin-top: 10px;
    font-size: 18px;
  }
}

/* Pareto-law */
.pareto-law {
  max-width: 1570px;
  margin: 155px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pareto-law__col:last-child {
  margin-top: 240px;
  margin-left: 60px;
}

.pareto-law__col p {
  margin-top: 15px;
  font-family: 'Segoe Script', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 124.1%;
  background: -webkit-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: -o-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: linear-gradient(90.15deg, #02A5A2 0%, #0471BF 53.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pareto-law__title {
  max-width: 598px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100.19%;
}

.pareto-law__text {
  margin-top: 95px;
  max-width: 480px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

@media screen and (max-width: 1600px) {
  .pareto-law {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1300px) {
  .pareto-law__col:last-child {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1239px) {
  .pareto-law {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pareto-law__col {
    text-align: center;
  }
  .pareto-law__col:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .pareto-law__col:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
  }
  .pareto-law__title {
    font-size: 40px;
  }
  .pareto-law__text {
    margin: 30px auto;
  }
  .pareto-law-img img {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .pareto-law__col p {
    font-size: 23px;
  }
  .pareto-law__title {
    font-size: 30px;
    line-height: 1.3;
  }
  .pareto-law__text {
    font-size: 20px;
  }
}

/* Conventional-analytics */
.conventional-analytics {
  max-width: 1440px;
  margin: 140px auto 0;
}

.conventional-analytics__title {
  margin-bottom: 30px;
  max-width: 863px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.conventional-analytics__text {
  max-width: 755px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

.conventional-analytics-img {
  margin-top: -65px;
  text-align: center;
}

.conventional-analytics-img img {
  max-width: 100%;
}

@media screen and (max-width: 1460px) {
  .conventional-analytics {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1239px) {
  .conventional-analytics__title {
    margin: 0 auto 30px;
    font-size: 50px;
    line-height: 1.3;
    text-align: center;
  }
  .conventional-analytics__text {
    margin: 0 auto;
    text-align: center;
  }
  .conventional-analytics-img {
    margin-top: 0;
  }
}

@media screen and (max-width: 770px) {
  .conventional-analytics__title {
    font-size: 40px;
  }
  .conventional-analytics__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .conventional-analytics__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 340px) {
  .conventional-analytics__title {
    font-size: 28px;
  }
}

/* Result */
.result {
  max-width: 1450px;
  margin: 280px auto 0;
}

.result__title {
  max-width: 1006px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.result__content {
  margin-left: 110px;
}

.result__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result__row:first-child {
  margin-top: 20px;
}

.result__row:first-child .result__col:last-child {
  margin-top: 210px;
  margin-left: 110px;
}

.result__row:nth-child(2) .result-img {
  position: relative;
  top: -290px;
  left: 370px;
}

.result__row:nth-child(2) .result__col:first-child {
  margin-top: 180px;
  margin-left: 170px;
}

.result__row:nth-child(2) .result__col:last-child {
  margin-left: -280px;
}

.result__row:nth-child(3) {
  margin-top: -190px;
  margin-left: -35px;
}

.result__row:nth-child(3) .result__col:last-child {
  margin-top: 10px;
  margin-left: 160px;
}

.result__row:last-child {
  margin-top: 137px;
}

.result__subtitle {
  margin-bottom: 15px;
  max-width: 538px;
  font-weight: 500;
  font-size: 40px;
  line-height: 36px;
}

.result__text {
  max-width: 538px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

.result__block-text {
  max-width: 1229px;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #828282;
}

.result__block-text p {
  display: inline-block;
  background: -webkit-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: -o-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: linear-gradient(90.15deg, #02A5A2 0%, #0471BF 53.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1470px) {
  .result {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1360px) {
  .result__content {
    margin-left: 0;
  }
  .result__row:nth-child(3) {
    margin-left: 0;
  }
}

@media screen and (max-width: 1239px) {
  .result__title {
    font-size: 50px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 80px;
  }
  .result-img img {
    max-width: 100%;
  }
  .result__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .result__row:first-child {
    margin-top: 20px;
  }
  .result__row:first-child .result__col:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .result__row:first-child .result__col:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 50px;
  }
  .result__row:nth-child(2) {
    margin-top: 100px;
  }
  .result__row:nth-child(2) .result-img {
    position: relative;
    top: 0;
    left: 0;
  }
  .result__row:nth-child(2) .result__col:first-child {
    margin: 0 0 50px;
  }
  .result__row:nth-child(2) .result__col:last-child {
    margin-left: 0;
  }
  .result__row:nth-child(3) {
    margin-top: 100px;
    margin-left: 0;
  }
  .result__row:nth-child(3) .result__col:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .result__row:nth-child(3) .result__col:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 50px;
  }
}

@media screen and (max-width: 950px) {
  .result__block-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 560px) {
  .result__title {
    font-size: 29px;
  }
  .result__subtitle {
    font-size: 25px;
  }
  .result__text {
    font-size: 20px;
  }
  .result__block-text {
    font-size: 18px;
    line-height: 1.7;
  }
}

/* Track */
.track {
  max-width: 1440px;
  margin: 230px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.track__title {
  max-width: 971px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.track__text {
  margin-top: 20px;
  margin-left: -100px;
  max-width: 538px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

@media screen and (max-width: 1460px) {
  .track {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1239px) {
  .track {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .track__title {
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
  }
  .track__text {
    margin: 50px auto;
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .track__title {
    font-size: 40px;
    line-height: 1.3;
  }
  .track__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 580px) {
  .track__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .track__title {
    font-size: 20px;
  }
  .track__text {
    margin-top: 10px;
    font-size: 18px;
  }
}

/* Free-connection */
.free-connection {
  text-align: center;
  margin: 155px auto 100px;
}

.free-connection__title {
  margin-bottom: 40px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.free-connection__text {
  margin: 0 auto;
  max-width: 995px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #828282;
}

.free-connection__button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  max-width: 240px;
  margin: 80px auto 0;
}

.free-connection__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: -webkit-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: -o-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: linear-gradient(90.15deg, #02A5A2 0%, #0471BF 53.21%);
}

.free-connection__button a {
  background: -webkit-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: -o-linear-gradient(359.85deg, #02A5A2 0%, #0471BF 53.21%);
  background: linear-gradient(90.15deg, #02A5A2 0%, #0471BF 53.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 35px;
}

.free-connection__button a {
  padding: 18px 55px;
}

@media screen and (max-width: 1239px) {
  .free-connection__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 650px) {
  .free-connection__title {
    font-size: 30px;
    line-height: 1.3;
  }
  .free-connection__text {
    font-size: 20px;
  }
}

/* Google-analytics */
.google-analytics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 175px auto 0;
}

.google-analytics__title {
  margin-left: 25px;
  max-width: 875px;
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 80px;
}

.google-analytics__content {
  margin-top: 40px;
  margin-left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.google-analytics-img {
  margin-top: 35px;
  position: relative;
}

.google-analytics-img::before {
  content: url("../img/analytics/Vector-11.svg");
  position: absolute;
  top: -30px;
  right: -180px;
}

.google-analytics-img::after {
  content: url("../img/analytics/Vector-12.svg");
  position: absolute;
  bottom: 0;
}

.google-analytics__text {
  margin-top: 15px;
  margin-left: 25px;
  max-width: 700px;
  font-family: 'Segoe Script', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 124.1%;
}

.google-analytics__block-text-1 {
  position: relative;
  top: 410px;
  left: 200px;
  max-width: 312px;
  font-family: 'Segoe Script', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 124.1%;
}

.google-analytics__block-text-1::after {
  content: "";
  display: block;
  width: 342px;
  height: 234px;
  position: absolute;
  top: -70px;
  left: -50px;
  background: url("../img/analytics/Ellipse-17.svg");
}

.google-analytics__block-text-2 {
  position: relative;
  top: 565px;
  left: 75px;
  max-width: 312px;
  font-family: 'Segoe Script', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 124.1%;
}

.google-analytics__block-text-2::after {
  content: "";
  display: block;
  width: 270.5px;
  height: 173.5px;
  position: absolute;
  top: -60px;
  left: -50px;
  background: url("../img/analytics/Ellipse-18.svg");
}

@media screen and (max-width: 1570px) {
  .google-analytics__content {
    margin-left: -180px;
  }
}

@media screen and (max-width: 1410px) {
  .google-analytics__title {
    max-width: 750px;
    font-size: 60px;
  }
  .google-analytics__content {
    margin-left: 0;
  }
  .google-analytics-img {
    margin-left: -80px;
  }
  .google-analytics-img img {
    width: 710px;
  }
  .google-analytics-img::before {
    right: -20px;
  }
  .google-analytics-img::after {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .google-analytics__block-text-1 {
    left: 30px;
  }
  .google-analytics__block-text-2 {
    left: 120px;
  }
}

@media screen and (max-width: 1230px) {
  .google-analytics {
    margin-bottom: 700px;
  }
  .google-analytics__title {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 1.3;
  }
  .google-analytics__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .google-analytics-img {
    margin: 35px auto 0;
    text-align: center;
  }
  .google-analytics-img img {
    max-width: 100%;
  }
  .google-analytics-img::before {
    top: 550px;
    right: -40px;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .google-analytics-img::after {
    left: 0;
    top: 700px;
    -webkit-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  .google-analytics__text {
    margin: 0 auto;
    text-align: center;
  }
  .google-analytics__block-text-1 {
    top: 200px;
    left: -150px;
  }
  .google-analytics__block-text-2 {
    top: 100px;
    left: 280px;
  }
}

@media screen and (max-width: 740px) {
  .google-analytics {
    margin-bottom: 700px;
  }
  .google-analytics__title {
    padding: 0 10px;
    font-size: 30px;
  }
  .google-analytics__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .google-analytics-img {
    margin: 15px auto 0;
    text-align: center;
  }
  .google-analytics-img img {
    max-width: 100%;
  }
  .google-analytics-img::before {
    display: none;
  }
  .google-analytics-img::after {
    display: none;
  }
  .google-analytics__text {
    padding: 0 10px;
    font-size: 25px;
  }
  .google-analytics__block-text-1 {
    text-align: center;
    top: 100px;
    left: 0;
  }
  .google-analytics__block-text-1::after {
    top: -70px;
    left: 0;
  }
  .google-analytics__block-text-2 {
    text-align: center;
    top: 250px;
    left: 0;
  }
  .google-analytics__block-text-2::after {
    top: -70px;
    left: 10px;
  }
}

@media screen and (max-width: 420px) {
  .google-analytics__title {
    font-size: 24px;
  }
  .google-analytics__text {
    font-size: 20px;
  }
  .google-analytics__block-text-1 {
    top: 100px;
    left: 0;
  }
  .google-analytics__block-text-1::after {
    width: 310px;
    height: 212px;
    top: -70px;
    left: 0;
    background-size: 310px;
  }
}
