html {
  overflow-x: hidden;
}

body {
  background: #000;
  overflow: hidden;
}

/* blocks BEM */
.block-title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
}

.block-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

/* mixins */
.title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title p {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.title-2 {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title-2 p {
  background: -webkit-linear-gradient(339.56deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%);
  background: -o-linear-gradient(339.56deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%);
  background: linear-gradient(110.44deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.title-3 {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title-3 p {
  background: -webkit-linear-gradient(344.48deg, #80E0FF -0.39%, #855AFF 37.78%);
  background: -o-linear-gradient(344.48deg, #80E0FF -0.39%, #855AFF 37.78%);
  background: linear-gradient(105.52deg, #80E0FF -0.39%, #855AFF 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.title-4 {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title-4 p {
  background: -webkit-linear-gradient(354.93deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  background: -o-linear-gradient(354.93deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  background: linear-gradient(95.07deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.call-tracking__title {
  margin-top: 105px;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  line-height: 117px;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .call-tracking__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 800px) {
  .call-tracking__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .call-tracking__title {
    font-size: 30px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 360px) {
  .call-tracking__title {
    font-size: 28px;
    line-height: 1.5;
  }
}

/* Forget-it */
.forget-it {
  max-width: 1920px;
  margin: auto;
  margin-top: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.forget-it__subtitle {
  margin-left: 242px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  background: -webkit-linear-gradient(354.93deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  background: -o-linear-gradient(354.93deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  background: linear-gradient(95.07deg, #48F5EB -0.39%, #6D8CDD 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forget-it__title {
  margin-left: 242px;
  max-width: 821px;
  color: #fff;
}

.forget-it-img-1 {
  margin-top: 90px;
  display: inline-block;
}

.forget-it-img-1 img {
  max-width: 450px;
}

.forget-it__text {
  margin-top: 100px;
  float: right;
  margin-left: 235px;
  display: inline-block;
  max-width: 452px;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #F2F2F2;
}

.forget-it__col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.forget-it-img-2 img {
  margin-right: 280px;
  max-width: 422px;
}

.forget-it-img-3 img {
  float: right;
  max-width: 280px;
}

@media screen and (max-width: 1840px) {
  .forget-it__subtitle {
    margin-left: 100px;
  }
  .forget-it__title {
    margin-left: 100px;
  }
  .forget-it__text {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1680px) {
  .forget-it {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .forget-it__subtitle {
    margin-left: 10px;
  }
  .forget-it__title {
    max-width: 621px;
    font-size: 60px;
    margin-left: 10px;
  }
  .forget-it__text {
    margin-top: 40px;
    display: block;
    margin-left: 10px;
    float: none;
  }
}

@media screen and (max-width: 1370px) {
  .forget-it__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1239px) {
  .forget-it {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .forget-it__subtitle {
    margin-left: 0;
  }
  .forget-it__title {
    max-width: 621px;
    font-size: 60px;
    margin-left: 0;
  }
  .forget-it__text {
    margin-top: 90px;
    display: block;
    margin: 40px auto;
    float: none;
  }
  .forget-it-img-2 img {
    margin-right: 0;
    max-width: 422px;
  }
  .forget-it-img-3 img {
    margin-top: 30px;
    float: none;
    max-width: 280px;
  }
}

@media screen and (max-width: 590px) {
  .forget-it__title {
    font-size: 40px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 460px) {
  .forget-it__title {
    font-size: 25px;
    line-height: 1.5;
  }
  .forget-it__subtitle {
    font-size: 30px;
  }
  .forget-it-img-1 img {
    max-width: 300px;
  }
  .forget-it-img-2 img {
    margin-right: 0;
    max-width: 300px;
  }
}

/* Advertising */
.advertising {
  max-width: 1437px;
  margin: auto;
  padding-left: 27px;
  margin-top: 200px;
}

@media screen and (max-width: 1530px) {
  .advertising {
    padding-left: 0;
  }
}

.advertising__text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1235px) {
  .advertising__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.advertising__title {
  font-family: 'SanFrancisco Semibold', sans-serif;
  font-size: 80px;
  line-height: 94px;
  color: #FFFFFF;
  max-width: 685px;
}

@media screen and (max-width: 1235px) {
  .advertising__title {
    max-width: 100%;
    font-size: 55px;
    line-height: 69px;
  }
}

@media screen and (max-width: 992px) {
  .advertising__title {
    font-size: 35px;
    line-height: 49px;
  }
}

@media screen and (max-width: 450px) {
  .advertising__title {
    font-size: 25px;
    line-height: 39px;
  }
}

.advertising__subtitle {
  max-width: 421px;
  margin-left: 116px;
  margin-top: 36px;
  font-size: 24px;
  line-height: 126.69%;
  color: #F2F2F2;
  font-family: 'Segoe Script', sans-serif;
}

@media screen and (max-width: 1235px) {
  .advertising__subtitle {
    margin-left: 0;
    max-width: 100%;
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .advertising__subtitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .advertising__subtitle {
    font-size: 14px;
  }
}

.advertising__image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1490px) {
  .advertising__image-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .advertising__image-row img {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advertising__ipad {
  position: relative;
  padding-top: 50px;
  margin-right: -130px;
}

.advertising__ipad::before {
  content: url("../img/call-tracking/Vector-3.svg");
  position: absolute;
  right: -280px;
  top: 16px;
}

@media screen and (max-width: 1490px) {
  .advertising__ipad::before {
    display: none;
  }
}

.advertising__ipad::after {
  content: url("../img/call-tracking/Vector-4.svg");
  position: absolute;
  right: -212px;
  bottom: -5px;
}

@media screen and (max-width: 1490px) {
  .advertising__ipad::after {
    bottom: -270px;
    right: calc(50% - 30px);
    content: url("../img/call-tracking/Vector-7.svg");
  }
}

@media screen and (max-width: 1490px) {
  .advertising__ipad {
    margin-right: 0;
  }
}

.advertising__promotion-channels {
  position: relative;
  max-width: 61.5%;
  min-width: 61.5%;
  padding-left: 75px;
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels {
    padding-top: 0;
    margin-top: 400px;
    padding-left: 0;
  }
}

.advertising__promotion-channels .channel__item {
  position: absolute;
  text-align: center;
}

.advertising__promotion-channels .channel__item div {
  font-family: 'SanFrancisco Semibold', sans-serif;
  font-size: 45px;
  line-height: 53px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.advertising__promotion-channels .channel__item span {
  font-size: 30px;
  line-height: 126.69%;
  color: #F2F2F2;
}

.advertising__promotion-channels .channel__item:first-child {
  width: 290px;
  height: 206px;
  position: absolute;
  left: 208px;
  top: 37.3%;
}

.advertising__promotion-channels .channel__item:first-child::before {
  content: url("../img/call-tracking/Ellipse-21.svg");
  position: absolute;
  top: -30%;
  left: 0;
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels .channel__item:first-child {
    top: 18.8%;
    left: 193px;
  }
}

.advertising__promotion-channels .channel__item:nth-child(2) {
  width: 290px;
  height: 206px;
  position: absolute;
  right: 95px;
  top: 18.8%;
}

.advertising__promotion-channels .channel__item:nth-child(2)::before {
  content: url("../img/call-tracking/Ellipse-20.svg");
  position: absolute;
  top: -30%;
  left: 0;
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels .channel__item:nth-child(2) {
    right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .advertising__promotion-channels .channel__item:nth-child(2) {
    max-width: 543px;
    top: 40px !important;
  }
}

.advertising__promotion-channels .channel__item:nth-child(3) {
  width: 254px;
  height: 172px;
  position: absolute;
  right: 272px;
  bottom: 16.8%;
}

.advertising__promotion-channels .channel__item:nth-child(3)::before {
  content: url("../img/call-tracking/Ellipse-22.svg");
  position: absolute;
  top: -30%;
  left: 0;
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels .channel__item:nth-child(3) {
    top: 32%;
    left: 213px;
  }
}

@media screen and (max-width: 600px) {
  .advertising__promotion-channels .channel__item:nth-child(3) {
    max-width: 543px;
    top: 70px !important;
  }
}

.advertising__promotion-channels .channel__item:last-child {
  width: 290px;
  height: 206px;
  position: absolute;
  right: 2px;
  top: 47.8%;
}

.advertising__promotion-channels .channel__item:last-child::before {
  content: url("../img/call-tracking/Ellipse-19.svg");
  position: absolute;
  top: -32%;
  left: 0;
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels .channel__item:last-child {
    top: 32%;
    right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .advertising__promotion-channels .channel__item:last-child {
    max-width: 543px;
    top: 120px !important;
  }
}

@media screen and (max-width: 1490px) {
  .advertising__promotion-channels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 670px;
    min-width: 0;
  }
}

@media screen and (max-width: 600px) {
  .advertising__promotion-channels {
    max-width: 543px;
  }
}

@media screen and (max-width: 1490px) {
  .channel__item {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
  }
}

@media screen and (max-width: 1490px) and (max-width: 580px) {
  .channel__item:nth-child(2) {
    top: 25px !important;
  }
}

@media screen and (max-width: 1490px) {
  .channel__item:nth-child(3) {
    top: 30px !important;
  }
  .channel__item:last-child {
    top: 50px !important;
  }
}

/* Advertising-budget */
.advertising-budget {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.advertising-budget__title {
  margin-bottom: 40px;
  max-width: 888px;
  color: #fff;
}

.advertising-budget__text {
  margin-bottom: 45px;
  max-width: 797px;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #F2F2F2;
}

.advertising-budget-img img {
  max-width: 96%;
}

@media screen and (max-width: 1150px) {
  .advertising-budget__title {
    font-size: 50px;
    line-height: 1.3;
  }
  .advertising-budget__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 820px) {
  .advertising-budget__title {
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 30px;
    line-height: 1.3;
  }
  .advertising-budget__text {
    padding: 0 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .advertising-budget__title {
    padding: 0 10px;
    font-size: 25px;
    line-height: 1.3;
  }
  .advertising-budget__text {
    padding: 0 15px;
    font-size: 16px;
  }
}

/* Key-request */
.key-request {
  max-width: 984px;
  margin: 90px auto 0;
}

.key-request__title {
  max-width: 821px;
  color: #fff;
}

.key-request__text {
  margin-top: 35px;
  margin-left: 350px;
  max-width: 471px;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #F2F2F2;
}

@media screen and (max-width: 1150px) {
  .key-request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .key-request__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .key-request__title {
    font-size: 50px;
    line-height: 1;
  }
  .key-request__text {
    margin-top: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .key-request__title {
    font-size: 30px;
  }
  .key-request__text {
    padding: 0 10px;
    font-size: 18px;
  }
}

/* Numbers */
.numbers {
  max-width: 1500px;
  margin: 190px auto 0;
}

.numbers__title {
  margin-bottom: 135px;
  color: #fff;
}

.numbers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers__item {
  margin: 0 46px 0 0;
}

.numbers__item a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #F2F2F2;
}

.numbers__subtitle {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 102.4%;
  color: #fff;
}

.numbers__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

@media screen and (max-width: 1520px) {
  .numbers {
    padding: 0 10px;
  }
  .numbers__subtitle {
    font-size: 37px;
  }
}

@media screen and (max-width: 1239px) {
  .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .numbers__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .numbers__item {
    margin: 0 auto 60px;
  }
  .numbers__subtitle {
    margin-bottom: 20px;
  }
  .numbers__text {
    max-width: 500px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .numbers__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .numbers__title {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .numbers__item {
    margin-bottom: 80px;
  }
  .numbers__item a {
    font-size: 20px;
  }
  .numbers__subtitle {
    font-size: 25px;
  }
  .numbers__text {
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  .numbers__title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .numbers__item a {
    font-size: 16px;
  }
  .numbers__subtitle {
    font-size: 18px;
  }
  .numbers__text {
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 18px;
  }
}

.forget-it ~ .device, .forget-it ~ .function-wrapper {
  background: #fff;
  color: #000 !important;
}

.forget-it ~ .device {
  padding-top: 75px;
}

.forget-it ~ .function-wrapper {
  margin-top: -2px;
  padding-bottom: 189px;
}

.function-wrapper {
  margin-top: -30px;
}

.numbers ~ .footer .footer__button-wrapper {
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  border-radius: 30px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.numbers ~ .footer .footer__button {
  display: inline-block;
  text-align: center;
  padding: 16px 35px;
  color: #fff;
  background: #F5E9DD;
  border-radius: 30px;
  cursor: pointer;
}

.numbers ~ .footer .footer__button a {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.numbers ~ .footer .footer .footer .footer__button a {
  font-size: 17px !important;
}

.numbers ~ .footer .footer__button {
  background: #000;
}

.numbers ~ .footer .footer__button-wrapper {
  margin-top: 57px;
}
