@font-face {
	font-family: 'SanFrancisco Regular';
	src: url('../fonts/SFUIText-Regular.eot');
	src: url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText-Regular.woff') format('woff'),
	url('../fonts/SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SanFrancisco Semibold';
	src: url('../fonts/SFUIText-Semibold.eot');
	src: url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText-Semibold.woff') format('woff'),
	url('../fonts/SFUIText-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'SanFrancisco Regular', sans-serif;
	font-size: 25px;
	letter-spacing: -1.3px;
}