.header {
  height: 67px;
  position: fixed;
  top: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.header__wrapper {
  max-width: 1437px;
  width: calc(100% - 44px);
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu-btn {
  position: absolute;
  top: calc(50% - 14px);
  left: 12px;
  display: none;
  width: 17px;
  height: 9px;
  padding: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__menu-btn span {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__menu-btn span:first-child {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  z-index: 1;
  top: 11px;
}

.header__menu-btn span:last-child {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  top: 19px;
  z-index: 1;
}

.header__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 628px;
  max-width: 100%;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

.header__menu ul::-webkit-scrollbar {
  width: 0;
}

.header__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #fff;
}

.header__client {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__avatar {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}

.header__form {
  display: none;
  position: relative;
  max-width: 584px;
  margin: auto;
}

.header__form::after {
  content: "";
  height: 1px;
  color: #fff;
  width: 100vw;
  position: absolute;
  bottom: -10px;
}

.header__form i {
  color: #6e6e73;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 36px;
  width: 29px;
  text-align: center;
}

.header__form input {
  background: #1d1d1f;
  width: 100%;
  color: #fff;
  padding-left: 30px;
  height: 36px;
  line-height: 36px;
  font-size: 17px;
  border-radius: 8px;
}

.header__form input:placeholder {
  color: #6e6e73;
}

.header-bottom {
  position: fixed;
  top: 67px;
  padding-top: 14px;
  padding-bottom: 23px;
  width: 100%;
  background: rgba(242, 242, 242, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 111;
}

.header-bottom__wrapper {
  max-width: 1437px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header-bottom__wrapper a:first-child {
  margin-left: 0;
}

.header__item {
  margin-left: 38px;
  margin-right: 38px;
  text-align: center;
}

.header__item-text {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  letter-spacing: 0;
}

/* media */
@media screen and (max-width: 910px) {
  .header__wrapper {
    width: 100%;
  }
  .header__logo {
    z-index: 11111;
    margin-right: 0;
  }
  .header__client {
    z-index: 11111;
    width: 100vw;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 22px;
  }
  .header__menu-btn {
    display: block;
    z-index: 111111;
  }
  .header__navigation {
    width: 100vw;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__menu ul {
    background: #000;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 40px;
    height: 0;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 40px;
  }
  .header__menu ul form {
    padding-top: 55px;
  }
  .header__menu ul li:nth-child(2) {
    padding-top: 55px;
  }
  .header__menu ul li {
    max-width: 584px;
    margin: auto;
  }
  .header__menu ul li a {
    display: block;
    border-bottom: 1px solid #424245;
    line-height: 44px;
  }
  .header__form {
    display: block;
  }
  .header__search {
    display: none;
  }
  .header-active {
    background: #000;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .header-bottom {
    display: none;
  }
}

.menu-active {
  height: 100vh !important;
  display: block;
}

.hamburger-active span {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  left: 12px;
}

.hamburger-active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

.hamburger-active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
}

/* second-level */
.menu__second-level {
  display: none !important;
}

.menu__second-level li a {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: none !important;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px !important;
  letter-spacing: 1px;
}

.menu__second-level .level__item-text {
  padding-left: 30px;
}

.second-level-active {
  display: block !important;
}

.header__menu-hidden {
  display: none !important;
}

.second-level__back {
  padding-top: 60px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 584px;
  margin: auto;
  position: relative;
}

.second-level__back i {
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: -20px;
  padding: 20px;
}

.second-level__back div {
  text-align: center;
}

@media screen and (min-width: 911px) {
  .header__menu ul li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
