.html-fixed {
  max-height: 100vh !important;
}

.html-scroll {
  overflow-y: scroll;
}

.header {
  height: 44px;
  z-index: 111111111111111111111111111111111111111111111;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  -webkit-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1);
  -o-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1);
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.header-wrapper {
  width: 100%;
  height: 517px;
  background: url("../img/header/Rectangle 205.jpg") no-repeat center/cover;
}

.header__text {
  max-width: 1437px;
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}

.header__title {
  font-family: "SanFrancisco Semibold", sans-serif;
  font-size: 100px;
  line-height: 1.17;
  color: #FFF;
  padding-bottom: 92px;
}

.header__subtitle {
  max-width: 392px;
  margin-right: -172px;
  font-size: 24px;
  line-height: 1.1667;
  color: #FFF;
  padding-bottom: 43px;
  letter-spacing: -.1px;
}

.header__inner {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 44px;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__menu-btn span {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__menu-btn span:first-child {
  display: block;
  width: 17px;
  height: 1px;
  background: #ccc;
  border-radius: 0.5px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 4px);
}

.header__menu-btn span:last-child {
  display: block;
  width: 17px;
  height: 1px;
  background: #ccc;
  border-radius: 0.5px;
  position: absolute;
  top: calc(50% + 4px);
  z-index: 1;
}

.header__menu-btn:hover span {
  background: #fff;
}

.header__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__logo {
  margin-right: 10px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.header__logo a {
  max-height: 20px;
}

.header__logo a img {
  max-height: 20px;
}

.header__logo-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.header__logo-1 a {
  max-height: 20px;
}

.header__logo-1 a img {
  max-height: 20px;
}

.header__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  z-index: 111111111111111111;
  -webkit-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  -o-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.header__menu ul::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 767px) {
  .header__menu ul {
    background: rgba(0, 0, 0, 0.8);
  }
}

.header__search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search:hover {
  cursor: pointer;
}

.header__search-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-1:hover {
  cursor: pointer;
}

.header__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .5px;
  color: #f5f5f7;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  font-family: 'SanFrancisco Light', sans-serif;
}

.header__link i {
  display: none;
  margin-right: 10px;
}

.header__link:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 17px;
    color: #ccc;
  }
}

.header__client {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

.header__client div {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__client:hover {
  cursor: pointer;
}

.header__avatar {
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
}

.header__avatar img {
  width: 28px;
  height: 28px;
}

.header__avatar-1 {
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
}

.header__avatar-1 img {
  width: 28px;
  height: 28px;
}

.header__form {
  display: none;
  position: relative;
  max-width: 584px;
  margin: auto;
}

.header__form::after {
  content: "";
  height: 1px;
  color: #fff;
  width: 100vw;
  position: absolute;
  bottom: -10px;
}

.header__form img {
  color: #6e6e73;
  font-size: 14px;
  position: absolute;
  bottom: 50%;
  left: 10px;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  line-height: 36px;
  width: 12px;
  text-align: center;
  z-index: 11111;
}

@media screen and (max-width: 662px) {
  .header__form img {
    left: -20px;
  }
}

.header__form input {
  background: #1d1d1f;
  width: 100%;
  color: #fff;
  padding-left: 30px;
  padding-right: 31px;
  height: 36px;
  line-height: 36px;
  font-size: 17px;
  border-radius: 8px;
}

@media screen and (max-width: 662px) {
  .header__form input {
    position: absolute;
    left: -30px;
    width: calc(100vw - 20px);
  }
}

@media screen and (max-width: 767px) {
  .header__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 662px) {
  .header__form {
    height: 36px;
  }
}

.header__form input::-webkit-input-placeholder {
  color: #6e6e73;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form input:-ms-input-placeholder {
  color: #6e6e73;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form input::-ms-input-placeholder {
  color: #6e6e73;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form input::placeholder {
  color: #6e6e73;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form .mobile-menu_active::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form .mobile-menu_active:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form .mobile-menu_active::-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form .mobile-menu_active::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__form .mobile-search_active {
  width: calc(100% - 105px);
}

.header__form .mobile-search_active ~ .mobile-search__button {
  opacity: 1;
}

@media screen and (max-width: 662px) {
  .header__form .mobile-search_active {
    width: calc(100vw - 129px);
  }
}

.header-bottom {
  padding-top: 14px;
  padding-bottom: 23px;
  margin-top: 44px;
  height: 127px;
  width: 100%;
  background: #F2F2F2;
  z-index: 111;
  font-weight: 500;
  display: none;
}

.header-bottom__possibility {
  max-width: 1000px;
  margin: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.header-bottom__possibility a:first-child {
  margin-left: 0;
}

.header-bottom__contact {
  max-width: 1000px;
  margin: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.header-bottom__contact a:first-child {
  margin-left: 0;
}

@media screen and (max-width: 860px) {
  .header-bottom__contact {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header__item {
  text-align: center;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__item-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  letter-spacing: -.1px;
}

.header .header-bottom__contact .header__item {
  margin: 0px 53px;
}

.header__info {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: .3px;
  position: relative;
  margin-left: 33px;
}

.header__info div {
  margin: 3px 0;
}

@media screen and (max-width: 767px) {
  .header__info div {
    font-family: 'SanFrancisco Light', sans-serif;
  }
  .header__info div a {
    color: #ccc;
  }
  .header__info div a:hover {
    color: #fff;
  }
}

.header__info::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 53px;
  background: #828282;
  top: 50%;
  left: -22px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media screen and (max-width: 860px) {
  .header__info {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__info {
    margin: 0;
    text-align: left;
  }
  .header__info div a {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header__info::before {
    display: none;
  }
}

.header__search-quick {
  position: absolute;
  top: 44px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 682.656px;
  width: 66.66667%;
  max-height: calc(100% - 44px);
  line-height: 2;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 18px 18px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  z-index: 1;
}

.header__search-quick-inner {
  margin: 0 40px;
  padding: 24px 0 18px;
}

.header__search-quick-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .2s .25s;
  -o-transition: .2s .25s;
  transition: .2s .25s;
}

@media screen and (max-width: 767px) {
  .header__search-quick {
    display: none;
  }
}

.db {
  display: block;
}

.db1 {
  display: block;
}

.search-quick__title {
  font-size: 12px;
  line-height: 1.33337;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-transform: uppercase;
  color: #6e6e73;
}

.search-quick__links {
  padding-top: 5px;
}

.search-quick__item {
  margin: 6px -32px;
}

.search-quick__item a {
  color: #1d1d1f;
  display: block;
  padding: 0 48px;
  font-size: 14px;
}

.search-quick__item a:hover {
  color: #0167CC;
  background: #F5F5F7;
}

.header__contact i {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.angle-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.contact__item {
  margin: 0px 37px;
}

@media screen and (max-width: 860px) {
  .contact__item {
    margin: 0;
  }
}

.menu-bottom_active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop__form {
  opacity: 0;
  max-width: 682.656px;
  width: 0;
  margin: auto;
  position: relative;
  height: 100%;
}

.desktop__form img {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  color: #86868b;
  width: 16px;
}

.desktop__form-active {
  opacity: 1;
  width: 66.66667vw;
  -webkit-transition: opacity .5s .5s;
  -o-transition: opacity .5s .5s;
  transition: opacity .5s .5s;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.desktop__form .form__button {
  width: 38px;
  height: 100%;
  background: none;
  position: absolute;
  right: 0;
}

.desktop__form .button__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.desktop__form .button__wrapper span {
  height: 18px;
  width: 1px;
  background: #86868b;
  position: absolute;
  display: block;
  border-radius: 0.5px;
  top: 11px;
  z-index: 1;
}

.desktop__form .button__wrapper .form__button-left {
  right: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.desktop__form .button__wrapper .form__button-right {
  left: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.desktop__form .button__wrapper:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .desktop__form {
    display: none;
  }
}

.desktop__input {
  height: 100%;
  max-width: 100%;
  width: 100%;
  padding: 0 38px 0 100px;
  background: transparent;
  font-size: 17px;
  line-height: 1.29412;
  color: #fff;
  -webkit-transition: .5s .5s;
  -o-transition: .5s .5s;
  transition: .5s .5s;
}

.desktop__input::-webkit-input-placeholder {
  color: #6E6E73;
}

.desktop__input:-ms-input-placeholder {
  color: #6E6E73;
}

.desktop__input::-ms-input-placeholder {
  color: #6E6E73;
}

.desktop__input::placeholder {
  color: #6E6E73;
}

.desktop__input-active {
  padding: 0 38px 0 39px !important;
}

/* media */
@media screen and (max-width: 1620px) {
  .header__subtitle {
    margin-right: -50px;
  }
}

@media screen and (max-width: 1190px) {
  .header__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__subtitle {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    width: 100%;
  }
  .header__logo {
    z-index: 111111111;
    margin-right: 0;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .header__logo-1 {
    display: none;
  }
  .header__client {
    z-index: 11111;
    width: 100vw;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 22px;
  }
  .header__menu-btn {
    display: block;
    z-index: 111111;
  }
  .header__navigation {
    width: 100vw;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__menu ul {
    width: 100vw;
    position: absolute;
    left: 0;
    margin-top: 44px;
    height: 0;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 40px;
  }
  .header__menu ul li {
    max-width: 584px;
    margin: auto;
  }
  .header__menu ul li a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0;
    border-bottom: 1px solid #424245;
    line-height: 44px;
  }
  .header__search {
    display: none;
  }
  .header__client {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__search-1 {
    display: none;
  }
  .header__avatar-1 {
    display: none;
  }
  .header-active {
    background: #000;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    -webkit-transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), margin-top 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
    -o-transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), margin-top 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
    transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), margin-top 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  }
  .header-search-active {
    margin-top: -44px;
  }
  .header-bottom {
    display: none !important;
  }
  .header__link i {
    display: block;
  }
}

.mobile-menu__possibility li:nth-child(2) {
  padding-top: 17px;
}

@media screen and (max-width: 662px) {
  .mobile-menu__possibility li:nth-child(2) {
    padding-top: 53px;
  }
}

@media screen and (max-width: 850px) {
  .header__title {
    font-size: 65px;
  }
  .header__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .header__title {
    font-size: 37.7px;
  }
}

.hamburger-active span {
  top: 50%;
}

.hamburger-active span:first-child {
  -webkit-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  top: 50%;
  left: calc(50% - 9.7px);
}

.hamburger-active span:last-child {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  -ms-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  top: 50%;
  left: calc(50% - 9px);
}

/* second-level */
.menu__second-level {
  display: none !important;
}

.menu__second-level a {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: none !important;
  margin: 17px 0;
  font-size: 17px;
  line-height: 20px !important;
  letter-spacing: 0;
}

.menu__second-level .level__item-text {
  padding-left: 13px;
  color: #ccc;
  font-family: 'SanFrancisco Light', sans-serif;
}

.menu__second-level .level__item-text:hover {
  color: #fff;
}

.menu__second-level .level__item-img img {
  min-width: 30px;
  max-width: 30px;
}

.menu__second-level li {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}

.menu__second-level li:nth-child(2) {
  transition: opacity 0.3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s, -webkit-transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s;
}

.menu__second-level li:nth-child(3) {
  transition: opacity 0.29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.13s, transform 0.45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.095s, -webkit-transform 0.45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.095s;
}

.menu__second-level li:nth-child(4) {
  transition: opacity 0.26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.11s, transform 0.43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.082s, -webkit-transform 0.43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.082s;
}

.menu__second-level li:nth-child(5) {
  transition: opacity 0.2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09s, transform 0.42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.069s, -webkit-transform 0.42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.069s;
}

.menu__second-level li:nth-child(6) {
  transition: opacity 0.22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.07s, transform 0.42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.056s, -webkit-transform 0.42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.056s;
}

.menu__second-level li:nth-child(7) {
  transition: opacity 0.22261s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.05s, transform 0.4205s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.043s, -webkit-transform 0.4205s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.043s;
}

/* contact-level */
.contact-level {
  display: none;
}

.contact-level a {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: none !important;
  margin: 17px 0;
  font-size: 16.5px;
  line-height: 20px !important;
  letter-spacing: 0;
}

.contact-level .level__item-text {
  padding-left: 13px;
  color: #ccc;
  font-family: 'SanFrancisco Light', sans-serif;
}

.contact-level .level__item-img img {
  min-width: 30px;
  max-width: 30px;
}

.level__item:hover .level__item-text {
  color: #fff;
}

.second-level-active {
  display: block !important;
}

.header__menu-hidden {
  display: none !important;
}

.second-level__back {
  margin-top: 17px;
  color: #6e6e73;
  text-align: center;
  font-size: 18px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 584px;
  margin: auto;
  position: relative;
  background: #1d1d1f;
  width: 100%;
  border-radius: 8px;
  -webkit-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  height: 0;
  opacity: 0;
  padding: 0 9px 0 30px;
}

.second-level__back i {
  color: #6e6e73;
  font-size: 14px;
  position: absolute;
  left: 0px;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.second-level__back div {
  text-align: center;
  color: #6e6e73;
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

@media screen and (max-width: 662px) {
  .second-level__back {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: calc(100vw - 20px);
  }
}

.menu-active .second-level__back {
  height: 36px;
  opacity: 1;
  padding: 9px 9px 9px 30px;
  -webkit-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, padding 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
}

.menu-active .second-level__back div {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.menu-active .second-level__back i {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

@media screen and (min-width: 768px) {
  .header__menu ul li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.btns-hidden .header__navigation .header__logo {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition-delay: .35s;
  -o-transition-delay: .35s;
  transition-delay: .35s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.btns-hidden .header__client div {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.btns-hidden .header__client div:first-child {
  -webkit-transition-delay: .05s;
  -o-transition-delay: .05s;
  transition-delay: .05s;
}

.btns-hidden .header__client div:last-child {
  -webkit-transition-delay: .015s;
  -o-transition-delay: .015s;
  transition-delay: .015s;
}

.btns-hidden .header__navigation .header__menu ul li a {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.btns-hidden .header__navigation .header__menu ul li {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.btns-hidden .header__navigation .header__menu div img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.desktop-ul {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.desktop-ul-active {
  z-index: -1 !important;
}

.desktop-ul form {
  height: 0;
  -webkit-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s;
  -o-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s;
  transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s;
}

.desktop-ul form input {
  height: 0;
  -webkit-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: height 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  z-index: 111;
}

.desktop-ul form img {
  opacity: 0;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

@media screen and (max-width: 767px) {
  .desktop-ul li {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
  }
  .desktop-ul li:nth-child(2) {
    padding-top: 17px;
  }
}

.desktop-ul div img {
  transition: opacity 0.3585s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.68s, transform 0.47s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.203s, -webkit-transform 0.47s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.203s;
}

.desktop-ul li:nth-child(2) {
  transition: opacity 0.3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s, -webkit-transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s;
}

.desktop-ul li:nth-child(3) {
  transition: opacity 0.29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.13s, transform 0.45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.095s, -webkit-transform 0.45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.095s;
}

.desktop-ul li:nth-child(4) {
  transition: opacity 0.26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.11s, transform 0.43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.082s, -webkit-transform 0.43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.082s;
}

.desktop-ul li:nth-child(5) {
  transition: opacity 0.2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09s, transform 0.42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.069s, -webkit-transform 0.42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.069s;
}

.desktop-ul li:nth-child(6) {
  transition: opacity 0.22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.07s, transform 0.42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.056s, -webkit-transform 0.42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.056s;
}

.desktop-ul li:nth-child(7) {
  transition: opacity 0.22261s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.05s, transform 0.4205s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.043s, -webkit-transform 0.4205s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.043s;
}

.desktop-ul li:nth-child(8) {
  transition: opacity 0.20661s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, transform 0.41339s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, -webkit-transform 0.41339s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s;
}

.desktop-ul li:nth-child(9) {
  transition: opacity 0.195s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0s, transform 0.4s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0s, -webkit-transform 0.4s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0s;
}

.menu-ul {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: -1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
}

@media screen and (min-width: 768px) {
  .menu-ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

.menu-active {
  height: calc(100vh - 44px) !important;
  display: block;
  background: #000 !important;
  -webkit-transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  -o-transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  z-index: 1111111;
}

.menu-active form {
  height: 36px;
  -webkit-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s;
  -o-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s;
  transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s;
}

.menu-active form input {
  height: 36px;
  -webkit-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, width 0.28s cubic-bezier(0.32, 0.08, 0.24, 1);
}

.menu-active form img {
  opacity: 1;
  -webkit-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  -o-transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
  transition: opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.menu-active li {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}

.menu-active div img {
  transition: opacity 0.2791s cubic-bezier(0.32, 0.08, 0.24, 1) 0.01s, transform 0.3325s cubic-bezier(0.32, 0.08, 0.24, 1) 0s, -webkit-transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0s;
}

.menu-active li:nth-child(2) {
  transition: opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s, transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s, -webkit-transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
}

.menu-active li:nth-child(3) {
  transition: opacity 0.32244s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05s, transform 0.35825s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, -webkit-transform 0.35825s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s;
}

.menu-active li:nth-child(4) {
  transition: opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s, transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s, -webkit-transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
}

.menu-active li:nth-child(5) {
  transition: opacity 0.34577s cubic-bezier(0.32, 0.08, 0.24, 1) 0.09s, transform 0.39692s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08s, -webkit-transform 0.39692s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08s;
}

.menu-active li:nth-child(6) {
  transition: opacity 0.35577s cubic-bezier(0.32, 0.08, 0.24, 1) 0.11s, transform 0.42286s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s, -webkit-transform 0.42286s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.menu-active li:nth-child(7) {
  transition: opacity 0.36464s cubic-bezier(0.32, 0.08, 0.24, 1) 0.13s, transform 0.45318s cubic-bezier(0.32, 0.08, 0.24, 1) 0.12s, -webkit-transform 0.45318s cubic-bezier(0.32, 0.08, 0.24, 1) 0.12s;
}

.menu-active li:nth-child(8) {
  transition: opacity 0.37404s cubic-bezier(0.32, 0.08, 0.24, 1) 0.15s, transform 0.48518s cubic-bezier(0.32, 0.08, 0.24, 1) 0.14s, -webkit-transform 0.45318s cubic-bezier(0.32, 0.08, 0.24, 1) 0.14s;
}

.menu-active li:nth-child(9) {
  transition: opacity 0.38464s cubic-bezier(0.32, 0.08, 0.24, 1) 0.15s, transform 0.5132s cubic-bezier(0.32, 0.08, 0.24, 1) 0.14s, -webkit-transform 0.45318s cubic-bezier(0.32, 0.08, 0.24, 1) 0.14s;
}

.desktop-active {
  display: none;
}

.link-6 {
  -webkit-transition-delay: .105s;
  -o-transition-delay: .105s;
  transition-delay: .105s;
}

.link-5 {
  -webkit-transition-delay: .140s;
  -o-transition-delay: .140s;
  transition-delay: .140s;
}

.link-4 {
  -webkit-transition-delay: .175s;
  -o-transition-delay: .175s;
  transition-delay: .175s;
}

.link-3 {
  -webkit-transition-delay: .210s;
  -o-transition-delay: .210s;
  transition-delay: .210s;
}

.link-2 {
  -webkit-transition-delay: .245s;
  -o-transition-delay: .245s;
  transition-delay: .245s;
}

.link-1 {
  -webkit-transition-delay: .280s;
  -o-transition-delay: .280s;
  transition-delay: .280s;
}

.background {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0;
  background: rgba(0, 0, 0, 0.48);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  z-index: -1;
}

.background-active {
  opacity: 1;
  z-index: 1;
}

.mobile-search__button {
  height: 100%;
  background: none;
  opacity: 0;
  margin-left: 10px;
  padding: 0 8px;
  position: absolute;
  right: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mobile-search__button span {
  font-size: 17px;
  line-height: 1.23536;
  letter-spacing: -.022em;
  color: #2997ff;
}

@media screen and (max-width: 662px) {
  .mobile-search__button {
    right: -27px;
  }
}

.search-ul {
  height: 100vh !important;
  min-height: 100vh;
  padding: 16px 40px 0 !important;
  -webkit-transition: height none, padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  -o-transition: height none, padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  transition: height none, padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
}

.mobile-search__close {
  height: 100%;
  width: 30px;
  z-index: -1;
  position: absolute;
  right: 106px;
  background: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mobile-search__close span {
  width: 15px;
  height: 16px;
  background-size: 15px 16px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalnav/5/en_US/images/globalnav/search/reset_small.svg");
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.mobile-search__close_active {
  opacity: 1;
}

.mobile-search__close_active-1 {
  z-index: 1111;
}

@media screen and (max-width: 662px) {
  .mobile-search__close {
    right: 80px;
  }
}

.mobile-menu-searchview {
  display: none;
  opacity: 0;
}

.searchview {
  opacity: 0;
  position: absolute;
  width: 100%;
  max-width: 100%;
  left: 0;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
  z-index: -11111;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  -webkit-transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  display: none;
}

.searchview li {
  padding-top: 0 !important;
}

.searchview a {
  font-size: 14px;
  font-family: "SanFrancisco Regular", sans-serif;
  color: #fff;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .searchview {
    display: block;
  }
}

.searchview__title .header__link {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33337;
}

.searchview__title a {
  color: #86868b;
}

.searchview_active {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 111;
  -webkit-transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
}

.searchview_hidden {
  opacity: 0;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  z-index: -11111111111111;
  -webkit-transition: opacity 0.28s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.28s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1);
  -o-transition: opacity 0.28s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.28s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: opacity 0.28s cubic-bezier(0.32, 0.08, 0.24, 1), transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1), -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1);
}
