@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background: #F4F4F4;
}

/* blocks BEM */
.block-title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
}

.block-subtitle {
  font-size: 24px;
  line-height: 116.6666666666667%;
  color: #828282;
}

/* mixins */
.title {
  font-family: 'SanFrancisco Semibold';
  font-size: 100px;
  line-height: 95.4%;
}

.title h1 {
  color: #27AE60;
  display: inline-block;
}

.title-3 {
  font-family: 'SanFrancisco Semibold';
  font-size: 100px;
  line-height: 95.4%;
}

.title-3 h1 {
  background: -webkit-linear-gradient(344.48deg, #80E0FF -0.39%, #855AFF 37.78%);
  background: -o-linear-gradient(344.48deg, #80E0FF -0.39%, #855AFF 37.78%);
  background: linear-gradient(105.52deg, #80E0FF -0.39%, #855AFF 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.subtitle {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
}

/* Introduction */
.introduction {
  padding-top: 260px;
  text-align: center;
  width: 100%;
  height: 770px;
  background: url("../img/introduction/bg.png") no-repeat center/cover;
}

.introduction__title {
  margin-bottom: 45px;
}

.introduction__text {
  max-width: 1030px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 117.5%;
  color: #828282;
}

@media screen and (max-width: 1000px) {
  .introduction {
    background: none;
    height: 100%;
    padding-top: 150px;
    margin-bottom: 150px;
  }
  .introduction__title {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .introduction__text {
    max-width: 700px;
    font-size: 24px;
  }
}

@media screen and (max-width: 660px) {
  .introduction__title {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .introduction__text {
    max-width: 500px;
    font-size: 20px;
  }
}

@media screen and (max-width: 470px) {
  .introduction__title {
    font-size: 30px;
  }
  .introduction__text {
    padding: 0 10px;
  }
}

/* Stages */
.stages {
  max-width: 1430px;
  margin: 240px auto 0px;
}

.stages__row {
  margin-left: 17px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stages__row:nth-child(2) {
  margin-top: 105px;
  max-width: 771px;
}

.stages__row:nth-child(2) .stages__subtitle {
  color: #2D9CDB;
}

.stages__row:nth-child(3) {
  margin-top: 50px;
  margin-right: 40px;
  float: right;
  max-width: 538px;
}

.stages__row:nth-child(3) .stages__subtitle {
  color: #F2994A;
}

.stages__row:nth-child(4) {
  margin-top: 170px;
  margin-left: 30px;
  max-width: 626px;
}

.stages__row:nth-child(4) .stages__subtitle {
  color: #EB5757;
}

.stages__row:last-child {
  margin-top: 10px;
  margin-right: 120px;
  float: right;
  max-width: 538px;
}

.stages__row:last-child .stages__subtitle {
  color: #00B372;
}

.stages__subtitle {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 40px;
  line-height: 117.5%;
}

.stages__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 166.6666667%;
  color: #828282;
}

.stages-img img {
  position: absolute;
  top: 10px;
  right: -280px;
}

.stages-img-2 img {
  position: absolute;
  top: 10px;
  left: -550px;
}

.stages-img-3 img {
  position: absolute;
  top: 177px;
  left: 710px;
}

@media screen and (max-width: 1460px) {
  .stages {
    padding: 0 10px;
  }
  .stages-img-3 img {
    left: 650px;
  }
}

@media screen and (max-width: 1239px) {
  .stages {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stages__title {
    text-align: center;
    font-size: 50px;
  }
  .stages-img {
    display: none;
  }
  .stages-img-2 {
    display: none;
  }
  .stages-img-3 {
    display: none;
  }
  .stages__subtitle {
    margin-bottom: 0;
  }
  .stages__row {
    display: block;
    text-align: center;
    float: none;
    margin-top: 0;
    margin-left: 0;
  }
  .stages__row:nth-child(2) {
    margin-top: 20px;
  }
  .stages__row:nth-child(2):after {
    content: "";
    display: block;
    margin: 100px auto;
    width: 142px;
    height: 24px;
    background: url("../img/introduction/Arrow.png");
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .stages__row:nth-child(3) {
    margin-top: 0;
    margin-right: 0;
  }
  .stages__row:nth-child(3):after {
    content: "";
    display: block;
    margin: 100px auto;
    width: 142px;
    height: 24px;
    background: url("../img/introduction/Arrow.png");
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .stages__row:nth-child(4) {
    margin-top: 0;
    margin-left: 0;
  }
  .stages__row:nth-child(4):after {
    content: "";
    display: block;
    margin: 100px auto;
    width: 142px;
    height: 24px;
    background: url("../img/introduction/Arrow.png");
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .stages__row:last-child {
    margin-top: 0;
    margin-right: 0;
    float: none;
  }
}

@media screen and (max-width: 520px) {
  .stages__title {
    font-size: 30px;
  }
  .stages__subtitle {
    font-size: 25px;
  }
  .stages__text {
    font-size: 20px;
    line-height: 1.3;
  }
}

/* Сost */
.cost {
  margin: 455px auto 0px;
}

.cost__title {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}

.cost__content {
  margin: -20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cost-img-1 {
  margin-top: 330px;
  margin-left: -690px;
}

.cost__col {
  margin-left: -200px;
}

.cost__block-info {
  margin-top: -110px;
  margin-left: 170px;
}

.cost__subtitle {
  margin-bottom: 20px;
  max-width: 872px;
}

.cost__text {
  max-width: 808px;
  font-weight: 400;
  font-size: 25px;
  line-height: 116%;
  color: #828282;
}

.cost__button {
  font-size: 24px;
  line-height: 116.6666666666667%;
  margin-top: 45px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F4F4F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 80px;
  max-width: 450px;
}

.cost__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: #2D9CDB;
}

.cost__button a {
  color: #2D9CDB;
  padding: 18px 35px;
}

.cost__button a {
  padding: 18px 75px;
}

@media screen and (max-width: 1600px) {
  .cost__title {
    font-size: 60px;
  }
  .cost__col {
    margin-left: -300px;
  }
  .cost-img-1 {
    margin-left: -400px;
  }
}

@media screen and (max-width: 1239px) {
  .cost {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .cost__title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .cost__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cost__col {
    margin-left: 0;
  }
  .cost-img-1 {
    display: none;
  }
  .cost-img-2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cost-img-2 img {
    max-width: 132%;
  }
  .cost__subtitle {
    font-size: 40px;
    line-height: 1.3;
    max-width: 472px;
  }
  .cost__text {
    max-width: 608px;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .cost__title {
    max-width: 350px;
    font-size: 30px;
  }
  .cost__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cost__col {
    margin-left: 0;
  }
  .cost__block-info {
    padding: 0 10px;
    text-align: center;
    margin-top: -50px;
    margin-left: 0;
  }
  .cost__subtitle {
    margin: 0 auto 5px;
    font-size: 25px;
    max-width: 272px;
  }
  .cost__text {
    margin: 0 auto;
    max-width: 508px;
  }
  .cost__button {
    margin: 30px auto 0;
    width: 340px;
  }
  .cost__button a {
    padding: 13px 20px;
  }
}

@media screen and (max-width: 430px) {
  .cost {
    margin-top: 100px;
  }
  .cost__title {
    max-width: 300px;
    font-size: 25px;
  }
  .cost__block-info {
    margin-top: 0;
  }
  .cost__button {
    margin: 30px auto 0;
    width: 270px;
  }
  .cost__button a {
    padding: 13px 10px;
    font-size: 20px;
  }
}

/* Additional-services */
.additional-services {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.additional-services__col-1 {
  margin-top: 455px;
}

.additional-services__subtitle {
  margin-bottom: 20px;
  max-width: 805px;
}

.additional-services__text {
  max-width: 625px;
  font-weight: 400;
  font-size: 25px;
  line-height: 116%;
  color: #828282;
}

.additional-services__button {
  font-size: 24px;
  line-height: 116.6666666666667%;
  margin-top: 45px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F4F4F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 80px;
  max-width: 450px;
}

.additional-services__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: #2D9CDB;
}

.additional-services__button a {
  color: #2D9CDB;
  padding: 18px 35px;
}

.additional-services__button a {
  padding: 18px 75px;
}

.additional-services__col-2 {
  margin-top: -90px;
  margin-right: -500px;
}

@media screen and (max-width: 2090px) {
  .additional-services__col-1 {
    margin-right: -400px;
  }
}

@media screen and (max-width: 1920px) {
  .additional-services {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1520px) {
  .additional-services-img img {
    max-width: 1300px;
  }
  .additional-services__col-1 {
    margin-top: 200px;
    margin-right: -280px;
  }
  .additional-services__subtitle {
    max-width: 700px;
    font-size: 60px;
  }
}

@media screen and (max-width: 1239px) {
  .additional-services {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .additional-services__col-1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 0;
    margin-right: 0;
  }
  .additional-services__col-2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: -100px;
    margin-right: 0px;
  }
  .additional-services-img img {
    max-width: 100%;
  }
  .additional-services__subtitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .additional-services__col-1 {
    text-align: center;
  }
  .additional-services__subtitle {
    padding: 0 10px;
    margin: 0 auto 5px;
    font-size: 25px;
    line-height: 1.1;
  }
  .additional-services__text {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 525px;
    font-size: 20px;
  }
  .additional-services__button {
    margin: 30px auto 0;
    width: 340px;
  }
  .additional-services__button a {
    padding: 13px 22px;
  }
}

@media screen and (max-width: 430px) {
  .additional-services {
    margin-top: -70px;
  }
  .additional-services__subtitle {
    font-size: 22px;
  }
  .additional-services__button {
    margin: 30px auto 0;
    max-width: 290px;
  }
  .additional-services__button a {
    padding: 13px 15px;
    font-size: 20px;
  }
}

/* transition */
.transition {
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.transition__col:first-child {
  margin-left: -290px;
}

.transition__col:last-child {
  margin-top: 365px;
  margin-left: -55px;
}

.transition-img img {
  max-width: 100%;
}

.transition__subtitle {
  max-width: 727px;
  margin-bottom: 25px;
}

.transition__text {
  display: block;
  max-width: 590px;
  font-weight: 400;
  font-size: 25px;
  line-height: 116%;
  color: #828282;
}

@media screen and (max-width: 1815px) {
  .transition__col:first-child {
    margin-left: -130px;
  }
  .transition__col:last-child {
    margin-top: 365px;
    margin-left: -105px;
  }
}

@media screen and (max-width: 1690px) {
  .transition {
    padding: 0 20px;
  }
  .transition__subtitle {
    max-width: 500px;
    font-size: 50px;
    line-height: 1.3;
  }
  .transition__col:last-child {
    margin-top: 260px;
    margin-left: -80px;
  }
}

@media screen and (max-width: 1239px) {
  .transition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .transition__subtitle {
    font-size: 40px;
  }
  .transition__col:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 0;
  }
  .transition__col:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 50px;
    margin-left: -120px;
  }
  .transition-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .transition-img img {
    max-width: 139%;
  }
}

@media screen and (max-width: 800px) {
  .transition {
    margin-top: 0;
  }
  .transition__subtitle {
    margin: 0 auto 5px;
    font-size: 30px;
    line-height: 1.1;
  }
  .transition__text {
    margin: 0 auto;
    font-size: 18px;
  }
  .transition__col:last-child {
    text-align: center;
    margin-left: -0;
  }
}

@media screen and (max-width: 515px) {
  .transition__subtitle {
    font-size: 25px;
  }
}

/* gift */
.gift {
  margin-bottom: 165px;
}

.gift__title {
  margin: 45px auto 45px;
  max-width: 1474px;
  text-align: center;
  font-family: 'SanFrancisco Semibold';
  font-size: 100px;
  line-height: 95.4%;
  color: #4F4F4F;
}

.gift__title span {
  color: #27AE60;
}

.gift__button {
  font-size: 24px;
  line-height: 116.6666666666667%;
  margin-top: 45px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F4F4F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  max-width: 270px;
  margin: 0 auto;
}

.gift__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: #27AE60;
}

.gift__button a {
  color: #27AE60;
  padding: 18px 35px;
}

.gift__button a {
  padding: 18px 85px;
}

@media screen and (max-width: 1360px) {
  .gift {
    padding: 0 10px;
  }
  .gift__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 960px) {
  .gift {
    margin-bottom: 90px;
  }
  .gift__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 630px) {
  .gift__title {
    font-size: 30px;
  }
  .gift__button {
    max-width: 180px;
  }
  .gift__button a {
    padding: 13px 40px;
  }
}

@media screen and (max-width: 470px) {
  .gift {
    margin-bottom: 50px;
  }
  .gift__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .gift__title {
    font-size: 20px;
  }
}

/* Team */
.team__title {
  max-width: 1436px;
  margin: 0 auto 80px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.team-img img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .team__title {
    padding: 0 20px;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px) {
  .team__title {
    text-align: center;
    padding: 0 20px;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 405px) {
  .team__title {
    padding: 0;
    font-size: 23px;
    margin-bottom: 10px;
  }
}

.footer {
  background: #000;
  color: #fff;
}

.footer__button-wrapper {
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#F58948), to(#D57AA5));
  background: -webkit-linear-gradient(left, #F58948, #D57AA5);
  background: -o-linear-gradient(left, #F58948, #D57AA5);
  background: linear-gradient(to right, #F58948, #D57AA5);
  border-radius: 30px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 19px 25px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.footer__button a {
  font-size: 24px;
  background: -webkit-gradient(linear, left top, right top, from(#F58948), to(#D57AA5));
  background: -webkit-linear-gradient(left, #F58948, #D57AA5);
  background: -o-linear-gradient(left, #F58948, #D57AA5);
  background: linear-gradient(to right, #F58948, #D57AA5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

@media screen and (max-width: 470px) {
  .footer__button a {
    font-size: 15.8px;
  }
}

.footer__title span {
  background: -webkit-gradient(linear, left top, right top, from(#F58948), to(#D57AA5));
  background: -webkit-linear-gradient(left, #F58948, #D57AA5);
  background: -o-linear-gradient(left, #F58948, #D57AA5);
  background: linear-gradient(to right, #F58948, #D57AA5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__button-wrapper {
  margin: 57px auto 0;
  display: inline-block;
  position: relative;
  border-radius: 30px;
  padding: 1px;
  text-align: center;
}

.footer__button {
  background: #000;
}
