@charset "UTF-8";
body {
  background: #f4f4f4; }

/* blocks BEM */
.block-title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px; }

.block-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #828282; }

/* mixins */
.title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -1px; }
  .title p {
    background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }

.title-2 {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -2px; }
  .title-2 p {
    background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }

/* layout-main */
.layout-main__img {
  position: absolute; }
  .layout-main__img:first-child {
    left: 292px;
    top: 45px; }
  .layout-main__img:nth-child(2) {
    left: 26px;
    top: 502px; }
  .layout-main__img:nth-child(3) {
    right: 118px;
    top: 166px; }

.main__crm {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  padding-top: 386px; }

.crm__title {
  font-family: 'SanFrancisco Semibold';
  font-size: 100px;
  line-height: 117px;
  margin-left: 527px; }

.crm__subtitle {
  max-width: 999px;
  font-size: 40px;
  line-height: 47px;
  color: #828282;
  margin-left: 521px;
  margin-top: 22px; }

@media screen and (max-width: 1700px) {
  .crm__title {
    font-size: 80px;
    line-height: 97px; }
  .crm__subtitle {
    font-size: 25px;
    line-height: 32px; } }

@media screen and (max-width: 1475px) {
  .main__crm {
    padding: 386px 15px 0 15px; }
  .crm__title {
    font-size: 65px;
    line-height: 82px; }
  .crm__subtitle {
    font-size: 20px;
    line-height: 27px; }
  .layout-main__img:nth-child(2) {
    top: 602px; }
  .layout-main__img:nth-child(3) {
    right: 78px;
    top: 166px;
    display: none; } }

@media screen and (max-width: 1010px) {
  .layout-main__img:first-child {
    left: 332px;
    top: 45px; }
  .layout-main__img:nth-child(3) {
    right: 78px;
    top: 166px;
    display: none; }
  .crm__title {
    font-size: 50px;
    line-height: 67px; }
  .crm__subtitle {
    font-size: 18px;
    line-height: 25px; } }

@media screen and (max-width: 960px) {
  .layout-main__img:nth-child(2) {
    display: none; }
  .crm__title, .crm__subtitle {
    max-width: 100%;
    margin-left: 0; }
  .functions {
    padding-left: 10px; }
    .functions__title {
      padding-right: 10px;
      margin-bottom: -30px;
      font-size: 20px;
      letter-spacing: -.5px; }
    .functions__content {
      padding-right: 10px; }
      .functions__content img {
        max-width: 100%;
        margin: 40px 0; }
    .functions__text {
      max-width: 100%;
      text-align: justify;
      font-size: 20px;
      line-height: 29px; } }

@media screen and (max-width: 920px) {
  .layout-main__img:first-child {
    left: 20px; }
  .crm__title {
    font-size: 42px;
    line-height: 59px; }
  .crm__subtitle {
    font-size: 15px;
    line-height: 22px; } }

@media screen and (max-width: 690px) {
  .layout-main__img:first-child {
    display: none; } }

@media screen and (max-width: 480px) {
  .crm__title {
    font-size: 26px;
    line-height: 43px; } }

/* idea */
.idea {
  padding: 314px 10px 0; }
  .idea-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 160px; }
  .idea__title {
    font-family: 'SanFrancisco Semibold';
    font-size: 80px;
    line-height: 95.4%;
    text-align: center; }
    .idea__title span {
      background: linear-gradient(to right, #02A5A2, #0471BF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .idea__subtitle {
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #828282;
    max-width: 929px;
    margin: auto;
    padding-top: 10px; }
  .idea__ipad {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: auto;
    position: relative; }
    .idea__ipad .ipad__inner:first-child {
      margin: -8px 0 0 17px;
      left: 10px; }
      @media screen and (max-width: 1760px) {
        .idea__ipad .ipad__inner:first-child {
          margin-left: 0;
          margin: auto; }
          .idea__ipad .ipad__inner:first-child img {
            max-width: 100%; } }
    .idea__ipad .ipad__inner:last-child {
      position: absolute;
      margin-top: 200px;
      right: -170px; }
      @media screen and (max-width: 1760px) {
        .idea__ipad .ipad__inner:last-child {
          display: none; } }
  @media screen and (max-width: 960px) {
    .idea {
      padding-top: 100px; } }

@media screen and (max-width: 1760px) {
  .idea__subtitle {
    max-width: 100%; } }

.idea__text {
  max-width: 1180px;
  margin: -26px auto 0 auto; }
  .idea__text-inner {
    font-size: 25px;
    line-height: 136.69%;
    color: #828282;
    max-width: 736px;
    letter-spacing: -.5px; }
    .idea__text-inner span {
      font-family: 'SanFrancisco Semibold';
      color: #000; }
    @media screen and (max-width: 1760px) {
      .idea__text-inner {
        max-width: 100%; } }
    @media screen and (max-width: 1180px) {
      .idea__text-inner {
        text-align: justify; } }

@media screen and (max-width: 1366px) {
  .idea__title {
    font-size: 65px; }
  .idea__subtitle {
    font-size: 22px;
    line-height: 31px; }
  .idea__text-inner {
    font-size: 22px;
    line-height: 31px; } }

@media screen and (max-width: 921px) {
  .idea__title {
    font-size: 50px; }
  .idea__subtitle {
    font-size: 18px;
    line-height: 27px; }
  .idea__text-inner {
    font-size: 18px;
    line-height: 27px; } }

@media screen and (max-width: 767px) {
  .idea__title {
    font-size: 40px; }
  .idea__subtitle {
    font-size: 16px;
    line-height: 24px; }
  .idea__text-inner {
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 540px) {
  .idea__title {
    font-size: 28px; }
  .idea__subtitle {
    font-size: 14px;
    line-height: 22px; }
  .idea__text-inner {
    font-size: 14px;
    line-height: 22px; } }

/* Functions */
.functions {
  padding-top: 0;
  margin: auto; }
  .functions__title {
    font-family: 'SanFrancisco Semibold';
    font-weight: 500;
    font-size: 40px;
    line-height: 100.19%;
    text-align: center;
    color: #000;
    max-width: 1437px;
    margin: 72px auto -60px;
    max-width: 1050px; }
  .functions__content {
    overflow: hidden; }
    .functions__content img {
      max-width: 100%;
      min-width: 100%; }
  .functions__text {
    max-width: 1337px;
    margin: -103px auto 0 auto;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #828282;
    font-size: 25px;
    line-height: 34px;
    color: #828282;
    letter-spacing: -.5px; }
    .functions__text-inner {
      max-width: 939px; }

@media screen and (max-width: 1330px) {
  .functions__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto; } }

@media screen and (max-width: 990px) {
  .functions__title {
    font-size: 30px; } }

@media screen and (max-width: 750px) {
  .functions__text {
    margin: -64px auto 0 auto; } }

@media screen and (max-width: 520px) {
  .functions__title {
    font-size: 19px; } }

@media screen and (max-width: 400px) {
  .functions__text {
    margin-top: -25px;
    max-width: 400px;
    font-size: 14px;
    line-height: 24px; }
  .functions__content img {
    margin-bottom: 0; } }

/* Pros */
.pros {
  max-width: 1437px;
  margin: 167px auto 0; }

@media screen and (max-width: 1340px) {
  .pros {
    margin-left: 30px; }
    .pros__title {
      font-size: 60px;
      line-height: 1.3; } }

@media screen and (max-width: 960px) {
  .pros {
    margin-left: 10px; }
    .pros__title {
      font-size: 35px;
      line-height: 1.3; } }

@media screen and (max-width: 610px) {
  .pros__title {
    font-size: 25px;
    line-height: 1.3; } }

@media screen and (max-width: 430px) {
  .pros__title {
    font-size: 18px;
    line-height: 1.3; } }

/* Call-tracking */
.call-tracking {
  margin-top: 399px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .call-tracking__title {
    margin-bottom: 37px; }
  .call-tracking__img {
    max-width: 1432px;
    margin-top: -5px; }
  .call-tracking__text {
    margin-top: 10px;
    text-align: center;
    font-family: 'Segoe Script', sans-serif;
    font-weight: 400;
    max-width: 1050px;
    font-size: 30px;
    line-height: 50px;
    color: #4F4F4F; }

@media screen and (max-width: 1440px) {
  .call-tracking__img {
    max-width: 100%; } }

@media screen and (max-width: 1060px) {
  .call-tracking__title {
    font-size: 60px; }
  .call-tracking__text {
    font-size: 20px;
    line-height: 1.6; } }

@media screen and (max-width: 730px) {
  .call-tracking__title {
    font-size: 50px; }
  .call-tracking__text {
    font-size: 18px; } }

@media screen and (max-width: 545px) {
  .call-tracking__title {
    margin-bottom: 10px;
    font-size: 35px; }
  .call-tracking__text {
    font-size: 14px; } }

/* Analytics */
.analytics {
  max-width: 1437px;
  margin: 258px auto 0; }

@media screen and (max-width: 1760px) {
  .analytics {
    margin-top: 960px; } }

@media screen and (max-width: 1100px) {
  .analytics {
    margin-top: 600px; } }

@media screen and (max-width: 680px) {
  .analytics {
    margin-top: 300px; } }

@media screen and (max-width: 850px) {
  .analytics__title {
    font-size: 60px; } }

@media screen and (max-width: 650px) {
  .analytics__title {
    font-size: 40px; } }

@media screen and (max-width: 430px) {
  .analytics__title {
    font-size: 30px; } }

/* notifications */
.notifications {
  margin-top: 220px;
  display: flex; }
  .notifications__telephone-2 {
    margin-left: -150px;
    margin-top: -200px; }
    .notifications__telephone-2__block-text {
      margin-top: 200px; }

/* Widget */
.widget {
  max-width: 1437px;
  margin: 95px auto 0;
  position: relative; }
  .widget-wrapper {
    overflow: hidden; }
  .widget__title {
    font-family: 'SanFrancisco Semibold', sans-serif;
    max-width: 741px;
    background: linear-gradient(to right, #02A5A2, #0471BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    line-height: 95.4%;
    margin-bottom: 122px; }
    @media screen and (max-width: 1365px) {
      .widget__title {
        font-size: 70px;
        text-align: center;
        margin: auto; } }
    @media screen and (max-width: 1060px) {
      .widget__title {
        font-size: 55px; } }
    @media screen and (max-width: 767px) {
      .widget__title {
        font-size: 40px; } }
    @media screen and (max-width: 550px) {
      .widget__title {
        font-size: 30px; } }
    @media screen and (max-width: 400px) {
      .widget__title {
        font-size: 25px; } }
  .widget__ipad {
    position: absolute;
    right: -39px;
    top: 528px; }
  .widget__step-1 {
    padding-top: 20px;
    margin-right: 125px;
    float: right;
    max-width: 730px; }
    .widget__step-1::before {
      content: url("../img/layout/Vector-6.svg");
      position: absolute;
      top: -16px;
      left: -445px; }
  .widget__step-2 {
    padding-top: 253px;
    padding-left: 13px;
    max-width: 396px; }
    .widget__step-2::before {
      content: url("../img/layout/Vector-7.svg");
      position: absolute;
      bottom: -290px;
      left: 110px; }
  .widget__step-3 {
    max-width: 663px;
    margin-top: 430px; }
    .widget__step-3::before {
      content: url("../img/layout/Arrow-26.svg");
      position: absolute;
      right: -65px;
      top: 105px; }
  .widget__step-4 {
    float: right;
    max-width: 626px;
    margin-top: -225px; }
  .widget__step-1, .widget__step-2, .widget__step-3, .widget__step-4 {
    position: relative; }
  .widget__step-1, .widget__step-2 {
    font-family: 'Segoe Script', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #4F4F4F; }
  .widget__step-3, .widget__step-4 {
    font-family: 'SanFrancisco Semibold';
    font-size: 60px;
    line-height: 95.4%;
    color: #4F4F4F; }
  @media screen and (max-width: 1365px) {
    .widget__ipad {
      position: relative;
      right: 0;
      top: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center; }
      .widget__ipad img {
        max-width: 120%; }
    .widget__step-1 {
      float: none;
      padding-top: 20px;
      max-width: 730px;
      margin: auto;
      text-align: center;
      font-size: 25px;
      line-height: 35px; }
      .widget__step-1::before {
        content: url("../img/layout/Arrow-27.svg");
        top: 110px;
        left: 50%;
        transform: translate(-50%); }
    .widget__step-2 {
      padding-top: 190px;
      max-width: 396px;
      margin: auto;
      text-align: center;
      font-size: 25px;
      line-height: 35px; }
      .widget__step-2::before {
        content: url("../img/layout/Arrow-27.svg");
        bottom: -490px;
        left: 50%;
        transform: translate(-50%); }
    .widget__step-3 {
      max-width: 663px;
      padding-top: 190px;
      margin: auto;
      text-align: center;
      font-size: 45px; }
      .widget__step-3::before {
        content: url("../img/layout/Arrow-27.svg");
        top: 20px;
        left: 50%;
        transform: translate(-50%); }
    .widget__step-4 {
      float: none;
      max-width: 626px;
      margin: 180px auto 0 auto;
      text-align: center; } }
  @media screen and (max-width: 991px) {
    .widget__step-1, .widget__step-2 {
      font-size: 20px;
      line-height: 30px; }
    .widget__step-3, .widget__step-4 {
      font-size: 36px; }
    .widget__step-1::before {
      top: 75px;
      left: 50%; }
    .widget__step-2::before {
      bottom: -430px;
      left: 50%; }
    .widget__step-3::before {
      top: 20px;
      left: 50%; } }
  @media screen and (max-width: 700px) {
    .widget__step-1, .widget__step-2 {
      font-size: 18px;
      line-height: 28px; }
    .widget__step-3, .widget__step-4 {
      font-size: 32px; }
    .widget__step-1::before {
      top: 95px;
      left: 50%; }
    .widget__step-2::before {
      bottom: -420px;
      left: 50%; }
    .widget__step-3::before {
      top: 20px;
      left: 50%; } }
  @media screen and (max-width: 520px) {
    .widget__step-3, .widget__step-4 {
      font-size: 26px; }
    .widget__step-3, .widget__step-4 {
      font-size: 32px; }
    .widget__step-1::before {
      top: 95px;
      left: 50%; }
    .widget__step-2::before {
      bottom: -450px;
      left: 50%; }
    .widget__step-3::before {
      top: 20px;
      left: 50%; } }
  @media screen and (max-width: 430px) {
    .widget__step-1, .widget__step-2 {
      font-size: 17px;
      line-height: 27px; }
    .widget__step-3, .widget__step-4 {
      font-size: 24px; }
    .widget__step-1::before {
      top: 95px;
      left: 50%; }
    .widget__step-2::before {
      bottom: -400px;
      left: 50%; }
    .widget__step-3::before {
      top: 20px;
      left: 50%; } }
  @media screen and (max-width: 400px) {
    .widget__step-1, .widget__step-2 {
      font-size: 17px;
      line-height: 27px; }
    .widget__step-3, .widget__step-4 {
      font-size: 24px; }
    .widget__step-1::before {
      top: 95px;
      left: 50%; }
    .widget__step-2::before {
      bottom: -430px;
      left: 50%; }
    .widget__step-3::before {
      top: 20px;
      left: 50%; } }

/* Structure */
.structure {
  padding-top: 146px;
  overflow-x: hidden; }
  @media screen and (max-width: 1760px) {
    .structure {
      overflow-x: visible; } }
  .structure__content {
    max-width: 1437px;
    margin: auto;
    display: flex; }
  .structure__title {
    margin-right: -100px;
    max-width: 874px;
    line-height: 80px;
    letter-spacing: -3px; }
  .structure__text {
    margin-top: 30px;
    margin-bottom: 39px;
    max-width: 829px;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #828282;
    line-height: 34px; }
  .structure__text-img {
    margin-top: 170px;
    max-width: 584px;
    font-family: 'Segoe Script', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 118.19%;
    color: #333333; }
  .structure-img {
    margin-top: 66px;
    position: relative; }
    .structure-img img {
      position: absolute;
      left: -120px;
      max-width: 1345px; }
  @media screen and (max-width: 1760px) {
    .structure__content {
      flex-direction: column;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; }
    .structure__text {
      max-width: 100%; }
    .structure-img img {
      min-width: 100%;
      max-width: 100vw;
      left: 50%;
      transform: translate(-50%); }
    .structure__title {
      max-width: 100%;
      margin-right: 0; }
    .structure__col-1 {
      margin-left: 0; }
    .structure__text-img {
      max-width: 100%; } }
  @media screen and (max-width: 1200px) {
    .structure__title {
      font-size: 65px;
      line-height: 65px; }
    .structure__text {
      font-size: 22px;
      line-height: 31px; } }
  @media screen and (max-width: 991px) {
    .structure__title {
      font-size: 55px;
      line-height: 55px; }
    .structure__text {
      font-size: 18px;
      line-height: 27px; } }
  @media screen and (max-width: 600px) {
    .structure__text-img {
      max-width: 100%;
      font-size: 28px; } }
  @media screen and (max-width: 580px) {
    .structure__title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -.9px; }
    .structure__text {
      font-size: 16px;
      line-height: 25px; } }
  @media screen and (max-width: 450px) {
    .structure__text-img {
      max-width: 100%;
      font-size: 26px; } }
  @media screen and (max-width: 430px) {
    .structure__text-img {
      max-width: 100%;
      font-size: 20px; } }
  @media screen and (max-width: 400px) {
    .structure__text-img {
      max-width: 100%;
      font-size: 14px; }
    .structure__title {
      font-size: 30px;
      line-height: 30px; }
    .structure__text {
      font-size: 15px;
      line-height: 24px; } }

/* Tasks */
.tasks {
  max-width: 1437px;
  margin: 400px auto 0 auto;
  padding-left: 10px; }
  .tasks-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden; }
  @media screen and (max-width: 1378px) {
    .tasks {
      padding-left: 0; } }
  .tasks__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    .tasks__row:first-child .tasks__subtitle {
      font-size: 25px;
      line-height: 29px;
      color: #828282;
      margin-top: 25px;
      letter-spacing: -.65px; }
    @media screen and (max-width: 1378px) {
      .tasks__row:first-child {
        flex-direction: column;
        align-items: center; }
        .tasks__row:first-child .tasks__text {
          max-width: 100%;
          text-align: center; }
        .tasks__row:first-child .tasks__checklist {
          padding-right: 0;
          padding-top: 15px; }
        .tasks__row:first-child .tasks__checklist img {
          max-width: 100%; } }
    @media screen and (max-width: 1156px) {
      .tasks__row:first-child .tasks__title {
        font-size: 65px;
        line-height: 95.4%; }
      .tasks__row:first-child .tasks__subtitle {
        font-size: 18px;
        line-height: 22px; } }
    @media screen and (max-width: 921px) {
      .tasks__row:first-child .tasks__title {
        font-size: 50px;
        line-height: 95.4%; }
      .tasks__row:first-child .tasks__subtitle {
        font-size: 16px;
        line-height: 20px; } }
    @media screen and (max-width: 767px) {
      .tasks__row:first-child .tasks__title {
        font-size: 40px;
        line-height: 95.4%; } }
    @media screen and (max-width: 420px) {
      .tasks__row:first-child .tasks__title {
        font-size: 35px;
        line-height: 95.4%; }
      .tasks__row:first-child .tasks__subtitle {
        font-size: 14px;
        line-height: 16px; } }
    @media screen and (max-width: 1378px) {
      .tasks__row {
        flex-direction: column;
        align-items: center; }
        .tasks__row .tasks__catalog {
          padding-left: 0; }
        .tasks__row .tasks__calls {
          padding-left: 0;
          margin-top: 0; }
        .tasks__row:last-child {
          padding-top: 200px; } }
    .tasks__row:nth-child(2) {
      justify-content: space-evenly; }
      @media screen and (max-width: 1645px) {
        .tasks__row:nth-child(2) .tasks__calls {
          padding-left: 160px; } }
      @media screen and (max-width: 1580px) {
        .tasks__row:nth-child(2) .tasks__calls {
          padding-left: 120px; }
        .tasks__row:nth-child(2) .tasks__catalog {
          padding-left: 186px; } }
      @media screen and (max-width: 1378px) {
        .tasks__row:nth-child(2) .tasks__calls {
          padding-left: 0; }
        .tasks__row:nth-child(2) .tasks__catalog {
          padding-left: 0; } }
    .tasks__row:nth-child(3) {
      align-items: center; }
      .tasks__row:nth-child(3) .tasks__subtitle {
        max-width: 601px; }
  .tasks__text {
    padding-right: 10px;
    max-width: 752px; }
  .tasks__title {
    font-family: 'SanFrancisco Semibold', sans-serif;
    font-size: 80px;
    line-height: 95.4%;
    color: #000;
    letter-spacing: -3px; }
  .tasks__subtitle {
    font-size: 25px;
    line-height: 29px;
    color: #828282; }
    @media screen and (max-width: 630px) {
      .tasks__subtitle {
        padding-left: 10px;
        padding-right: 10px; } }
  .tasks__checklist {
    padding-right: 33px;
    margin-top: -11px; }
    @media screen and (max-width: 1280px) {
      .tasks__checklist img {
        max-width: 100%; } }
  .tasks__catalog {
    padding-top: 13px;
    padding-left: 292px; }
    @media screen and (max-width: 1280px) {
      .tasks__catalog img {
        max-width: 100%; } }
  .tasks__calls {
    margin-top: 113px;
    margin-bottom: -226px;
    padding-left: 202px; }
    @media screen and (max-width: 1280px) {
      .tasks__calls img {
        max-width: 100%; } }
  .tasks__image {
    margin-top: 82px;
    margin-left: -21px; }
    .tasks__image img {
      max-width: 100%; }
    @media screen and (max-width: 1378px) {
      .tasks__image {
        margin-left: 0; } }

/* team */
.team {
  max-width: 1437px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .team-wrapper {
    width: 100%;
    max-width: 100%;
    height: 700px; }
    @media screen and (max-width: 1880px) {
      .team-wrapper {
        overflow: hidden; } }
    @media screen and (max-width: 1350px) {
      .team-wrapper {
        overflow: visible; } }
  .team__text {
    margin-top: 40px;
    padding-left: 150px; }
  .team__title {
    font-family: 'SanFrancisco Semibold';
    font-size: 80px;
    line-height: 80px;
    max-width: 618px;
    letter-spacing: -3px; }
    .team__title span {
      background: linear-gradient(to right, #C14079, #2D499D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .team__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #828282;
    max-width: 582px;
    margin-top: 17px; }
  .team__images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    max-width: 727px;
    margin-right: -172px;
    margin-top: -236px; }
    .team__images img:first-child {
      margin-top: 343px;
      margin-right: -40px; }
    .team__images img:last-child {
      margin-bottom: 317px; }
  .team__button {
    background: #F4F4F4;
    max-width: 437px; }
    .team__button a {
      background: linear-gradient(55.06deg, #C14079 4.82%, #2D499D 63.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .team__button::before {
      margin: -2px;
      background: linear-gradient(55.06deg, #C14079 4.82%, #2D499D 63.47%); }
  @media screen and (max-width: 1880px) {
    .team__images {
      margin-top: 0;
      margin-right: -36px; } }
  @media screen and (max-width: 1560px) {
    .team__images {
      position: absolute;
      right: 50px; } }
  @media screen and (max-width: 1350px) {
    .team__images {
      top: 440px;
      left: 50%;
      transform: translate(-50%); } }
  @media screen and (max-width: 940px) {
    .team__text {
      padding: 0 10px; }
    .team__title {
      text-align: center;
      max-width: 100%;
      font-size: 70px; }
    .team__subtitle {
      font-size: 22px;
      line-height: 24px;
      max-width: 100%; }
    .team__button {
      margin: 45px auto 0; } }
  @media screen and (max-width: 767px) {
    .team__images {
      display: none; } }
  @media screen and (max-width: 690px) {
    .team__title {
      font-size: 60px;
      line-height: 60px; }
    .team__subtitle {
      font-size: 20px;
      line-height: 22px; } }
  @media screen and (max-width: 500px) {
    .team__title {
      font-size: 50px;
      line-height: 50px; }
    .team__subtitle {
      font-size: 18px;
      line-height: 20px; } }
  @media screen and (max-width: 430px) {
    .team__title {
      font-size: 35px;
      line-height: 35px; }
    .team__subtitle {
      font-size: 16px;
      line-height: 18px; } }

@media screen and (max-width: 690px) {
  .tasks__title {
    font-size: 60px;
    line-height: 60px; }
  .tasks__subtitle {
    font-size: 20px;
    line-height: 22px; } }

@media screen and (max-width: 500px) {
  .tasks__subtitle {
    font-size: 18px;
    line-height: 20px; } }

@media screen and (max-width: 430px) {
  .tasks__title {
    font-size: 35px;
    line-height: 35px; }
  .tasks__subtitle {
    font-size: 16px;
    line-height: 18px; } }

/* Сalendar */
.calendar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: -200px;
  padding-top: 160px; }
  @media screen and (max-width: 940px) {
    .calendar {
      padding-top: 1660px !important; } }
  .calendar__row-1 {
    display: flex;
    margin-bottom: -330px;
    max-width: 1437px;
    margin: auto; }
  .calendar__tablet-1 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-left: -905px; }
    @media screen and (max-width: 1730px) {
      .calendar__tablet-1 {
        margin-left: 0; } }
    @media screen and (max-width: 1200px) {
      .calendar__tablet-1 img {
        max-width: 200%; } }
  .calendar__block-text {
    margin-top: 6px;
    margin-left: -515px; }
    @media screen and (max-width: 1730px) {
      .calendar__block-text {
        margin-left: 0; } }
  .calendar__title {
    max-width: 563px;
    margin-top: 165px;
    margin-left: -15px;
    line-height: 1;
    letter-spacing: -3px;
    font-weight: 500;
    font-size: 80px;
    line-height: 95.4%;
    color: #000; }
  .calendar__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #828282;
    max-width: 648px;
    margin-left: -15px;
    margin-top: 38px;
    font-size: 25px;
    line-height: 29px;
    color: #828282;
    letter-spacing: -.85px; }
  .calendar__row-2 {
    display: flex; }
  .calendar__tablet-2 {
    position: relative; }
    .calendar__tablet-2 img {
      position: relative;
      top: 60px;
      left: -79px; }
  .calendar__tablet-3 {
    position: relative; }
    .calendar__tablet-3 img {
      position: absolute;
      top: -200px;
      right: -1030px; }

@media screen and (max-width: 1920px) {
  .calendar {
    align-items: flex-start; } }

@media screen and (max-width: 1730px) {
  .calendar__row-1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: -200px; }
  .calendar__block-text {
    order: 1; }
  .calendar__tablet-1 {
    order: 2;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center; }
  .calendar__row-2 {
    flex-direction: column;
    margin: auto; }
  .calendar__tablet-2 img {
    position: relative;
    left: 0;
    max-width: 100%;
    top: 200px; }
  .calendar__tablet-3 {
    display: flex;
    justify-content: center; }
    .calendar__tablet-3 img {
      max-width: 100%; } }

@media screen and (max-width: 1560px) {
  .calendar {
    padding-top: 650px; } }

@media screen and (max-width: 1232px) {
  .calendar {
    padding-top: 560px; } }

@media screen and (max-width: 970px) {
  .calendar__title {
    font-size: 40px; }
  .calendar__text {
    max-width: 500px;
    font-size: 18px; }
  .calendar__tablet-3 {
    margin-top: 200px; } }

@media screen and (max-width: 835px) {
  .calendar {
    padding-top: 0; } }

@media screen and (max-width: 700px) {
  .calendar {
    margin-bottom: -100px; }
    .calendar__block-text {
      padding-left: 10px;
      padding-right: 10px; }
    .calendar__title {
      font-size: 30px;
      margin-left: 0; }
    .calendar__text {
      font-size: 16px;
      line-height: 24px;
      margin-left: 0; }
    .calendar__tablet-3 {
      margin-top: 200px; } }

@media screen and (max-width: 450px) {
  .calendar__title {
    letter-spacing: 0;
    font-size: 20px; }
  .calendar__text {
    font-size: 16px; }
  .calendar__tablet-3 {
    margin-top: 250px; } }

@media screen and (max-width: 1730px) {
  .calendar__tablet-3 img {
    position: relative !important;
    top: 0;
    right: 0; } }

/* notifications */
.notifications {
  overflow: hidden;
  margin-bottom: 120px;
  display: flex;
  margin-top: 154px; }
  .notifications__telephone-block {
    display: flex; }
  .notifications__telephone-1 img {
    max-width: 865px; }
  .notifications__telephone-2 {
    margin-left: -150px;
    margin-top: -200px; }
    .notifications__telephone-2 img {
      max-width: 865px; }
  .notifications__block-text {
    margin-top: 215px; }
  .notifications__title {
    margin-bottom: 20px;
    letter-spacing: -3px; }
  .notifications__text {
    max-width: 651px;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #828282; }

@media screen and (max-width: 2140px) {
  .notifications__telephone-2 {
    margin-left: -300px; } }

@media screen and (max-width: 1920px) {
  .notifications__telephone-1 {
    position: relative; }
    .notifications__telephone-1 img {
      position: absolute;
      top: -25px;
      left: -500px; }
  .notifications__telephone-2 {
    margin-left: 220px; } }

@media screen and (max-width: 1670px) {
  .notifications {
    margin-bottom: 100px; }
    .notifications__telephone-1 img {
      max-width: 500px;
      left: -280px; }
    .notifications__telephone-2 {
      margin-left: 200px; }
      .notifications__telephone-2 img {
        max-width: 500px; }
    .notifications__block-text {
      margin-top: 0; } }

@media screen and (max-width: 1470px) {
  .notifications__telephone-2 {
    margin-left: 50px; } }

@media screen and (max-width: 1300px) {
  .notifications {
    margin-bottom: 120px; }
    .notifications__telephone-1 img {
      max-width: 500px;
      left: -280px; }
    .notifications__telephone-2 {
      margin-left: 40px; }
      .notifications__telephone-2 img {
        max-width: 500px; }
    .notifications__block-text {
      margin-top: 50px; }
    .notifications__title {
      font-size: 40px; }
    .notifications__text {
      max-width: 400px;
      font-size: 16px; } }

@media screen and (max-width: 950px) {
  .notifications {
    justify-content: center; }
    .notifications__telephone-1 {
      display: none; }
    .notifications__telephone-2 {
      margin-left: -80px; } }

@media screen and (max-width: 830px) {
  .notifications__telephone-2 {
    margin-left: -80px;
    margin-top: 0px; }
    .notifications__telephone-2 img {
      max-width: 400px; }
  .notifications__title {
    font-size: 30px;
    margin-bottom: 0; }
  .notifications__text {
    max-width: 300px;
    font-size: 14px; } }

@media screen and (max-width: 540px) {
  .notifications {
    flex-direction: column;
    align-items: center; }
    .notifications__telephone-block {
      order: 2; }
    .notifications__block-text {
      order: 1;
      margin-top: -80px;
      text-align: center;
      margin-left: 0; }
    .notifications__telephone-2 {
      margin-top: 0px;
      margin-left: 0; } }

/* role */
.role {
  padding-top: 160px;
  overflow: hidden; }
  .role__text {
    max-width: 1437px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .role__title {
    font-family: 'SanFrancisco Semibold';
    font-size: 80px;
    line-height: 95.4%;
    background: linear-gradient(90.21deg, #02A5A2 0%, #0471BF 53.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .role__subtitle {
    max-width: 929px;
    font-size: 25px;
    line-height: 34px;
    color: #828282; }
  .role__functional {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 300px;
    padding-right: 185px; }
    @media screen and (max-width: 1580px) {
      .role__functional {
        align-items: center;
        padding-right: 82px; } }
  .role .functional__image-wrapper {
    position: relative; }
  .role .functional__text {
    position: absolute; }
  .role .functional__row-1, .role .functional__row-2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-family: 'Segoe Script', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: #333333; }
  .role .functional__row-2 {
    margin-right: -347px; }
    @media screen and (max-width: 1580px) {
      .role .functional__row-2 {
        margin-right: -217px !important; } }
    @media screen and (max-width: 1240px) {
      .role .functional__row-2 {
        margin-right: -167px !important; } }
    @media screen and (max-width: 960px) {
      .role .functional__row-2 {
        margin-right: -144px !important; } }
    @media screen and (max-width: 767px) {
      .role .functional__row-2 {
        margin-right: -135px !important; } }
    @media screen and (max-width: 620px) {
      .role .functional__row-2 {
        margin-right: -125px !important; } }
    @media screen and (max-width: 510px) {
      .role .functional__row-2 {
        margin-right: -118px !important; } }
    @media screen and (max-width: 390px) {
      .role .functional__row-2 {
        margin-right: -115px !important; } }
  .role .functional__row-1 .functional__image-wrapper, .role .functional__row-2 .functional__image-wrapper {
    padding: 25px; }
    @media screen and (max-width: 1580px) {
      .role .functional__row-1 .functional__image-wrapper, .role .functional__row-2 .functional__image-wrapper {
        padding: 15px; } }
    @media screen and (max-width: 767px) {
      .role .functional__row-1 .functional__image-wrapper, .role .functional__row-2 .functional__image-wrapper {
        padding: 10px; } }
    @media screen and (max-width: 620px) {
      .role .functional__row-1 .functional__image-wrapper, .role .functional__row-2 .functional__image-wrapper {
        padding: 6px; } }
    @media screen and (max-width: 510px) {
      .role .functional__row-1 .functional__image-wrapper, .role .functional__row-2 .functional__image-wrapper {
        padding: 3px; } }
  @media screen and (max-width: 1580px) {
    .role .functional__row-1 {
      margin-left: -50px; } }
  @media screen and (max-width: 1240px) {
    .role .functional__row-1 {
      margin-left: -30px !important; } }
  @media screen and (max-width: 960px) {
    .role .functional__row-1 {
      margin-left: -10px !important; } }
  @media screen and (max-width: 767px) {
    .role .functional__row-1 {
      margin-left: 10px !important; } }
  @media screen and (max-width: 620px) {
    .role .functional__row-1 {
      margin-left: 30px !important; } }
  @media screen and (max-width: 510px) {
    .role .functional__row-1 {
      margin-left: 40px !important; } }
  @media screen and (max-width: 390px) {
    .role .functional__row-1 {
      margin-left: 52px !important; } }
  .role .functional__row-1 .functional__image-wrapper:last-child img {
    margin-top: -173px; }
    @media screen and (max-width: 1580px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 450px;
        margin-top: -147px; } }
    @media screen and (max-width: 1240px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 333px; } }
    @media screen and (max-width: 960px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 263px; } }
    @media screen and (max-width: 767px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 208px; } }
    @media screen and (max-width: 620px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 165px; } }
    @media screen and (max-width: 510px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 130px; } }
    @media screen and (max-width: 390px) {
      .role .functional__row-1 .functional__image-wrapper:last-child img {
        width: 103px; } }
  .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
    top: -250px; }
    @media screen and (max-width: 1580px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -200px; } }
    @media screen and (max-width: 1240px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -187px; } }
    @media screen and (max-width: 960px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -145px; } }
    @media screen and (max-width: 767px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -120px; } }
    @media screen and (max-width: 620px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -108px; } }
    @media screen and (max-width: 510px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -90px; } }
    @media screen and (max-width: 390px) {
      .role .functional__row-1 .functional__image-wrapper:last-child .functional__text {
        top: -76px; } }
  .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
    top: -50px; }
    @media screen and (max-width: 1580px) {
      .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
        top: -40px; } }
    @media screen and (max-width: 1240px) {
      .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
        top: -30px; } }
    @media screen and (max-width: 960px) {
      .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
        top: -30px; } }
    @media screen and (max-width: 620px) {
      .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
        top: -30px; } }
    @media screen and (max-width: 510px) {
      .role .functional__row-1 .functional__image-wrapper:first-child .functional__text {
        top: -20px; } }
  @media screen and (max-width: 1580px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 578px; } }
  @media screen and (max-width: 1240px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 428px; } }
  @media screen and (max-width: 960px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 339px; } }
  @media screen and (max-width: 767px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 269px; } }
  @media screen and (max-width: 620px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 213px; } }
  @media screen and (max-width: 510px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 169px; } }
  @media screen and (max-width: 390px) {
    .role .functional__row-1 .functional__image-wrapper:first-child img {
      width: 134px; } }

.functional__row-2 .functional__image-wrapper:first-child .functional__text {
  position: absolute;
  left: -30px;
  bottom: -10px;
  transform: rotate(-90deg);
  transform-origin: left; }
  @media screen and (max-width: 1580px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -20px; } }
  @media screen and (max-width: 1240px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -15px;
      bottom: 0; } }
  @media screen and (max-width: 960px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -15px; } }
  @media screen and (max-width: 767px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -10px; } }
  @media screen and (max-width: 620px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -15px; } }
  @media screen and (max-width: 510px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -12px; } }
  @media screen and (max-width: 390px) {
    .functional__row-2 .functional__image-wrapper:first-child .functional__text {
      left: -13px; } }

/* functional text */
@media screen and (max-width: 1580px) {
  .functional__text {
    bottom: 80px;
    font-size: 35px;
    line-height: 45px;
    color: #333333; } }

@media screen and (max-width: 1240px) {
  .functional__text {
    font-size: 28px;
    line-height: 35px;
    color: #333333; } }

@media screen and (max-width: 960px) {
  .functional__text {
    font-size: 23px;
    line-height: 28px;
    color: #333333; } }

@media screen and (max-width: 767px) {
  .functional__text {
    font-size: 20px;
    line-height: 25px;
    color: #333333; } }

@media screen and (max-width: 620px) {
  .functional__text {
    font-size: 19px;
    line-height: 23px;
    color: #333333; } }

@media screen and (max-width: 510px) {
  .functional__text {
    font-size: 15px;
    line-height: 19px;
    color: #333333; } }

@media screen and (max-width: 390px) {
  .functional__text {
    font-size: 13px;
    line-height: 17px;
    color: #333333; } }

.functional__row-1 .functional__image-wrapper:first-child .functional__text {
  top: -70px; }

@media screen and (max-width: 1580px) {
  .functional__row-1 .functional__image-wrapper:first-child img {
    width: 450px; } }

.functional__row-2 .functional__image-wrapper:last-child .functional__text {
  bottom: 120px;
  left: 5px; }
  @media screen and (max-width: 1580px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 100px; } }
  @media screen and (max-width: 1240px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 60px; } }
  @media screen and (max-width: 960px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 40px; } }
  @media screen and (max-width: 767px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 35px; } }
  @media screen and (max-width: 620px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 10px; } }
  @media screen and (max-width: 510px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: 10px; } }
  @media screen and (max-width: 390px) {
    .functional__row-2 .functional__image-wrapper:last-child .functional__text {
      bottom: -5px; } }

@media screen and (max-width: 1580px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 578px; } }

@media screen and (max-width: 1240px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 428px; } }

@media screen and (max-width: 960px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 339px; } }

@media screen and (max-width: 767px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 269px; } }

@media screen and (max-width: 620px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 213px; } }

@media screen and (max-width: 510px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 169px; } }

@media screen and (max-width: 390px) {
  .functional__row-2 .functional__image-wrapper:last-child img {
    width: 134px; } }

@media screen and (max-width: 1580px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 450px; } }

@media screen and (max-width: 1240px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 333px; } }

@media screen and (max-width: 960px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 263px; } }

@media screen and (max-width: 767px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 208px; } }

@media screen and (max-width: 620px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 165px; } }

@media screen and (max-width: 510px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 130px; } }

@media screen and (max-width: 390px) {
  .functional__row-2 .functional__image-wrapper:first-child img {
    width: 103px; } }

@media screen and (max-width: 1580px) {
  .functional__row-2 {
    margin-right: -252px !important; } }

@media screen and (max-width: 1240px) {
  .functional__row-2 {
    margin-right: -190px !important; }
  .functional__row-1 .functional__image-wrapper:last-child img {
    margin-top: -110px !important; } }

@media screen and (max-width: 960px) {
  .functional__row-2 {
    margin-right: -155px !important; }
  .functional__row-1 .functional__image-wrapper:last-child img {
    margin-top: -86px !important; } }

@media screen and (max-width: 767px) {
  .functional__row-2 {
    margin-right: -147px !important; }
  .functional__row-1 {
    margin-left: 23px !important; }
    .functional__row-1 .functional__image-wrapper:last-child img {
      margin-top: -66px !important; } }

@media screen and (max-width: 620px) {
  .functional__row-2 {
    margin-right: -133px !important; }
  .functional__row-1 {
    margin-left: 35px !important; }
    .functional__row-1 .functional__image-wrapper:last-child img {
      margin-top: -53px !important; } }

@media screen and (max-width: 510px) {
  .functional__row-2 {
    margin-right: -133px !important; }
  .functional__row-1 {
    margin-left: 52px !important; }
    .functional__row-1 .functional__image-wrapper:last-child img {
      margin-top: -42px !important; } }

@media screen and (max-width: 390px) {
  .functional__row-2 {
    margin-right: -117px !important; }
  .functional__row-1 {
    margin-left: 52px; }
    .functional__row-1 .functional__image-wrapper:last-child img {
      margin-top: -32px !important; } }
