/* Header */
@media screen and (max-width: 1865px) {
  .header__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1610px) {
  .header__title {
    font-size: 50px;
  }
  .header__text {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .header__row-2 {
    margin-top: 240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__text {
    margin-top: 0px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .header__row-2 {
    margin-left: -200px;
  }
}

@media screen and (max-width: 540px) {
  .header__title {
    font-size: 40px;
  }
  .header__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .header__row-2 {
    margin-top: 200px;
  }
  .header__title {
    font-size: 28px;
  }
}

/* What */
/* block-1 */
@media screen and (max-width: 1239px) {
  .what__content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .what__block-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .what__block-1 .block-1__text p {
    max-width: 900px;
  }
  .what .block-1__img {
    margin-left: 0;
    max-width: 120%;
  }
  .what .block-1__text {
    padding-left: 0;
    max-width: 100%;
  }
  .what .block-1__text p {
    max-width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .what__title {
    font-size: 60px;
  }
  .what .block-1__text p {
    font-size: 18px;
  }
  .what .block-1__subtitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 560px) {
  .block-1__text {
    min-width: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  .what__title {
    font-size: 40px;
  }
  .what .block-1__text {
    margin-top: 10px;
  }
  .what .block-1__text p {
    max-width: 100%;
    font-size: 16px;
  }
  .what .block-1__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .what__title {
    font-size: 30px;
  }
}

/* block-2 */
@media screen and (max-width: 1239px) {
  .what__block-2 {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .what__block-2 .block-2__text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    text-align: center;
  }
  .what__block-2 .block-2__text p {
    max-width: 100%;
  }
  .what__block-2 .block-2__subtitle {
    max-width: 100%;
  }
  .what__block-2 .block-2__img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: auto;
  }
}

@media screen and (max-width: 660px) {
  .what__block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .what__block-2 .block-2__text {
    text-align: center;
    margin-left: 0;
  }
  .what__block-2 .block-2__text p {
    max-width: 400px;
    font-size: 18px;
  }
  .what__block-2 .block-2__subtitle {
    max-width: 400px;
    font-size: 40px;
  }
}

@media screen and (max-width: 470px) {
  .what .block-2__text {
    margin-right: 10px;
    text-align: center;
  }
  .what .block-2__text p {
    max-width: 350px;
    font-size: 16px;
  }
  .what .block-2__subtitle {
    margin-right: 10px;
    max-width: 350px;
    font-size: 22px;
    line-height: 1.5;
  }
}

/* block-3 */
@media screen and (max-width: 1100px) {
  .what__block-3 .block-3__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {
  .what__block-3 .block-3__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 580px) {
  .what__block-3 .block-3__title {
    font-size: 30px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 500px) {
  .what__block-3 .block-3__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .what__block-3 .block-3__title {
    font-size: 20px;
  }
}

/* Calls */
/* calls__title-block */
@media screen and (max-width: 1600px) {
  .calls__title-block {
    margin-left: 60px;
  }
}

@media screen and (max-width: 980px) {
  .calls__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 735px) {
  .calls__title-block {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .calls__title {
    font-size: 50px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 500px) {
  .calls__title {
    font-size: 30px;
    line-height: 1.3;
  }
  .calls__title-text {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

/* control */
@media screen and (max-width: 980px) {
  .control__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 735px) {
  .control__title {
    font-size: 50px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 500px) {
  .control__title {
    font-size: 30px;
  }
}

/* calls__block */
@media screen and (max-width: 1420px) {
  .calls__block .block__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .calls__block .block__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 990px) {
  .calls__block .block__text {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 950px) {
  .calls__block .block__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 870px) {
  .calls__block .block__title {
    font-size: 30px;
  }
  .calls__block .block__text {
    margin-top: -70px;
  }
}

@media screen and (max-width: 660px) {
  .calls__block .block__title {
    font-size: 30px;
  }
  .calls__block .block__text {
    margin-top: -50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  .calls__block .block__title {
    margin-bottom: -30px;
    font-size: 20px;
  }
  .calls__block .block__text {
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .calls__block .block__title {
    font-size: 19px;
  }
  .calls__block .block__text {
    margin-top: -30px;
    max-width: 250px;
    font-size: 16px;
  }
}

/* calltracking */
@media screen and (max-width: 1239px) {
  max-width: 100vw;
  width: 100vw;
  .calltracking__image {
    position: relative;
    max-width: 985px;
    max-height: 100%;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* calls__forwarding */
@media screen and (max-width: 1460px) {
  .forwarding__col-2 {
    margin-right: -350px !important;
  }
  .forwarding__col-2 img {
    max-width: 1091px !important;
  }
}

@media screen and (max-width: 1239px) {
  .calls__forwarding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .calls__forwarding .forwarding__col-1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .calls__forwarding .forwarding__button {
    margin-top: 40px;
  }
  .calls__forwarding .forwarding__col-2 {
    margin-top: 0;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .calls__forwarding .forwarding__img {
    max-width: 890px;
  }
}

@media screen and (max-width: 1000px) {
  .calls__forwarding .forwarding__col-2 {
    margin-right: -20px;
  }
  .calls__forwarding .forwarding__img {
    max-width: 790px;
  }
}

@media screen and (max-width: 880px) {
  .forwarding__col-2 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: -10px;
  }
}

@media screen and (max-width: 770px) {
  .forwarding__col-2 img {
    max-width: 148% !important;
  }
}

@media screen and (max-width: 600px) {
  .calls__forwarding .forwarding__title {
    font-size: 45px;
  }
  .calls__forwarding .forwarding__text {
    font-size: 18px;
  }
  .calls__forwarding .forwarding__col-2 {
    margin-right: -20px;
  }
  .calls__forwarding .forwarding__img {
    max-width: 420px;
  }
  .calls__forwarding .forwarding__button {
    max-width: 330px;
    margin-left: 60px;
  }
  .calls__forwarding .forwarding__button a {
    font-size: 18px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 470px) {
  .calls__forwarding .forwarding__title {
    font-size: 30px;
    line-height: 1.3;
  }
  .calls__forwarding .forwarding__text {
    font-size: 16px;
  }
  .calls__forwarding .forwarding__col-1 {
    margin: auto;
  }
  .calls__forwarding .forwarding__col-2 {
    margin-right: -20px;
  }
  .calls__forwarding .forwarding__img {
    max-width: 310px;
  }
  .calls__forwarding .forwarding__button {
    max-width: 258px;
    margin: 30px auto;
  }
  .calls__forwarding .forwarding__button a {
    font-size: 14px;
    padding: 10px 15px;
  }
}

/* Function */
/* Footer */
@media screen and (max-width: 1340px) {
  .footer__title {
    font-size: 40px;
    line-height: 54px;
  }
  .footer__button {
    margin-right: 0;
  }
}

@media screen and (max-width: 710px) {
  .footer__title {
    font-size: 30px;
    line-height: 44px;
  }
  .footer__button {
    margin-top: 30px;
  }
  .footer__button a {
    padding: 18px 20px;
  }
}

@media screen and (max-width: 540px) {
  .footer__title {
    font-size: 25px;
    line-height: 39px;
  }
}

@media screen and (max-width: 450px) {
  .footer__title {
    font-size: 20px;
    line-height: 34px;
  }
  .footer__button {
    font-size: 18px;
  }
  .footer__button a {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 370px) {
  .footer__title {
    margin: 0 5px;
    font-size: 18px;
    line-height: 25px;
  }
  .footer__button {
    margin: 30 5px;
    font-size: 16px;
  }
  .footer__button a {
    padding: 12px 15px;
  }
}

/* Footer-2 */
@media screen and (max-width: 1460px) {
  .footer-2__title {
    font-size: 60px;
    line-height: 74px;
  }
  .footer-2__button {
    margin-right: 0;
  }
}

@media screen and (max-width: 1340px) {
  .footer-2__title {
    line-height: 1.3;
    font-size: 40px;
    line-height: 54px;
  }
}

@media screen and (max-width: 710px) {
  .footer-2__title {
    font-size: 30px;
    line-height: 44px;
  }
  .footer-2__button {
    margin-top: 30px;
  }
  .footer-2__button a {
    padding: 18px 20px;
  }
}

@media screen and (max-width: 540px) {
  .footer-2__title {
    font-size: 25px;
    line-height: 39px;
  }
}

@media screen and (max-width: 450px) {
  .footer-2__title {
    font-size: 20px;
    line-height: 34px;
  }
  .footer-2__button {
    font-size: 18px;
  }
  .footer-2__button a {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 370px) {
  .footer-2__title {
    margin: 0 5px;
    font-size: 16px;
    line-height: 25px;
  }
  .footer-2__button {
    margin: 30 5px;
    font-size: 16px;
  }
  .footer-2__button a {
    padding: 12px 15px;
  }
}

/* role */
@media screen and (max-width: 980px) {
  .role__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 735px) {
  .role__title {
    font-size: 50px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 500px) {
  .role__title {
    font-size: 30px;
  }
}
