body {
  background: #EEE3F4;
}

/* blocks BEM */
.block-title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
}

.block-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

/* mixins */
.title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title p {
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
  background: #EEE3F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  transition: 1s;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
}

.button a {
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 35px;
}

.content {
  max-width: 1446px;
  margin: auto;
}

/* Header */
.header {
  width: 100%;
  height: 517px;
  background: url("../img/header/Rectangle 205.jpg") no-repeat center/cover;
}

.header__content {
  max-width: 1644px;
  margin: 0 30px 0 236px;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 30px;
}

.header__menu {
  display: flex;
}

.header__menu .menu__item {
  margin: 0 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #fff;
}

.header__col {
  margin-top: 19px;
  margin-left: 562px;
  display: flex;
}

.header__search {
  margin-right: 13px;
}

.header__profile {
  margin-right: 56px;
}

.header__arrow {
  margin-top: 15px;
}

.header__row-2 {
  display: flex;
  margin-top: 275px;
}

.header__title {
  font-family: Roboto;
  font-family: 'SanFrancisco Semibold';
  font-size: 90px;
  line-height: 117px;
  color: #FFFFFF;
}

.header__text {
  margin-top: 65px;
  margin-left: 405px;
  max-width: 392px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.header-2 {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 5px 0;
  background: #000;
}

/*What*/
.what {
  margin-top: 78px;
}

.what__content-1 {
  max-width: 1437px;
  margin: auto;
}

.what__title {
  max-width: 100%;
  text-align: center;
}

.what__block-1 {
  display: block;
  margin-bottom: 788px;
  display: flex;
}

.what__block-1 .block-1__text {
  margin-top: 78px;
}

.what__block-1 .block-1__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.what__block-1 .block-1__subtitle {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 12px;
}

.what__block-2 {
  margin-bottom: 115px;
  width: 100%;
  max-width: 1437px;
  margin: auto;
  display: flex;
}

.what__block-2 .block-2__text {
  margin-top: 193px;
  margin-left: 42px;
}

.what__block-2 .block-2__text p {
  max-width: 540px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.what__block-2 .block-2__subtitle {
  margin-bottom: 20px;
  max-width: 550px;
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

.what__block-2 .block-2__img img {
  max-width: 100%;
}

.what__block-3 {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.what__block-3 .block-3__title {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: 140px;
}

.what .block-1__img {
  max-width: 120%;
}

/* Calls */
.calls {
  margin-top: 61px;
}

.calls__title-block {
  max-width: 1437px;
  margin: auto;
}

.calls__title-block a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

.calls__title {
  font-size: 100px;
}

.calls__title-text {
  margin-top: 45px;
  margin-bottom: 25px;
  max-width: 546px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.calls__block {
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1367.59px;
  margin: 0 auto;
}

.calls__block .block__title {
  margin-left: -50px;
  transform: rotate(-3.19deg);
}

.calls__block img {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .calls__block img {
    max-width: 125%;
  }
}

.calls__block .block__text {
  margin-top: -123px;
  margin-left: -185px;
  max-width: 642px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
  font-size: 25px;
}

.calls__forwarding {
  margin-bottom: 190px;
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  max-width: 1437px;
  margin: auto;
}

.calls__forwarding .forwarding__title {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  font-size: 55px;
}

.calls__forwarding .forwarding__text {
  margin-top: 20px;
  max-width: 422px;
  margin: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.calls__forwarding .forwarding__button {
  margin-top: 140px;
  justify-content: center;
}

.calls__forwarding .forwarding__button a {
  padding: 18px 25px;
}

.calls__forwarding .forwarding__col-2 {
  margin-top: -70px;
}

.calls__forwarding .forwarding__img {
  max-width: 1090px;
}

/* Control */
.control {
  margin-top: 13px;
  max-width: 1437px;
  margin: auto;
}

.control__title-block {
  margin: 0 0 154px 242px;
}

.control__title {
  font-size: 80px;
  line-height: 94px;
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'SanFrancisco Semibold', sans-serif;
}

@media screen and (max-width: 991px) {
  .control__title {
    font-size: 70px;
  }
}

.control__text {
  margin-top: 20px;
  line-height: 29px;
}

.control__title-text {
  margin-top: 45px;
  margin-bottom: 25px;
  max-width: 546px;
  color: #828282 !important;
}

.control__block {
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1367.59px;
  margin: 0 auto;
}

.control__block .block__title {
  margin-left: -50px;
  transform: rotate(-3.19deg);
}

.control__block img {
  margin-right: -140px;
}

.control__block .block__text {
  margin-top: -123px;
  margin-left: -185px;
  max-width: 642px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
  font-size: 25px;
}

.control__forwarding {
  margin-bottom: 190px;
  padding-top: 27px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .control__forwarding {
    flex-direction: column;
    align-items: center;
  }
  .control__forwarding .control__col-1 {
    text-align: center;
  }
}

.control__forwarding .forwarding__title {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  font-size: 55px;
}

.control__forwarding .forwarding__text {
  margin-top: 20px;
  max-width: 422px;
  margin: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.control__forwarding .forwarding__button {
  margin-top: 140px;
  justify-content: center;
}

.control__forwarding .forwarding__button a {
  padding: 18px 25px;
}

.control__forwarding .forwarding__col-2 {
  margin-top: -70px;
}

.control__forwarding .forwarding__img {
  max-width: 100%;
}

/* calltracking */
.calltracking {
  max-width: 1713px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@media screen and (max-width: 991px) {
  .calltracking {
    padding: 0px 15px;
  }
}

.calltracking__image {
  position: relative;
  max-width: 985px;
  max-height: 750px;
  overflow: visible;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .calltracking__image {
    max-width: 100%;
  }
}

.calltracking__image img {
  display: block;
  max-width: 100vw;
  margin-left: -173px;
}

@media screen and (max-width: 1400px) {
  .calltracking__image img {
    margin-left: 0;
    max-width: 120%;
  }
}

.calltracking__about {
  padding-top: 120px;
}

.calltracking__title {
  font-size: 60px;
  font-family: 'SanFrancisco Semibold';
  line-height: 70px;
}

.calltracking__subtitle {
  max-width: 641px;
  padding-top: 36px;
  font-family: Roboto;
  line-height: 29px;
  color: #828282;
}

@media screen and (max-width: 1400px) {
  .calltracking {
    flex-direction: column;
    align-items: center;
  }
  .calltracking__about {
    padding-top: 0;
  }
  .calltracking__subtitle {
    max-width: 933px;
  }
}

@media screen and (max-width: 767px) {
  .calltracking__about {
    text-align: center;
  }
  .calltracking__title {
    font-size: 40px;
    line-height: 50px;
  }
  .calltracking__subtitle {
    font-size: 15px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1400px) {
  .application__image {
    display: none;
  }
  .application {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* application */
.application {
  padding-top: 173px;
  max-width: 1413px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}

.application__title {
  line-height: 78px;
  max-width: 477px;
}

.application__subtitle {
  margin-top: 36px;
  max-width: 543px;
}

.application__button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
  background: #EEE3F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  transition: 1s;
}

.application__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
}

.application__button a {
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 46px;
}

.application__image {
  position: absolute;
  top: -320px;
  right: -260px;
}

.application__image-wrapper {
  position: absolute;
}

.application__image img {
  position: absolute;
}

.application__image img:first-child {
  right: 65px;
  top: 314px;
}

.application__image img:nth-child(2) {
  right: -359px;
  top: 414px;
}

.application__image img:last-child {
  right: -303px;
  top: -7px;
}

@media screen and (max-width: 767px) {
  .block-title {
    font-size: 50px;
    line-height: 48px !important;
    max-width: 100%;
  }
  .application__subtitle {
    margin-top: 26px;
    max-width: 100%;
    font-size: 15px;
  }
  .application__about {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .application__button {
    margin: 26px auto 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .block-title {
    font-size: 40px;
    line-height: 38px !important;
  }
}

/* devices */
.device {
  padding-top: 457px;
}

.device-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 55px;
}

.device__item {
  max-width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device__item:first-child {
  margin-bottom: 56px;
  margin-right: 60px;
}

.device__item:nth-child(2) {
  padding-left: 3px;
  margin-right: 70px;
  margin-bottom: 62px;
}

.device__item:last-child {
  width: 704px;
  height: 755px;
  margin-right: 80px;
}

.device__title {
  max-width: 940px;
  margin: auto;
  padding-left: 154px;
  line-height: 94px;
}

.device__title-inner {
  text-align: left;
}

@media screen and (max-width: 1820px) {
  .device-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .device__item {
    padding-left: 0;
    margin-right: 0 !important;
  }
  .device__item img {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 930px) {
  .device__item {
    height: fit-content !important;
  }
  .device__item img {
    max-width: 100vw;
  }
}

@media screen and (max-width: 930px) {
  .device__title {
    padding-left: 0;
  }
  .device__title-inner {
    text-align: center;
  }
}

/* Footer */
.footer {
  padding-top: 180px;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer__title {
  margin-right: -15px;
  line-height: 102.4%;
  text-align: center;
}

.footer__button {
  margin-top: 58px;
  margin-right: -105px;
  text-align: center;
}

.footer__button .button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
  background: #EEE3F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  transition: 1s;
}

.footer__button .button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
}

.footer__button .button a {
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 35px;
}

/* Footer-2 */
.footer-2 {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #000;
  padding-top: 140px;
  padding-bottom: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer-2__title {
  color: #fff;
  margin-right: -15px;
  line-height: 1.8;
  text-align: center;
}

.footer-2__button {
  margin-top: 58px;
  margin-right: -105px;
  text-align: center;
  color: #000;
}

.footer-2__button .button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
  background: #EEE3F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  transition: 1s;
}

.footer-2__button .button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
}

.footer-2__button .button a {
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 35px;
}

/* functions */
.function {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding-top: 143px;
  padding-right: 15px;
}

.function__text {
  text-align: center;
  max-width: 348px;
  padding-top: 43px;
}

.function__title {
  font-size: 40px;
  line-height: 47px;
  font-family: 'SanFrancisco Semibold', sans-serif;
  letter-spacing: 0;
}

.function__subtitle {
  margin-top: 20px;
  font-size: 20px;
  line-height: 23px;
  color: #828282;
}

.function__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 1471px;
}

.function__item:first-child {
  min-width: 463px;
  max-width: 463px;
  margin-left: 57px;
  margin-top: 30px;
}

.function__item:first-child img {
  width: 419px;
}

.function__item:nth-child(2) {
  margin-left: 53px;
}

.function__item:last-child {
  margin-left: 66px;
}

.function__item:last-child .function__img img {
  margin-left: 6px;
  margin-top: 9px;
}

.function__item .function__img img {
  max-width: 100%;
}

.function__item .item__title {
  padding-top: 37px;
  font-family: 'SanFrancisco Semibold';
  font-size: 40px;
  line-height: 102.4%;
  padding-bottom: 10px;
}

.function__item .item__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

@media screen and (max-width: 1365px) {
  .function {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .function__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .function__item {
    text-align: center;
    min-width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-top: 40px;
    padding: 0px 10px;
  }
  .function__img img {
    width: 450px;
    max-width: 100%;
    margin-left: 0 !important;
  }
}
