html {
  overflow-x: hidden;
}

body {
  background: #EEE3F4;
  overflow: hidden;
}

/* blocks BEM */
.block-title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
}

.block-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

/* mixins */
.title {
  font-family: 'SanFrancisco Semibold';
  font-size: 80px;
  line-height: 94px;
}

.title h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title span {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  max-width: 1446px;
  margin: auto;
}

/*What*/
.what {
  margin-top: 78px;
}

.what__content-1 {
  max-width: 1437px;
  margin: auto;
}

.what__title {
  max-width: 100%;
  margin-left: 10px;
  letter-spacing: -2.5px;
}

.what__block-1 {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__block-1 .block-1__text {
  margin-top: 78px;
  min-width: 569px;
}

.what__block-1 .block-1__text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
}

.what__block-1 .block-1__text p {
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

.what__block-1 .block-1__subtitle {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 12px;
}

.what__block-1 .block-1__img {
  margin-left: -105px;
  max-width: 120%;
}

@media screen and (max-width: 1780px) {
  .what .block-1__img {
    margin-left: -55px;
    max-width: 75%;
  }
}

@media screen and (max-width: 1490px) {
  .what .block-1__img {
    margin-left: -55px;
    max-width: 70%;
  }
  .what .block-1__text {
    padding-left: 10px;
    min-width: 579px;
  }
}

@media screen and (max-width: 1380px) {
  .what .block-1__img {
    margin-left: -85px;
  }
}

@media screen and (max-width: 1300px) {
  .what .block-1__img {
    margin-left: -105px;
  }
}

@media screen and (max-width: 840px) {
  .what .block-1__text {
    margin-bottom: -20px;
  }
  .what .block-1__subtitle {
    margin-bottom: -5px;
  }
}

@media screen and (max-width: 540px) {
  .what .block-1__text {
    margin-bottom: -10px;
  }
  .what .block-1__text p {
    line-height: 1.3;
  }
  .what .block-1__subtitle {
    margin-bottom: -15px;
  }
}

.what-facilitate {
  margin-top: -47px;
  margin-bottom: 250px;
}

.what-facilitate .facilitate__title {
  max-width: 821px;
}

.what-facilitate .facilitate__content {
  margin-top: 100px;
}

.what-facilitate .facilitate__item {
  position: relative;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
}

.what-facilitate .facilitate__item:first-child {
  max-width: 820px;
  top: -110px;
  left: 640px;
}

.what-facilitate .facilitate__item:first-child:after {
  content: "";
  width: 900px;
  height: 270px;
  background: url("../img/telephony/Ellipse-1.svg");
  position: absolute;
  left: -50px;
  top: -70px;
}

.what-facilitate .facilitate__item:nth-child(2) {
  top: 65px;
  left: -430px;
}

.what-facilitate .facilitate__item:nth-child(2):after {
  content: "";
  width: 900px;
  height: 270px;
  background: url("../img/telephony/Ellipse-2.svg");
  position: absolute;
  left: 270px;
  top: -115px;
}

.what-facilitate .facilitate__item:last-child {
  max-width: 370px;
  top: 60px;
  left: 810px;
}

.what-facilitate .facilitate__item:last-child:after {
  content: "";
  width: 372px;
  height: 250px;
  background: url("../img/telephony/Ellipse-21.svg");
  position: absolute;
  top: -70px;
  left: 0;
}

@media screen and (max-width: 1760px) {
  .what-facilitate .facilitate__title {
    margin: 0 auto;
    text-align: center;
  }
  .what-facilitate .facilitate__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .what-facilitate .facilitate__item:first-child {
    top: -10px;
    left: 0px;
  }
  .what-facilitate .facilitate__item:first-child:after {
    left: -40px;
    top: -70px;
  }
  .what-facilitate .facilitate__item:nth-child(2) {
    top: 195px;
    left: 20px;
  }
  .what-facilitate .facilitate__item:nth-child(2):after {
    left: -140px;
    top: -115px;
  }
  .what-facilitate .facilitate__item:last-child {
    top: 380px;
    left: 8px;
  }
  .what-facilitate .facilitate__item:last-child:after {
    top: -70px;
    left: 0;
  }
}

@media screen and (max-width: 935px) {
  .what-facilitate .facilitate__title {
    font-size: 60px;
    line-height: 1.1;
  }
  .what-facilitate .facilitate__item:first-child {
    top: -10px;
    left: 0px;
    max-width: 470px;
    font-size: 25px;
  }
  .what-facilitate .facilitate__item:first-child:after {
    width: 600px;
    height: 170px;
    background-size: 600px;
    left: -70px;
    top: -30px;
  }
  .what-facilitate .facilitate__item:nth-child(2) {
    top: 195px;
    left: 20px;
    font-size: 25px;
  }
  .what-facilitate .facilitate__item:nth-child(2):after {
    width: 600px;
    height: 175px;
    background-size: 600px;
    left: -140px;
    top: -60px;
  }
  .what-facilitate .facilitate__item:last-child {
    left: 0px;
    font-size: 25px;
  }
  .what-facilitate .facilitate__item:last-child:after {
    top: -80px;
    left: -40px;
  }
}

@media screen and (max-width: 600px) {
  .what-facilitate {
    margin-top: 50px;
  }
  .what-facilitate .facilitate__title {
    padding: 0 10px;
    font-size: 40px;
  }
  .what-facilitate .facilitate__item:first-child {
    top: -10px;
    left: 0px;
    max-width: 350px;
    font-size: 20px;
    line-height: 1.5;
  }
  .what-facilitate .facilitate__item:first-child:after {
    width: 400px;
    height: 115px;
    background-size: 400px;
    left: -20px;
    top: -20px;
  }
  .what-facilitate .facilitate__item:nth-child(2) {
    top: 100px;
    left: 0px;
    font-size: 20px;
  }
  .what-facilitate .facilitate__item:nth-child(2):after {
    width: 400px;
    height: 115px;
    background-size: 400px;
    left: -70px;
    top: -30px;
  }
  .what-facilitate .facilitate__item:last-child {
    top: 250px;
    left: 0px;
    font-size: 25px;
    max-width: 200px;
    line-height: 1.5;
  }
  .what-facilitate .facilitate__item:last-child:after {
    width: 300px;
    height: 202px;
    background-size: 300px;
    top: -60px;
    left: -50px;
  }
}

@media screen and (max-width: 400px) {
  .what-facilitate {
    margin-top: 50px;
  }
  .what-facilitate .facilitate__title {
    font-size: 30px;
  }
  .what-facilitate .facilitate__item:first-child {
    top: -70px;
    left: 0px;
    max-width: 290px;
    font-size: 20px;
    line-height: 1.3;
  }
  .what-facilitate .facilitate__item:first-child:after {
    background: none;
  }
  .what-facilitate .facilitate__item:nth-child(2) {
    top: -40px;
    font-size: 20px;
  }
  .what-facilitate .facilitate__item:nth-child(2):after {
    background: none;
  }
  .what-facilitate .facilitate__item:last-child {
    top: -10px;
    left: 0px;
    font-size: 20px;
    max-width: 200px;
    line-height: 1.3;
  }
  .what-facilitate .facilitate__item:last-child:after {
    background: none;
  }
}

.what__block-2 {
  margin: 0 auto 115px;
  width: 100%;
  max-width: 1920px;
  padding-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__block-2 .block-2__text {
  margin-top: 193px;
  margin-left: 42px;
}

.what__block-2 .block-2__text p {
  max-width: 495px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
}

.what__block-2 .block-2__subtitle {
  margin-bottom: 20px;
  max-width: 562px;
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

.what__block-2 .block-2__img img {
  max-width: 100%;
}

@media screen and (max-width: 1760px) {
  .what__block-2 {
    margin-top: 550px;
  }
}

@media screen and (max-width: 1239px) {
  .what__block-2 {
    margin-top: 250px;
  }
  .what__block-2 .block-2__text {
    margin-top: 0;
  }
}

@media screen and (max-width: 950px) {
  .what__block-2 .block-2__subtitle {
    line-height: 1;
  }
}

@media screen and (max-width: 600px) {
  .what__block-2 {
    margin-top: 120px;
  }
}

@media screen and (max-width: 470px) {
  .what__block-2 .block-2__subtitle {
    margin-bottom: 5px;
    line-height: 1.1 !important;
  }
}

@media screen and (max-width: 400px) {
  .what__block-2 {
    margin-top: -150px;
  }
}

.what__block-3 {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.what__block-3 .block-3__title {
  margin-top: 10px;
  margin-bottom: -10px;
}

@media screen and (max-width: 580px) {
  .what__block-3 .block-3__title {
    line-height: 1.1 !important;
  }
}

.what .block-img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.what .block-img img {
  max-width: 120%;
}

/* Calls */
.calls {
  margin-top: 10px;
}

.calls__title-block {
  max-width: 1437px;
  margin: auto;
}

.calls__title-block a {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #4F4F4F;
}

.calls__title {
  font-size: 100px;
}

.calls__title span {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calls__title-text {
  margin-top: 45px;
  margin-bottom: 25px;
  max-width: 546px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
}

.calls__block {
  margin-top: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1467.59px;
  margin: 0 auto;
}

.calls__block .block__title {
  margin-top: 100px;
  -webkit-transform: rotate(-3.19deg);
  -ms-transform: rotate(-3.19deg);
  transform: rotate(-3.19deg);
}

.calls__block img {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .calls__block img {
    max-width: 125%;
  }
}

.calls__block .block__text {
  margin-top: -123px;
  max-width: 642px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
  font-size: 25px;
  margin-left: -210px;
}

.calls__forwarding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1457px;
  width: calc(100% - 20px);
  margin: 120px auto 0;
}

.calls__forwarding .forwarding__button-wrapper {
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#4B48F5), to(#890041));
  background: -webkit-linear-gradient(left, #4B48F5, #890041);
  background: -o-linear-gradient(left, #4B48F5, #890041);
  background: linear-gradient(to right, #4B48F5, #890041);
  border-radius: 30px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.calls__forwarding .forwarding__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 19px 25px;
  color: #fff;
  background: #F5E9DD;
  border-radius: 30px;
  cursor: pointer;
}

.calls__forwarding .forwarding__button a {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.calls__forwarding .forwarding__title {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  font-size: 55px;
}

.calls__forwarding .forwarding__text {
  margin-top: 20px;
  max-width: 422px;
  margin: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
}

.calls__forwarding .forwarding__button {
  background: #EEE3F4;
}

.calls__forwarding .forwarding__button-wrapper {
  margin-top: 140px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calls__forwarding .forwarding__button-wrapper a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calls__forwarding .forwarding__col-2 {
  margin-top: -70px;
  margin-right: -250px;
}

.calls__forwarding .forwarding__img {
  max-width: 1437px;
}

/* Control */
.control {
  max-width: 1437px;
  width: calc(100% - 20px);
  margin: 121px auto 0;
}

.control__title-block {
  margin: 0 0 154px 242px;
}

.control__title {
  font-size: 80px;
  line-height: 94px;
  font-family: 'SanFrancisco Semibold', sans-serif;
}

@media screen and (max-width: 991px) {
  .control__title {
    font-size: 70px;
  }
}

.control__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
  margin-top: 20px;
  line-height: 29px;
}

.control__title-text {
  margin-top: 45px;
  margin-bottom: 25px;
  max-width: 546px;
  color: #828282 !important;
}

.control__block {
  padding-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1367.59px;
  margin: 0 auto;
}

.control__block .block__title {
  margin-left: -50px;
  -webkit-transform: rotate(-3.19deg);
  -ms-transform: rotate(-3.19deg);
  transform: rotate(-3.19deg);
}

.control__block img {
  margin-right: -140px;
}

.control__block .block__text {
  margin-top: -123px;
  margin-left: -185px;
  max-width: 642px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
  font-size: 25px;
}

.control__forwarding {
  margin-bottom: 190px;
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1239px) {
  .control__forwarding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .control__forwarding .control__col-1 {
    text-align: center;
  }
}

.control__forwarding .forwarding__title {
  font-family: 'SanFrancisco Semibold';
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  font-size: 55px;
}

.control__forwarding .forwarding__text {
  margin-top: 20px;
  max-width: 422px;
  margin: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.667;
  color: #828282;
}

.control__forwarding .forwarding__button {
  margin-top: 140px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.control__forwarding .forwarding__button a {
  padding: 18px 25px;
}

.control__forwarding .forwarding__col-2 {
  margin-top: -70px;
}

.control__forwarding .forwarding__img {
  max-width: 100%;
}

/* calltracking */
.calltracking {
  max-width: 1713px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .calltracking {
    padding: 0px 15px;
  }
}

.calltracking__image {
  position: relative;
  max-width: 985px;
  max-height: 750px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1239px) {
  .calltracking__image {
    max-width: 100vw;
    width: 100vw;
  }
  .calltracking__image .calltracking__image {
    position: relative;
    max-width: 985px;
    max-height: 100%;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.calltracking__image img {
  display: block;
  max-width: 100vw;
  margin-left: -173px;
}

@media screen and (max-width: 1400px) {
  .calltracking__image img {
    margin-left: 0;
    max-width: 120%;
  }
}

.calltracking__about {
  padding-top: 120px;
}

.calltracking__title {
  font-size: 60px;
  font-family: 'SanFrancisco Semibold';
  line-height: 70px;
}

.calltracking__subtitle {
  max-width: 641px;
  padding-top: 36px;
  font-family: Roboto;
  line-height: 29px;
  color: #828282;
}

@media screen and (max-width: 1239px) {
  .calltracking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .calltracking__about {
    padding-top: 0;
  }
  .calltracking__subtitle {
    max-width: 933px;
  }
}

@media screen and (max-width: 767px) {
  .calltracking__about {
    text-align: center;
  }
  .calltracking__title {
    font-size: 40px;
    line-height: 1;
  }
  .calltracking__subtitle {
    padding-top: 20px;
    font-size: 18px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1239px) {
  .application__image {
    display: none;
  }
  .application {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* application */
.application {
  padding-top: 173px;
  width: calc(100% - 20px);
  max-width: 1413px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.application__title {
  line-height: 78px;
  max-width: 477px;
}

.application__subtitle {
  margin-top: 36px;
  max-width: 543px;
}

.application__button {
  font-size: 24px;
  line-height: 28px;
  margin-top: 45px;
  max-width: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #EEE3F4;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.application__button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: -webkit-linear-gradient(348.57deg, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(348.57deg, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
}

.application__button a {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 46px;
}

.application__image {
  position: absolute;
  top: -320px;
  right: -260px;
}

.application__image-wrapper {
  position: absolute;
}

.application__image img {
  position: absolute;
}

.application__image img:first-child {
  right: 65px;
  top: 314px;
}

.application__image img:nth-child(2) {
  right: -359px;
  top: 414px;
}

.application__image img:last-child {
  right: -303px;
  top: -7px;
}

@media screen and (max-width: 767px) {
  .block-title {
    font-size: 50px !important;
    line-height: 48px !important;
    max-width: 100%;
  }
  .application__subtitle {
    margin-top: 26px;
    max-width: 100%;
    font-size: 15px;
  }
  .application__about {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .application__button {
    margin: 26px auto 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .block-title {
    font-size: 40px !important;
    line-height: 38px !important;
  }
}

/* Footer */
.footer {
  padding-top: 180px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.footer__title {
  line-height: 102.4%;
  text-align: center;
}

.calls ~ .footer {
  color: #000 !important;
}

.calls ~ .footer .footer__button-wrapper {
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  border-radius: 30px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.calls ~ .footer .footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 19px 25px;
  color: #fff;
  background: #F5E9DD;
  border-radius: 30px;
  cursor: pointer;
}

.calls ~ .footer .footer__button a {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.39%, #4B48F5), color-stop(37.78%, #890041));
  background: -webkit-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: -o-linear-gradient(left, #4B48F5 -0.39%, #890041 37.78%);
  background: linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.calls ~ .footer .footer__button {
  background: #EEE3F4;
}

.calls ~ .footer .footer__button-wrapper {
  margin-top: 57px;
}
