
.html-fixed{
	max-height: 100vh !important;
}
.html-scroll{
	overflow-y: scroll;
}
.header {
	height: 67px;
    z-index: 111111111111111111111111111111111111111111111;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition-delay: .5s;
    position: fixed;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    &-wrapper{
    	width: 100%;
    	height: 517px;
    	background: url("../img/header/Rectangle 205.jpg") no-repeat center / cover;
    }
    &__text{
    	max-width: 1437px;
    	height: 100%;
    	margin: auto;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
    	padding-left: 10px;
    	padding-right: 10px;
    }
    &__title{
    	font-family: "SanFrancisco Semibold", sans-serif;
    	font-size: 100px;
    	line-height: 1.17;
    	color: #FFF;
    	padding-bottom: 92px;
    }
    &__subtitle{
    	max-width: 392px;
    	margin-right: -172px;
    	font-size: 24px;
    	line-height: 1.1667;
    	color: #FFF;
    	padding-bottom: 43px;
    	letter-spacing: -.1px;
    }
	&__inner{
		max-width: 1000px;
		width: calc(100% - 44px);
		height: 100%;
		margin: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu-btn{
		position: absolute;
		top: 19px;
		left: 15px;
		display: none;
		width: 17px;
		height: 9px;
		padding: 10px;
		box-sizing: content-box;
		transition: .5s;
		& span{
			transition: .5s;
			transform-origin: left;
			left: 50%;
			transform: translate(-50%, 0);
		}
		& span:first-child{
			display: block;
			width: 17px;
			height: 1px;
			background: #fff;
			border-radius: 0.5px;
			position: absolute;
			z-index: 1;
			top: 11px;
		}
		& span:last-child{
			display: block;
			width: 17px;
			height: 1px;
			background: #fff;
			border-radius: 0.5px;
			position: absolute;
			top: 19px;
			z-index: 1;
		}
	}
	&__navigation{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		height: 100%;
	}
	&__logo{
		margin-right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	&__menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
	}
	&__menu ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 100%;
		transition: .5s ease-out;
		z-index: 111111111111111111;
		&::-webkit-scrollbar{
			width: 0;
		}
	}
	&__search{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-right: 14px;
	}
	&__link{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0px;
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		& i{
			display: none;
			margin-right: 10px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__client{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		margin-left: 10px;
	}
	&__avatar{
		width: 28px;
		height: 28px;
		overflow: hidden;
		border-radius: 50%;
		& img{
			width: 28px;
			height: 28px;
		}
	}
	&__form{
		display: none;
		position: relative;
		max-width: 584px;
		margin: auto;
		&::after{
			content: "";
			height: 1px;
			color: #fff;
			width: 100vw;
			position: absolute;
			bottom: -10px;
		}
		& i{
			color: #6e6e73;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 2px;
			line-height: 36px;
			width: 29px;
			text-align: center;
			z-index: 11111;
			@media screen and (max-width: 662px) {
				left: -28px;
			}
		}
		& input{
			background: #1d1d1f;
			width: 100%;
			color: #fff;
			padding-left: 30px;
			padding-right: 10px;
			height: 36px;
			line-height: 36px;
			font-size: 17px;
			border-radius: 8px;
			@media screen and (max-width: 662px) {
				position: absolute;
				left: -30px;
				width: calc(100vw - 20px);
			}
		}
		@media screen and (max-width: 662px) {
			height: 36px;
		}
		& input:placeholder{
			color: #6e6e73;
		}
	}
	&-bottom{
	    padding-top: 14px;
	    padding-bottom: 23px;
	    margin-top: 67px;
	    height: 127px;
	    width: 100%;
	    background: #F2F2F2;
	    z-index: 111;
	    font-weight: 500;
	    display: none;
		&__possibility{
			max-width: 1000px;
			margin: auto;
			align-items: flex-end;
			justify-content: space-between;
			padding-left: 10px;
			padding-right: 10px;
			display: none;
			& a:first-child{
				margin-left: 0;
			}
		}
		&__contact{
			max-width: 1000px;
			margin: auto;
			align-items: flex-end;
			padding-left: 10px;
			padding-right: 10px;
			display: none;
			& a:first-child{
				margin-left: 0;
			}
			@media screen and (max-width: 860px) {
				justify-content: space-between;
			}
		}
	}
	&__item{
		text-align: center;
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&-text{
			margin-top: 10px;
			font-size: 12px;
			line-height: 15px;
			color: #333;
			letter-spacing: -.1px;
		}
	}
	.header-bottom__contact .header__item{
		margin: 0px 53px;
	}
	&__info{
		font-size: 12px;
		line-height: 15px;
		letter-spacing: .3px;
		position: relative;
		margin-left: 33px;
		& div{
			margin: 3px 0;
		}
		&::before{
			content: "";
			position: absolute;
			width: 1px;
			height: 53px;
			background: #828282;
			top: 50%;
			left: -22px;
			transform: translate(0, -50%)
		}
		@media screen and (max-width: 860px) {
			margin: 0;
		}
		@media screen and (max-width: 767px) {
			margin: 0;
			text-align: left;
			& div a{
				justify-content: flex-start;
			}
			&::before{
				display: none;
			}
		}
	}
	&__search-quick{
		position: absolute;
		top: 67px;
		left: 50%;
		transform: translate(-50%, 0);
		max-width: 682.656px;
		width: 66.66667%;
		max-height: calc(100% - 44px);
		line-height: 2;
		background:#fff;
		border-radius: 0 0 18px 18px;
		transition: none!important;
		&-inner{
			margin: 0 40px;
			padding: 24px 0 18px;
			transition: none!important;
		}
		&-wrapper{
			position: absolute;
			width: 100vw;
			height: 100vh;
			background: rgba(0, 0, 0, .48);
			opacity: 0;
			transition-property: opacity;
			transition: .5s;
			z-index: -1111;
			&-active{
				opacity: 1;
				z-index: 1111111111;
			}
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}
}
.db{
	display: block;
}
.db1{
	display: block;
}
.search-quick__title{
	font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    color: #6e6e73;
}
.search-quick__links{
	padding-top: 5px;
}
.search-quick__item{
	margin: 6px -32px;
	& a{
	    color: #1d1d1f;
	    display: block;
		padding: 0 48px;
		font-size: 14px;
		&:hover{			
    		color: #0167CC;
    		background: #F5F5F7;
		}
	}
}
.header__contact i{
	transition: .4s;
}
.angle-active{
	transform: rotate(90deg);
	transform-origin: center;
}
.contact__item{
	margin: 0px 37px;
	@media screen and (max-width: 860px) {
		margin: 0;
	}
}
.menu-bottom_active{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contact{
	&__menu{
		
	}
	&__item{

	}
}
.desktop{
	&__form{
		display: none;
		max-width: 682.656px;
		width: 66.66667vw;
		margin: auto;
		position: relative;
		height: 100%;
		& img{
			position: absolute;
			top: 50%;
			left: 19px;
			transform: translate(-50%, -50%);
			color: #fff;
			font-size: 15px;
			color: #86868b;
		}
		&-active{
			display: block;
		}
		.form__button{
			width: 38px;
			height: 100%;
			background:none;
			position: absolute;
			right: 0;
		}
		.button__wrapper{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -32%);
			& span{
			    height: 18px;
			    width: 1px;
			    background: #86868b;
			    position: absolute;
			    display: block;
			    border-radius: 0.5px;
			    top: 11px;
			    z-index: 1;
			}
			.form__button-left{
				right: 12px;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform-origin: 0 100%;
				transform-origin: 0 100%;
			}
			.form__button-right{
				left: 12px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
			}
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	&__input{
		height: 100%;
		max-width: 100%;
		width: 100%;
		padding: 0 38px 0 39px;
		background:transparent;
		font-size: 17px;
		line-height: 1.29412;
		color: #fff;
		&::placeholder{
			color: #6E6E73;
		}
	}
}
/* media */
@media screen and (max-width: 1620px){
	.header{
		&__subtitle{
			margin-right: -50px;
		}
	}
}
@media screen and (max-width: 1190px){
	.header{
		&__text{
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
		}
		&__subtitle{
			margin-right: 0;
			text-align: center;
		}
	}
}
@media screen and (max-width: 767px){
	.header{
		&__inner{
			width: 100%;
		}
		&__logo{
			z-index: 111111111;
			margin-right: 0;
			position: absolute;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__client{
			z-index: 11111;
			width: 100vw;
			justify-content: flex-end;
			padding-right: 22px;
		}
		&__menu-btn{
			display: block;
			z-index: 111111;
		}
		&__navigation{
			width: 100vw;
			position: absolute;
			justify-content: center;
		}
		&__menu ul{
			background: #000;
			width: 100vw;
			position: absolute;
			left: 0;
			top: 67px;
			height: 0;
			display: block;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0 40px;
			& li:nth-child(2){
				padding-top: 17px;
			}
			& li{
				max-width: 584px;
				margin: auto;
			}
			& li a{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				padding-right: 0;
				border-bottom: 1px solid #424245;
				line-height: 44px;
			}
		}
		&__form{
			display: block;
		}
		&__search{
			display: none;
		}
		&-active{
			background: #000;
			backdrop-filter: none;
			transition: 0s;
		}
		&-bottom{
			display: none!important;
		}
		&__link i{
			display: block;
		}
	}
}
.mobile-menu__possibility li:nth-child(2){
	padding-top: 53px!important;
}
@media screen and (max-width: 850px){
	.header{
		&__title{
			font-size: 65px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 560px){
	.header{
		&__title{
			font-size: 37.7px;
		}
	}
}
.menu-active{
	height: calc(100vh - 67px)!important;
	display: block;
}
.hamburger-active{
	& span{
		transition: .5s;
		left: 12px;
	}
	& span:first-child{
		transform: rotate(45deg);
		top: 8px;
	}
	& span:last-child{
		transform: rotate(-45deg);
		top: 20px;
	}
}

/* second-level */
.menu__second-level{
	display: none!important;
	& a{
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex!important;
		align-items: center;
		border-bottom: none!important;
		margin: 17px 0;
		font-size: 16px;
		line-height: 20px!important;
		letter-spacing: 0;
	}
	.level__item-text{
		padding-left: 13px;
	}
	.level__item-img img{
		min-width: 30px;
		max-width: 30px;
	}
}

/* contact-level */
.contact-level{
	display: none;
	& a{
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex!important;
		align-items: center;
		border-bottom: none!important;
		margin: 17px 0;
		font-size: 16px;
		line-height: 20px!important;
		letter-spacing: 0;
	}
	.level__item-text{
		padding-left: 13px;
	}
	.level__item-img img{
		min-width: 30px;
		max-width: 30px;
	}
}
.second-level-active{
	display: block!important;
}
.header__menu-hidden{
	display: none!important;
}
.second-level__back{
	margin-top: 17px;
	color: #6e6e73;
	text-align: center;
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 584px;
	margin: auto;
	position: relative;
	background: #1d1d1f;
	width: 100%;
	padding: 9px;
    border-radius: 8px;
	i{
		color: #6e6e73;
		font-size: 14px;
		position: absolute;
		left: 3px;
		padding: 10px;
	}
	& div{
		text-align: center;
	}
	@media screen and (max-width: 662px) {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: calc(100vw - 20px);
		height: 36px;
	}
}
@media screen and (min-width: 768px){
	.header__menu ul li{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
}