.header{
	height: 67px;
    z-index: 11111;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition-delay: .5s;
    position: fixed;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    &-wrapper{
    	width: 100%;
    	height: 517px;
    	background: url("../img/header/Rectangle 205.jpg") no-repeat center / cover;
    }
    &__text{
    	max-width: 1437px;
    	height: 100%;
    	margin: auto;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
    	padding-left: 10px;
    	padding-right: 10px;
    }
    &__title{
    	font-family: "SanFrancisco Semibold", sans-serif;
    	font-size: 100px;
    	line-height: 1.17;
    	color: #FFF;
    	padding-bottom: 92px;
    }
    &__subtitle{
    	max-width: 392px;
    	margin-right: -172px;
    	font-size: 24px;
    	line-height: 1.1667;
    	color: #FFF;
    	padding-bottom: 43px;
    	letter-spacing: -.1px;
    }
	&__inner{
		max-width: 1000px;
		width: calc(100% - 44px);
		height: 100%;
		margin: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu-btn{
		position: absolute;
		top: 19px;
		left: 15px;
		display: none;
		width: 17px;
		height: 9px;
		padding: 10px;
		box-sizing: content-box;
		transition: .5s;
		& span{
			transition: .5s;
			transform-origin: left;
			left: 50%;
			transform: translate(-50%, 0);
		}
		& span:first-child{
			display: block;
			width: 17px;
			height: 1px;
			background: #fff;
			border-radius: 0.5px;
			position: absolute;
			z-index: 1;
			top: 11px;
		}
		& span:last-child{
			display: block;
			width: 17px;
			height: 1px;
			background: #fff;
			border-radius: 0.5px;
			position: absolute;
			top: 19px;
			z-index: 1;
		}
	}
	&__navigation{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
	}
	&__logo{
		margin-right: 10px;
	}
	&__menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
	}
	&__menu ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 100%;
		transition: .5s ease-out;
		z-index: 111111111111111111;
		&::-webkit-scrollbar{
			width: 0;
		}
	}
	&__search{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-right: 14px;
	}
	&__link{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0px;
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		& i{
			display: none;
		}
	}
	&__client{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		margin-left: 10px;
	}
	&__avatar{
		width: 28px;
		height: 28px;
		overflow: hidden;
		border-radius: 50%;
		& img{
			width: 28px;
			height: 28px;
		}
	}
	&__form{
		display: none;
		position: relative;
		max-width: 584px;
		margin: auto;
		&::after{
			content: "";
			height: 1px;
			color: #fff;
			width: 100vw;
			position: absolute;
			bottom: -10px;
		}
		& i{
			color: #6e6e73;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
			line-height: 36px;
			width: 29px;
			text-align: center;
		}
		& input{
			background: #1d1d1f;
			width: 100%;
			color: #fff;
			padding-left: 30px;
			padding-right: 10px;
			height: 36px;
			line-height: 36px;
			font-size: 17px;
			border-radius: 8px;
		}
		& input:placeholder{
			color: #6e6e73;
		}
	}
	&-bottom{
	    padding-top: 14px;
	    padding-bottom: 23px;
	    margin-top: 67px;
	    height: 127px;
	    width: 100%;
	    background: #F2F2F2;
	    z-index: 111;
	    font-weight: 500;
	    display: none;
		&__possibility{
			max-width: 1437px;
			margin: auto;
			align-items: flex-end;
			padding-left: 10px;
			padding-right: 10px;
			display: none;
			& a:first-child{
				margin-left: 0;
			}
		}
		&__contact{
			max-width: 1437px;
			margin: auto;
			align-items: flex-end;
			padding-left: 10px;
			padding-right: 10px;
			display: none;
			& a:first-child{
				margin-left: 0;
			}
		}
	}
	&__item{
		margin: 0px 37px;
		text-align: center;
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&-text{
			margin-top: 10px;
			font-size: 12px;
			line-height: 15px;
			color: #333;
			letter-spacing: -.1px;
		}
	}
	.header-bottom__contact .header__item{
		margin: 0px 53px;
	}
	&__info{
		font-size: 12px;
		line-height: 15px;
		letter-spacing: .3px;
		position: relative;
		margin-left: 33px;
		& div{
			margin: 3px 0;
		}
		&::before{
			content: "";
			position: absolute;
			width: 1px;
			height: 53px;
			background: #828282;
			top: 50%;
			left: -22px;
			transform: translate(0, -50%)
		}
		@media screen and (max-width: 767px) {
			margin: 44px 0 0 0;
			text-align: center;
			& div a{
				justify-content: center;
			}
			&::before{
				width: 100%;
				height: 1px;
				background: #828282;
				top: -22px;
				left: 50%;
				transform: translate(-50%, 0)
			}
		}
	}
}
.menu-bottom_active{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
/* media */
@media screen and (max-width: 1620px){
	.header{
		&__subtitle{
			margin-right: -50px;
		}
	}
}
@media screen and (max-width: 1190px){
	.header{
		&__text{
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
		}
		&__subtitle{
			margin-right: 0;
			text-align: center;
		}
	}
}
@media screen and (max-width: 767px){
	.header{
		&__inner{
			width: 100%;
		}
		&__logo{
			z-index: 11111;
			margin-right: 0;
			position: absolute;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__client{
			z-index: 11111;
			width: 100vw;
			justify-content: flex-end;
			padding-right: 22px;
		}
		&__menu-btn{
			display: block;
			z-index: 111111;
		}
		&__navigation{
			width: 100vw;
			position: absolute;
			justify-content: center;
		}
		&__menu ul{
			background: #000;
			width: 100vw;
			position: absolute;
			left: 0;
			top: 33px;
			height: 0;
			display: block;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0 40px;
			& li:nth-child(2){
				padding-top: 17px;
			}
			& li{
				max-width: 584px;
				margin: auto;
			}
			& li a{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				padding-right: 0;
				border-bottom: 1px solid #424245;
				line-height: 44px;
			}
		}
		&__form{
			display: block;
		}
		&__search{
			display: none;
		}
		&-active{
			background: #000;
			backdrop-filter: none;
			transition: 0s;
		}
		&-bottom{
			display: none!important;
		}
		&__link i{
			display: block;
		}
	}
}
@media screen and (max-width: 850px){
	.header{
		&__title{
			font-size: 65px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 560px){
	.header{
		&__title{
			font-size: 37.7px;
		}
	}
}
.menu-active{
	height: calc(100vh - 67px)!important;
	display: block;
}
.hamburger-active{
	& span{
		transition: .5s;
		left: 12px;
	}
	& span:first-child{
		transform: rotate(45deg);
		top: 8px;
	}
	& span:last-child{
		transform: rotate(-45deg);
		top: 20px;
	}
}

/* second-level */
.menu__second-level{
	display: none!important;
	& li a{
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex!important;
		align-items: center;
		border-bottom: none!important;
		margin: 17px 0;
		font-size: 16px;
		line-height: 20px!important;
		letter-spacing: 0;
	}
	.level__item-text{
		padding-left: 20px;
	}
	.level__item-img img{
		min-width: 45px;
		max-width: 45px;
	}
}
.second-level-active{
	display: block!important;
}
.header__menu-hidden{
	display: none!important;
}
.second-level__back{
	margin-top: 17px;
	color: #6e6e73;
	text-align: center;
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 584px;
	margin: auto;
	position: relative;
	background: #1d1d1f;
	width: 100%;
	padding: 9px;
    border-radius: 8px;
	i{
		color: #6e6e73;
		font-size: 14px;
		position: absolute;
		left: 3px;
		padding: 10px;
	}
	& div{
		text-align: center;
	}
}
@media screen and (min-width: 768px){
	.header__menu ul li{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
}