body{
	background: #EAE2EB;
}
/* blocks BEM */
.block-title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
}
.block-subtitle{
	font-size: 24px;
	line-height: 28px;
	color: #828282;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
	line-height: 94px;
}
@mixin gradient() {
	background: linear-gradient(to right,#4B48F5 -0.39%, #890041 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin gradient-3() {
	background: linear-gradient(105.52deg, #80E0FF -0.39%, #855AFF 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin text{
	font-weight: 400;
	font-size: 25px;
	line-height: 1.25;
	color: #828282;
}
.title{
	@include title();
	p{
		@include gradient();
		display: inline-block;
	}
}
.title-3{
	@include title();
	p{
		@include gradient-3();
		display: inline-block;
	}
}
.subtitle{
	font-weight: 700;
	font-size: 40px;
	line-height: 100.19%;
	color: #000000;
}
@mixin button($property) {
	&__button-wrapper {
		display: inline-block;
		position: relative;
		background: $property;
		border-radius: 30px;
		padding: 1px;
		margin: 0 auto;
		text-align: center;
	}
	&__button{
		display: flex;
		text-align: center;
		padding: 19px 25px;
		color: #fff;
		border-radius: 30px;
		cursor: pointer;
		& a{
			font-size: 24px;
			background: $property;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
			@media screen and (max-width: 470px) {
				font-size: 15.8px;
			}
		}
	}
	&__title span{
		background: $property;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.wrapper{
	overflow: hidden;
	overflow-x: hidden;
}
/* Affiliate-program */
.affiliate-program{
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title{
		font-weight: 700;
		font-size: 120px;
		line-height: 95.19%;
		text-align: center;
		text-transform: uppercase;
		color: #000000;

	}
	&__text{
		margin-top: 45px;
		max-width: 1015px;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		color: #4F4F4F;
	}
	&-block-img{
		margin-left: -20px;
		margin-top: 50px;
		display: flex;
	}
	&-img-2{
		margin-left: -90px;
		img{

		}
	}
}
@media screen and (max-width: 1700px){
	.affiliate-program{
		&-block-img{
			margin-left: 0;
			margin-top: 0;
		}
		&-img-2{
			margin-left: 0;
			img{
				max-width: 100%;
			}
		}
		&-img{
			img{
				max-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 1400px){
	.affiliate-program{
		&__title{
			font-size: 80px;
		}
		&__text{
			margin-bottom: 50px;
			max-width: 815px;
			font-size: 30px;
		}
	}
}
@media screen and (max-width: 1000px){
	.affiliate-program{
		&__title{
			font-size: 60px;
		}
		&__text{
			margin-top: 20px;
			max-width: 615px;
			font-size: 25px;
			line-height: 1.3;
		}
	}
}
@media screen and (max-width: 600px){
	.affiliate-program{
		&__title{
			font-size: 40px;
		}
		&__text{
			margin-top: 10px;
			max-width: 415px;
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 450px){
	.affiliate-program{
		&__title{
			font-size: 30px;
		}
		&__text{
			max-width: 315px;
			font-size: 16px;
		}
	}
}
/* Customer-earnings */
.customer-earnings{
	max-width: 1400px;
	margin: auto;
	&__title{
		float: right;
		max-width: 821px;
		font-weight: 700;
		font-size: 75px;
		line-height: 95.19%;
		text-transform: uppercase;
		color: #000000;
		transform: rotate(6.89deg);
	}
	&__block-img{
		position: relative;
		display: flex;
	}
	&__img{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		width: 100%;
		& img{
			margin-top: -210px;
		}
	}
	&__block-text{
		margin-top: -100px;
		margin-left: 100px;
	}
	&__subtitle{
		margin-bottom: 11px;
	}
	&__text{
		max-width: 929px;
		@include text();
	}
}
@media screen and (max-width: 1700px){
	.customer-earnings{
		margin-top: 50px;
	}
}
@media screen and (max-width: 1300px){
	.customer-earnings__block-text{
		margin-left: 0;
	}
}
@media screen and (max-width: 1460px){
	.customer-earnings{
		display: flex;
		flex-direction: column;
		align-items: center;
		&__img{
			& img{
				margin-top: -50px;
				max-width: 125%;
			}
		}
		&__title{
			margin-bottom: -50px;
			transform: none;
		}
	}
}
@media screen and (max-width: 1170px){
	.customer-earnings{
		margin-bottom: 100px;
		&-img-1{
			left: -10px;
			top: -50px;
			img{
				max-width:420px;
			}
		}	
		&-img-2{
			img{
				max-width: 700px;
			}
		}
		&__title{
			text-align: center;
			max-width: 600px;
			margin-left: 100px;
			font-size: 25px;
			margin-bottom: -50px;
		}
		&__block-text{
			text-align: center;
			padding: 0 20px;
			margin-top: -80px;
			margin-left: 0;
		}
		&__subtitle{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text{
			max-width: 529px;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 530px){
	.customer-earnings{
		&-img-1{
			left: 20px;
			top: 90px;
			img{
				max-width:150px;
			}
		}
		&-img-2{
			img{
				max-width: 400px;
			}
		}
		&__title{
			margin-left: 50px;
			font-size: 20px;
			margin-bottom: -20px;
		}
		&__block-text{
			margin-top: 0;
		}
		&__text{
			line-height: 1.3;
		}
	}
}
/* Introduction */
.introduction{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: -325px;
	display: flex;
	justify-content: center;
	&-img{
		margin-left: -650px;
		img{
			max-width: 100%;
		}
	}
	&__block-text{
		margin-top: 375px;
		margin-left: -260px;
	}
	&__text{
		@include text();
		max-width: 767px;
	}
	&__subtitle{
		margin-bottom: 20px;
	}
	@media screen and (max-width: 1890px){
		margin-top: 0;
	}
}
@media screen and (max-width: 1300px){
	.introduction{
		&-img{
			display: none;
		}
		&__block-text{
			margin-top: 60px;
			margin-left: 0;
			max-width: 100%;
			width: 929px;
		}
	}
}
@media screen and (max-width: 1239px){
	.introduction{
		margin-top: -50px;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
		&__block-text{
			margin-top: -100px;
			margin-left: 0;
		}
		&__text{
			max-width: 929px;
		}
		&-img{
			display: flex;
			justify-content: center;
			margin-left: 0;
			img{
				max-width: 130%;
			}
		}
	}
}
@media screen and (max-width: 1170px){
	.introduction{
		&__block-text{
			text-align: center;
		}
		&__subtitle{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text{
			max-width: 529px;
			margin: auto;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 660px){
	.introduction{
		&__block-text{
			margin-top: -40px;
		}
		&__subtitle{
			margin-bottom: 5px;
			font-size: 25px;
		}
	}
}
/* Development */
.development{
	margin-top: 200px;
	display: flex;
	justify-content: center;
	&__col-1{
		margin-top: 310px;
		display: flex;
		flex-direction: column;
	}
	&__block-text{
		margin-left: 58px;
	}
	&__subtitle{

	}
	&__text{
		margin-top: 15px;
		max-width: 724px;
		@include text();
	}
	&-img-1{
		margin-top: 20px;
		left: -450px;
		img{

		}
	}
	&__col-2{
		position: relative;
		left: -305px;
		display: flex;
		flex-direction: column;
	}
	&__text-2{
		margin-top: -160px;
		margin-left: 220px;
		max-width: 662px;
		@include text();
	}
}
@media screen and (max-width: 2415px){
	.development{
		justify-content: flex-start;
	}
}
@media screen and (max-width: 1920px){
	.development{
		&-img-1{
			position: relative;
		}
	}
}
@media screen and (max-width: 1700px){
	.development{
		margin-top: 200px;
		&__col-2{
			left: -455px;
		}
	}
}
@media screen and (max-width: 1520px){
	.development{
		margin-top: 350px;
		&__text-2{
			max-width: 462px;
		}
	}
}
@media screen and (max-width: 1320px){
	.development{
		margin-top: 350px;
		&__text-2{
			max-width: 362px;
		}
	}
}
@media screen and (max-width: 1239px){
	.development{
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		&__block-text{
			margin-left: 0;
			max-width: 100%;
			width: 929px;
		}
		&__text{
			width: 100%;
			max-width: 100%;
		}
		&__col-1{
			margin-top: 0;
			align-items: center;
		}
		&__col-2{
			align-items: center;
			text-align: center;
			left: 0px;
		}
		&-img-2{
			display: none;
		}
		&-img-1{
			display: flex;
			justify-content: center;
			margin-top: 20px;
			left: 0;
			img{
				max-width: 120%;
			}
		}
		&__text-2{
			max-width: 662px;
			margin-top: -80px;
			margin-left: 0;
		}
	}
}
@media screen and (max-width: 770px){
	.development{
		&__subtitle{
			padding: 0 15px;
			font-size: 30px;
		}
		&__text{
			padding: 0 15px;
			margin: 5px auto 0;
			font-size: 18px;
			line-height: 1.5;
			max-width: 524px;
		}
		&__text-2{
			margin-top: -30px;
			padding: 0 15px;
			font-size: 18px;
			line-height: 1.5;
			max-width: 524px;
		}
	}
}
@media screen and (max-width: 570px){
	.development{
		&__subtitle{
			font-size: 25px;
		}
		&__text{
			padding: 0 15px;
			font-size: 16px;
			max-width: 335px;
		}
		&__text-2{
			font-size: 16px;
			max-width: 335px;
		}
	}
}

@media screen and (max-width: 1170px){
	.development{
		&__block-text{
			text-align: center;
		}
		&__subtitle{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text, &__text-2{
			max-width: 529px;
			margin: auto;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 660px){
	.development{
		&__block-text{
			margin-top: -40px;
		}
		&__subtitle{
			margin-bottom: 5px;
			font-size: 25px;
		}
	}
}
/* Business */
.business{
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title{
		max-width: 600.7px;
		font-weight: 700;
		font-size: 70px;
		line-height: 95.19%;
		text-transform: uppercase;
		color: #000000;
		transform: rotate(-3.02deg);
	}
	&__row{
		display: flex;
	}
	&__item{
		margin-top: 90px;
		margin-left: 200px;
		.business__block-text{
			max-width: 660px;
			margin-top: -95px;
			margin-left: 170px;
		}
	}
	&__item-2{
		margin-top: 165px;
		margin-left: 100px;
		.business__text-img{
			margin-left: 135px;
		}
		.business-img{
			margin-left: -30px;
		}
	}
	&__item-3{
		margin-top: 380px;	
		.business__text-img{
			margin-left: -60px;
			margin-bottom: -10px;
		}
		.business-img{
			position: relative;
			left: -250px;
		}
		.business__block-text{
			max-width: 684px;
			margin-top: -90px;
			margin-left: -80px;
		}
	}
	&__text-img{
		font-family: 'Segoe Script', sans-serif;
		font-weight: 400;
		font-size: 40px;
		line-height: 100.19%;
	}
	&__subtitle{
		margin-bottom: 10px;
	}
	&__text{
		max-width: 942px;
		@include text();
	}
	@media screen and (max-width: 1850px){
		&__item-2{
			margin-left: 200px;
		}
	}
	@media screen and (max-width: 1650px){
		&__item{
			margin-left: 250px;
		}
		&__item-2{
			margin-left: 300px;
		}
	}
	@media screen and (max-width: 1550px){
		padding: 0 10px;
		&__item{
			margin-left: 250px;
			.business-img{
				img{
					max-width: 880px;
				}	
			}
		}
		&__item-2{
			.business__text-img{
				margin-left: 80px;
			}
			.business-img{
				img{
					max-width: 605px;
				}
			}
		}
		&__item-3{
			margin-left: 70px;
			.business-img{
				img{
					max-width: 810px;
				}
			}
			.business__block-text{
				max-width: 484px;
				margin-top: -90px;
				margin-left: -140px;
			}
		}
	}
	@media screen and (max-width: 1440px){
		&__title{
			max-width: 800px;
		}
	}
	@media screen and (max-width: 1270px){
		padding: 0 10px;
		&__item{
			margin-left: 250px;
			.business-img{
				img{
					max-width: 705px;
				}	
			}
		}
		&__item-2{
			.business__text-img{
				margin-left: 80px;
			}
			.business-img{
				img{
					max-width: 505px;
				}
			}
		}
		&__item-3{
			margin-left: 170px;
			.business__text-img{
				margin-left: -120px;
			}
			.business-img{
				img{
					max-width: 650px;
				}
			}
			.business__block-text{
				max-width: 484px;
				margin-top: -90px;
				margin-left: -140px;
			}
		}
	}
	@media screen and (max-width: 1239px){
		margin-top: 100px;
		&__row{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}	
		&__title{
			margin-bottom: 30px;
			font-size: 50px;
			transform: none;
		}
		&__subtitle{
			font-size: 25px;
		}
		&__text{
			margin: 0 auto;
			max-width: 742px;
		}
		&__item{
			margin: 90px auto 0;
			.business__block-text{
				margin: 0 auto;
			}
			.business-img{
				display: flex;
				justify-content: center;
				img{
					max-width: 150%;
				}
			}
		}
		&__item-2{
			margin-top: 165px;
			margin-left: 0;
			.business__text-img{
				margin: 0 auto;
			}
			.business-img{
				margin-left: 0;
			}
			.business-img{
				img{
					max-width: 70%;
				}
			}
		}
		&__item-3{
			margin: 165px auto 0;	
			.business__text-img{
				margin-left: 0;
				margin-bottom: 0;
			}
			.business-img{
				left: 0;
				img{
					max-width: 100%;
				}
			}
			.business__block-text{
				margin: 0 auto 0;
				max-width: 684px;
			}
		}
	}
	@media screen and (max-width: 1170px){
		&__title{
			font-size: 35px;
		}
		&__text{
		    font-size: 16px;
		}
	}
	@media screen and (max-width: 700px){
		&__title{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text{
			font-size: 20px;
			line-height: 1.1;
		}
		&__text-img{
			font-size: 25px;
		}		
	}
}
/* Money */
.money{
	max-width: 1230px;
	margin: 170px auto 0;
	display: flex;
	&__col{
		&:last-child{
			margin-left: 170px;
		}
	}
	&__title{
		margin-bottom: 75px;
		max-width: 700.7px;
		font-weight: 700;
		font-size: 70px;
		line-height: 95.19%;
		text-transform: uppercase;
		color: #000000;
		transform: rotate(-3.02deg);
	}
	&__text{
		max-width: 600px;
		@include text();
	}
	&__block-img{
		display: flex;
	}
	&__col-img{
		&:first-child{
			margin-top: -35px;
			margin-right: 15px;
		}
	}
	&-img{
		width: 176px;
		height: 152px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #EAE2EB;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		&:first-child{
			margin-bottom: 15px;
		}
	}
	@media screen and (max-width: 1300px){
		&__col{
			&:last-child{
				margin-left: 100px;
			}
		}
	}
	@media screen and (max-width: 1239px){
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		&__title{
			margin-bottom: 30px;
			text-align: center;
			font-size: 40px;
		}
		&__text{
			text-align: center;
		}
		&__col{
			&:last-child{
				margin-top: 100px;
				margin-left: 0;
			}
		}
	}
	@media screen and (max-width: 770px){
		&__col{
			&:first-child{
				padding: 0 10px;
			}
		}
		&__title{
			font-size: 30px;
		}
		&__text{
			font-size: 18px;
			line-height: 1.5;
		}
	}
	@media screen and (max-width: 400px){
		&__title{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__block-img{
			flex-direction: column;
		}
		&__col{
			&:last-child{
				margin-top: 40px;
			}
		}
		&__col-img{
			&:first-child{
				margin-top: 0;
				margin-right: 0;
			}
		}
		&-img{
			margin-bottom: 15px;
		}
	}
}
/* Benefit */
.benefit{
	max-width: 1230px;
	margin: 160px auto 0;
	&__title{
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 70px;
		line-height: 95.19%;
		text-transform: uppercase;
		color: #000000;
	}
	&__text{
		max-width: 737px;
		@include text();
	}
	@media screen and (max-width: 1239px){
		&__title{
			margin-bottom: 10px;
			text-align: center;
			font-size: 40px;
		}
		&__text{
			margin: 0 auto;
			text-align: center;
		}
	}
	@media screen and (max-width: 770px){
		padding: 0 10px;
		&__title{
			margin-bottom: 0;
			line-height: 1.3;
			font-size: 30px;
		}
		&__text{
			max-width: 600px;
			font-size: 18px;
			line-height: 1.5;
		}
	}
	@media screen and (max-width: 360px){
		&__title{
			font-size: 25px;
		}
	}
}