$button-body:#FBFBFB;
html{
	overflow-x: hidden;
}
body{
	overflow: hidden;
}
/* blocks BEM */
.block-title{
	font-family: 'SanFrancisco Semibold';
	font-size: 80px;
}
.block-subtitle{
	font-size: 24px;
	line-height: 1.166666666666667;
	color: #828282;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';
	font-size: 80px;
	line-height: 1.175;
}
@mixin subtitle{
	font-family: 'SanFrancisco Semibold';
	font-size: 60px;
	line-height: 1.166666666666667;
	color: #000000;
}
@mixin text{
	font-weight: 400;
	font-size: 24px;
	line-height: 1.166666666666667;
	color: #828282;
}
@mixin gradient($property) {
	background: $property;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin button($property) {
	&__button-wrapper {
		display: inline-block;
		position: relative;
		background: $property;
		border-radius: 30px;
		padding: 1px;
		margin: 0 auto;
		text-align: center;
	}
	&__button{
		display: flex;
		text-align: center;
		padding: 19px 25px;
		color: #fff;
		border-radius: 30px;
		cursor: pointer;
		& a{
			font-size: 24px;
			background: $property;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
			@media screen and (max-width: 470px) {
				font-size: 15.8px;
			}
		}
	}
	&__title span{
		background: $property;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.title{
	@include title();
	h2{
		@include gradient(linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%));
	}
	span{
		@include gradient(linear-gradient(to right, #4B48F5 -0.39%, #890041 37.78%));
	}
}
.content{
	max-width: 1446px;
	margin: auto;
}
.area{
	max-width: 1437px;
	margin: auto;
}
/* Crm */
.crm{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-img{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		img{
			max-width: 125%;
		}
	}
	&__title-1{
		font-family: 'SanFrancisco Semibold', sans-serif;
		font-size: 100px;
		line-height: 1.17;
		text-align: center;
		max-width: 1000px;
	}

	@media screen and (max-width: 1700px){
		&__title-1{
			font-size: 80px;
		}
	}
	@media screen and (max-width: 1475px){
		&__title-1{
			font-size: 65px;
		}
	}
	@media screen and (max-width: 1010px){
		&__title-1{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 960px){
		&__title-1{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 768px){
		&__title-1{
			font-size: 35px;
		}
	}
}
/* what is */
.what-is{
	width: calc(100% - 20px);
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 100px;
		line-height: 117%;
		@include gradient(linear-gradient(104.09deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	@media screen and (max-width: 1200px){
		&__title{
			text-align: center;
			font-size: 80px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 40px;
		}
	}
}
/* sales management */
.sales-management{
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
		transform: rotate(-5.5deg);
		margin-top: 110px;
		text-align: center;
		margin-right: 93px;
	}
	&__img{
		margin-top: -100px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		& img{
			max-width: 139%;
		}
	}
	&__subtitle{
		font-size: 25px;
		line-height: 116%;
		color: #828282;
		max-width: 671px;
		margin-left: 275px;
		margin-top: -150px;
		letter-spacing: -.2px;
		position: relative;
		&::after{
			content: url('../img/index/Vector-4.svg');
			position: absolute;
			top: -100px;
			right: -290px;
		}
	}
	@media screen and (max-width: 1455px){
		&__subtitle{
			margin-left: 0;
			max-width: 100%;
			text-align: center;
			&::after{
				content: url('../img/index/Arrow-27.svg');
				top: 140%;
				right: calc(50% - 12px);
			}
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			text-align: center;
			font-size: 60px;
			margin-right: 0;
		}
		&__subtitle{
			font-size: 20px;
			margin-top: -100px;
		}
	}
	@media screen and (max-width: 1000px){
		&__img{
			margin-top: -50px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 770px){
		&__title{
			font-size: 40px;
		}
		&__img{
			margin-top: -45px;
		}
		&__subtitle{
			font-size: 16px;
			margin-top: -80px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
		}
		&__img{
			margin-top: -30px;
		}
		&__subtitle{
			font-size: 14px;
			margin-top: -50px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 26px;
		}
		&__img{
			margin-top: -20px;
		}
		&__subtitle{
			font-size: 14px;
			margin-top: -20px;
		}
	}
}
/* call pickup */
.call-pickup{
	margin-top: 200px;
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
		transform: rotate(5.07deg);
		margin-top: 110px;
		margin-left: 600px;
		text-align: center;
	}
	&__img{
		margin-top: -100px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		& img{
			max-width: 125%;
		}
	}
	&__subtitle{
		font-size: 25px;
		line-height: 116%;
		color: #828282;
		max-width: 555px;
		margin-left: 650px;
		margin-top: -200px;
		letter-spacing: -.5px;
		position: relative;
		&::after{
			content: url('../img/index/Vector-5.svg');
			position: absolute;
			bottom: -110px;
			left: -260px;
		}
	}
	@media screen and (max-width: 1455px){
		&__subtitle{
			margin-top: -100px;
			margin-left: 0;
			max-width: 100%;
			text-align: center;
			&::after{
				content: url('../img/index/Arrow-27.svg');
				top: 140%;
				left: calc(50% - 12px);
			}
		}
	}
	@media screen and (max-width: 1361px){
		&__title{
			text-align: center;
			font-size: 60px;
		}
	}
	@media screen and (max-width: 1200px){
		&__subtitle{
			font-size: 20px;
			margin-top: -100px;
		}
		&__title{
			font-size: 50px;
			margin-left: 0;
			transform: none;
		}
		&__img{
			margin-top: -20px;
		}
	}
	@media screen and (max-width: 1000px){
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 770px){
		&__title{
			font-size: 40px;
		}
		&__subtitle{
			font-size: 16px;
			margin-top: -80px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
		}
		&__subtitle{
			font-size: 14px;
			margin-top: -50px;
		}
	}
	@media screen and (max-width: 600px){
		&__img{
			margin-top: -8px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 26px;
		}
		&__subtitle{
			font-size: 14px;
			margin-top: -20px;
		}
	}
}
/* history */
.history{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 115px;
	&__img{
		position: relative;
		& img{
			right: 0px;
			top: -360px;
			position: absolute;
		}
			&::after{
				content: url('../img/index/Vector-19.svg');
				position: absolute;
				bottom: -450px;
				left: -100px;
			}
	}
	&__text{
		margin-top: 130px;
		max-width: 643px;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
	}
	&__subtitle{
		font-size: 25px;
		line-height: 116%;
		color: #828282;
		max-width: 555px;
		letter-spacing: -.5px;
		margin-top: 41px;
		position: relative;
	}
	@media screen and (max-width: 680px){
		&__img::after{
			content: url('../img/index/Arrow-27.svg');
			bottom: -30px;
			left: calc(50% - 12px);
		}
	}
	@media screen and (max-width: 570px){
		&__img::after{
			content: url('../img/index/Arrow-27.svg');
			bottom: -90px;
			left: calc(50% - 12px);
		}
	}
	@media screen and (max-width: 1455px){
		margin-top: 230px;
	}
	@media screen and (max-width: 1200px){
		&__subtitle{
			font-size: 20px;
			max-width: 457px;
		}
		&__title{
			font-size: 50px;
			max-width: 348px;
		}
	}
	@media screen and (max-width: 1000px){
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 40px;
			max-width: 330px;
		}
		&__subtitle{
			font-size: 16px;
			max-width: 360px;
		}
	}
	@media screen and (max-width: 680px){
		justify-content: center;
		flex-direction: column;
		margin-top: 65px;
		&__img{
			order: 2;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				margin-top: -60px;
				position: relative;
				top: 0;
				right: 0;
				max-width: 142%;
			}
		}
		&__title{
			margin: auto;
			text-align: center;
		}
		&__subtitle{
			margin: 21px auto 0;
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 26px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
/* Task-management */
.task-management{
	position: relative;
	margin-left: 1050px;
	margin-top: 200px;
	display: flex;
	justify-content: center;
	&:after{
		content: url('../img/index/Vector-20.svg');
		position: absolute;
		top: 1030px;
		left: -300px;
	}
	&__col{
		&:first-child{
			.task-management-img img{
				margin-left: -200px;
			}
			.task-management__subtitle{
				max-width: 640px;
				margin-top: -150px;
			}
		}
		&:last-child{
			.task-management-img img{
				margin-left: -890px;
			}
			.task-management__subtitle{
				max-width: 404px;
				margin-top: -170px;
				margin-left: -50px;
			}
		}
	}
	&__title{
		max-width: 457px;
		line-height: 95.4%;
	}
	&__subtitle{
		font-family: 'Segoe Script', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		color: #333;
	}
	@media screen and (max-width: 1880px){
		margin-left: 530px;
		&:after{
			top: 680px;
			left: 50px;
		}
		&__title{
			font-size: 50px;
		}
		&__col{
			&:first-child{
				.task-management-img img{
					max-width: 920px;
				}
				.task-management__subtitle{
					max-width: 400px;
					margin-top: -100px;
					margin-left: -50px;
					font-size: 25px;
					line-height: 1.3;
				}
			}
			&:last-child{
				.task-management-img img{
					max-width: 1320px;
					margin-top: 50px;
					margin-left: -530px;
				}
				.task-management__subtitle{
					max-width: 224px;
					margin-top: -90px;
					margin-left: -70px;
					font-size: 25px;
					line-height: 1.3;
				}
			}
		}
	}
	@media screen and (max-width: 1200px){
		margin-top: 350px;
		flex-direction: column;
		align-items: center;
		margin-left: 0;
		&:after{
			content: url('../img/index/Arrow-27.svg');
			position: relative;
			top: 50px;
			left: 0;
		}
		&__title{
			margin: 0 auto;
			font-size: 40px;
			text-align: center;
		}
		&__col{
			&:first-child{
				.task-management-img{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					& img{
						margin: 0 -10%;
						max-width: 137%;
					}
				}
				.task-management__subtitle{
					max-width: 440px;
					margin: -100px auto 0;
					font-size: 30px;
					text-align: center;
				}
			}
			&:last-child{
				.task-management-img {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					& img{
						margin: 0 -50%;
						max-width: 310%;
					}
				}
				.task-management__subtitle{
					max-width: 284px;
					margin: -100px auto 0;
					font-size: 30px;
					text-align: center;
				}
			}
		}
	}
	@media screen and (max-width: 740px){
		&__col{
			&:first-child{
				.task-management__subtitle{
					max-width: 440px;
					margin: -100px auto 0;
					font-size: 30px;
					text-align: center;
				}
			}
			&:last-child{
				.task-management__subtitle{
					max-width: 404px;
					margin: -110px auto 0;
					font-size: 30px;
					text-align: center;
				}
			}
		}
	}
	@media screen and (max-width: 680px){
		margin-top: 50px;
	}
	@media screen and (max-width: 670px){
		&__title{
			font-size: 35px;
		}
		&__col{
			&:first-child{
				.task-management__subtitle{
					max-width: 380px;
					margin: -50px auto 0;
					font-size: 22px;
					text-align: center;
				}
			}
			&:last-child{
				.task-management__subtitle{
					max-width: 224px;
					margin: -50px auto 0;
					font-size: 22px;
					text-align: center;
				}
			}
		}
	}
	@media screen and (max-width: 570px){
		margin-top: 150px;
	}
	@media screen and (max-width: 420px){
		margin-top: 110px;
		&__title{
			font-size: 30px;
		}
		&__col{
			&:first-child{
				.task-management__subtitle{
					max-width: 330px;
					margin: -50px auto 0;
					font-size: 20px;
					text-align: center;
				}
			}
			&:last-child{
				.task-management__subtitle{
					max-width: 224px;
					margin: -50px auto 0;
					font-size: 20px;
					text-align: center;
				}
			}
		}
	}
}
/* cross-cutting analytics-1 */
.cross-cutting-analytics-1{
	display: flex;
	justify-content: center;
	margin-left: 620px;
	&__col{
		&:first-child{
			.cross-cutting-analytics-1-img img{
				transform: rotate(-12.87deg);
				margin-top: 80px;

			}
		}
		&:last-child{
			.cross-cutting-analytics-1-img img{
				margin-left: -100px;
				@media screen and (max-width: 1200px) {
					display: none;
				}
			}
		}
	}
	&__title{
		margin-right: -100px;
	}
	&__text{
		max-width: 795px;
		@include text();
	}
	@media screen and (max-width: 1880px){
		margin-top: 100px;
	}
	@media screen and (max-width: 1650px){
		margin-top: 100px;
		margin-left: 300px;
		&__col-block-text{
			margin-left: 100px;
			margin-right: -500px;
		}
		&__col{
			&:first-child{
				.cross-cutting-analytics-1-img img{
					max-width: 700px;
				}
			}
			&:last-child{
				.cross-cutting-analytics-1-img img{
					margin-top: 500px;
					margin-left: -150px;
					max-width: 1000px;
				}
			}
		}
	}
	@media screen and (max-width: 1200px){
		flex-direction: column;
		align-items: center;
		margin-left: 0;
		&__col-block-text{
			margin: 0 auto;
		}
		&__title{
			margin: 0 auto;
			text-align: center;
		}
		&__text{
			margin: 0 auto;
			text-align: center;
			font-size: 20px;
		}
		&__col{
			&:first-child{
				.cross-cutting-analytics-1-img{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					& img{
						max-width: 118%;
						margin: 50px 0 0 15px;
					}
				}
			}
			&:last-child{
				.cross-cutting-analytics-1-img{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					& img{
						max-width: 135%;
						margin: 0px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 900px){
		&__col-block-text{
			padding: 0 15px;
		}
		&__title{
			font-size: 50px;
		}
		&__text{
			max-width: 600px;
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__text{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 640px){
		&__text{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 570px){
		&__title{
			font-size: 35px;
			line-height: 1.3;
		}
		&__text{
			margin-top: 10px;
			max-width: 400px;
		}
	}
	@media screen and (max-width: 415px){
		&__title{
			font-size: 26px;
			line-height: 1.1;
		}
	}
	@media screen and (max-width: 370px){
		&__text{
			font-size: 14px;
		}
	}
}
/* unique system */
.unique-system{
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
	&__title {
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 60px;
		line-height: 166.67%;
		@include gradient(linear-gradient(104.09deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 45px;
		}
	}
	@media screen and (max-width: 767px){
		margin-top: 0;
		&__title{
			font-size: 34px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 23px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 18px;
		}
	}
}
/* sales department */
.sales-department{
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 80px;
		line-height: 120%;
		color: #000;
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 40px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 26px;
		}
	}
}
.distribution{
	&__img {
		margin-top: 11px;
		margin-left: -280px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		& img{
			max-width: 125%;
			margin-left: -140px;
		}
	}
	&__title{
		margin-top: -100px;
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000000;
	}
	&__subtitle{
		margin-top: 10px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
		max-width: 929px;
		letter-spacing: -.5px;
	}
	@media screen and (max-width: 1459px){
		&__img{
			margin-left: 0;
			& img{
				margin-left: 0;
			}
		}
		&__title{
			text-align: center;
		}
		&__subtitle{
			text-align: center;
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
			margin-top: -80px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
			margin-top: -50px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 17px;
			margin-top: -30px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
.telephony{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	&__img{
		margin-left: -449px;
	}
	&__text{
		margin-left: -170px;
		margin-top: -360px;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000;
	}
	&__subtitle{
		margin-top: 11px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
	}
	@media screen and (max-width: 1410px){
		&__img{
			margin-left: -600px;
		}

		&__text{
			margin-left: -200px;
		}
	}
	@media screen and (max-width: 1239px){
		flex-direction: column;
		align-items: center;
		&__img{
			margin-left: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				max-width: 148%;
			}
		}
		&__text{
			margin-left: 0;
			margin-top: 0;
		}
		&__title{
			text-align: center;
			margin-top: -100px;
		}
		&__subtitle{
			text-align: center;
			letter-spacing: -.5px;
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
			margin-top: -80px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
			margin-top: -50px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 17px;
			margin-top: -30px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
/* communication history */
.communication-history{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 780px;
	margin-top: -315px;
	&__text{
		max-width: 680px;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000;
	}
	&__subtitle{
		margin-top: 11px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
	}
	&__img{
		position: relative;
		left: 125px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		& img{
			position: absolute;
		}
	}
	@media screen and (max-width: 1550px){
		&__img{
			left: -100px;
		}
	}
	@media screen and (max-width: 1239px){
		flex-direction: column;
		align-items: center;
		margin-top: -100px;
		height: 100%;
		&__text{
			order: 2;
			margin-top: -100px;
		}
		&__title{
			text-align: center;
		}
		&__subtitle{
			text-align: center;
			letter-spacing: -.5px;
		}
		&__img{
			left: 0px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				position: relative;
				max-width: 137%;
			}
		}
	}
	@media screen and (max-width: 900px){
		margin-top: 0px;
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
			margin-top: 50px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 17px;
			margin-top: 60px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
/* sales funnel */
.sales-funnel{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	&__img{
		margin-left: -449px;
	}
	&__text{
		margin-left: -50px;
		margin-top: -100px;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000;
	}
	&__subtitle{
		margin-top: 11px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
		letter-spacing: -.5px;
		max-width: 738px;
	}
	@media screen and (max-width: 1239px){
		flex-direction: column;
		align-items: center;
		&__img{
			margin-left: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				max-width: 138%;
			}
		}
		&__text{
			margin-left: 0;
			margin-top: 0;
		}
		&__title{
			text-align: center;
			margin-top: -100px;
		}
		&__subtitle{
			text-align: center;
			letter-spacing: -.5px;
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
			margin-top: -80px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
			margin-top: -50px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 17px;
			margin-top: -40px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
/* marketing department */
.marketing-department{
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 80px;
		line-height: 120%;
		color: #000;
		max-width: 993px;
		margin: auto;
	}
	@media screen and (max-width: 1239px){
		margin-top: 150px;
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 767px){
		margin-top: 60px;
		&__title{
			font-size: 40px;
		}
	}
	@media screen and (max-width: 680px){
		&__title{
			text-align: center;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 26px;
		}
	}
}

/* cross-cutting analytics */
.cross-cutting-analytics{
	&__img_left{
		position: relative;
		bottom: -310px;
		& img{
			position: absolute;
			left: -576.5px;
		}
	}
	&__img_right{
		margin-left: 30px;
	}
	&__text{
		max-width: 807px;
		margin: -50px auto 0;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000;
	}
	&__subtitle{
		margin-top: 11px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
		letter-spacing: -.5px;
		max-width: 618px;
	}
	@media screen and (max-width: 1320px){
		&__text{
			padding-left: 50px;
		}
		&__img_right{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			margin-left: 0;
			& img{
				max-width: 138%;
			}
		}
	}
	@media screen and (max-width: 1239px){
		&__img_left{
			display: none;
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 840px){
		&__text{
			padding-left: 0;
			text-align: center;
		}
		&__subtitle{
			margin: 10px auto;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__text{
			margin-top: -40px;
		}
		&__title{
			font-size: 17px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}


/* calltracking */
.calltracking{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-top: 50px;
	&__text{
		max-width: 559px;
	}
	&__title{
		font-family: "SanFrancisco Semibold", sans-serif;
		font-size: 40px;
		line-height: 100.19%;
		color: #000;
	}
	&__subtitle{
		margin-top: 11px;
		font-size: 25px;
		line-height: 136%;
		color: #828282;
		letter-spacing: -.1px;
		max-width: 618px;
	}
	&__types{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 1362px;
		margin-right: -602px;
		margin-left: 130px;
		font-family: 'Segoe Script', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 119.1%;
		color: #333333;
	}
	.type_dynamic__title{
		margin-top: -70px;
	}
	.type_static__title{
		margin-top: 190px;
		& ~ img{
			margin-top: -90px;
		}
	}
	&_dynamic{
		margin-right: -70px;
		& img{
			margin-left: -130px;
		}
	}
	&_static{
		& img{
			margin-left: -130px;
		}
	}
	@media screen and (max-width: 2060px){
		.type_static__title{
			max-width: 50%;
		}
	}
	@media screen and (max-width: 1700px){
		flex-direction: column;
		align-items: center;
		&__types{
			margin-right: 0;
		}
	}
	@media screen and (max-width: 1239px){
		margin-top: 150px;
		&__title{
			text-align: center;
		}
		&__subtitle{
			text-align: center;
		}
		&__types{
			margin: 0 auto;
			flex-direction: column;
			align-items: center;
		}
		.type_dynamic__title{
			text-align: center;
			margin: -70px auto 0;
		} 
		.type_static__title{
			text-align: center;
			margin: 100px auto 0;
		}
		&_dynamic, &_static{
			margin: 0;
			max-width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&_dynamic{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				max-width: 139%;
				margin: 0;
			}
		}  
		&_static{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			& img{
				max-width: 139%;
				margin: 0;
			}
		} 
	}
	@media screen and (max-width: 768px){
		margin-top: 80px;
	}
	@media screen and (max-width: 700px){
		.type_dynamic__title{
			margin-top: -60px;
		} 
		.type_static__title{
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width: 590px){
		.type_dynamic__title{
			margin-top: -50px;
			font-size: 25px;
		} 
		.type_static__title{
			margin-bottom: 30px;
			font-size: 25px;
			line-height: 1.1;
		}
	}
	@media screen and (max-width: 460px){
		.type_dynamic__title{
			margin-top: -30px;
			font-size: 20px;
			line-height: 1.1;
		} 
		.type_static__title{
			margin-bottom: 50px;
			font-size: 20px;
		}
	}
	@media screen and (max-width: 1200px){
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 26px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 22px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 370px){
		&__title{
			font-size: 17px;
		}
		&__subtitle{
			font-size: 14px;
		}
	}
}
/* segmentation */
.segmentation{
	position: relative;
	display: flex;
	&:after{
		content: url("../img/index/Vector-22.svg");
		display: block;
		position: absolute;
		top: 910px;
		left: 620px;
	}
	&__col{
		&:first-child{
			.segmentation__block-text{
				margin-top: -120px;
			}
			.segmentation-img img{
				left: -500px;
			}
		}
		&:last-child{
			margin-left: -580px;
			.segmentation__block-text{
				margin-top: 400px;
			}
			.segmentation-img img{
				top: -130px;
				left: 420px;
				transform: rotate(31.36deg);
			}
		}
	}
	&-img{
		img{
			position: relative;
		}
	}
	&__block-text{
		max-width: 620px;
	}
	&__subtitle{
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 40px;
		line-height: 100.19%;
	}
	&__text{
		@include text();
	}
	@media screen and (max-width: 1370px){
		&__col{
			&:first-child{
				.segmentation-img img{
					max-width: 975px;
					left: -200px;
				}
			}
			&:last-child{
				margin-left: -280px;
				.segmentation-img img{
					max-width: 660px;
					left: 300px;
				}
			}
		}
		&__block-text{
			max-width: 470px;
		}
		&:after{
			top: 700px;
			left: 480px;
		}
	}
	@media screen and (max-width: 1200px){
		margin-bottom: 270px;
		flex-direction: column;
		align-items: center;
		&__col{
			&:first-child{
				display: flex;
				flex-direction: column;
				.segmentation__block-text{
					margin: 0 auto;
					text-align: center;
					order: 1;
				}
				.segmentation-img{
					order: 2;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					img{
						max-width: 139%;
						margin: 0 -10%;
						left: 0;
					}
				}
			}
			&:last-child{
				margin-left: 0;
				.segmentation__block-text{
					margin: 0 auto 70px;
					text-align: center;
				}
				.segmentation-img{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					& img{
						max-width: 100%;
						margin: 0  0 0 -17px;
						padding: 0;
						position: relative;
						top: 0;
						left: 0;
						transform: rotate(31.36deg);
					}
				}
			}
		}
		&:after{ 
			top: 100%;
		 	left: 48%;
		}
	}
	@media screen and (max-width: 700px){
		margin-bottom: 200px;
		&:after{ 
			content: url('../img/index/Arrow-27.svg');
		}
		&__subtitle{
			font-size: 30px;
		}
		&__text{
			font-size: 20px;
			padding: 0 15px;
		}
	}
	@media screen and (max-width: 400px){
		&__text{
			font-size: 16px;
		}
	}
}
/* Directors */
.directors{
	position: relative;
	margin-top: -380px;
	margin-bottom: 200px;
	&-img{
		max-width: 100%;
		position: absolute;
		top: -20px;
		left: -980px;
		transform: rotate(-37.91deg);
		img{
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
	}
	&__row{
		display: flex;
		&:first-child{
			.directors__item{
				&:first-child{
					padding: 60px 0 0 70px;
					overflow: visible;
					height: 240px;
					margin-top: 54px;
					position: relative;
					left: -100px;
					background: url("../img/index/border-1.svg") no-repeat;
					background-size: 100%;
					.directors__text{
						max-width: 610px;
					}
				}
				&:last-child{
					padding: 70px 0 0 70px;
					overflow: visible;
					height: 290px;
					margin-left: -70px;
					background: url("../img/index/border-2.svg") no-repeat;
					background-size: 100%;
					.directors__text{
						max-width: 730px;
					}
				}
			}
		}
		&:last-child{
			.directors__item{
				&:first-child{
					margin-left: -50px;
					padding: 60px 50px 70px 70px;
					overflow: visible;
					height: 310px;
					margin-top: 90px;
					background: url("../img/index/border-3.svg") no-repeat;
					background-size: 100%;
					.directors__text{
						max-width: 790px;
					}
				}
				&:last-child{
					margin-top: 100px;
					margin-right: -100px;
					padding: 60px 50px 70px 70px;
					overflow: visible;
					height: 270px;
					background: url("../img/index/border-4.svg") no-repeat;
					background-size: 100%;
					.directors__text{
						max-width: 630px;
					}
				}
			}
		}
	}
	&__subtitle{
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 40px;
		line-height: 100.19%;
	}
	&__text{
		max-width: 700px;
		@include text();
	}
	@media screen and (max-width: 1620px){
		&-img{
			display: none;
		}
		&__subtitle{
			font-size: 30px;
		}
		&__row{
			display: flex;
			&:first-child{
				.directors__item{
					&:first-child{
						padding: 55px 70px 60px 70px;
						height: 240px;
						margin-top: 54px;
						position: relative;
						left: 0;
					}
					&:last-child{
						padding: 50px 40px 40px 70px;
						height: 270px;
						margin-left: 0;
						margin-right: 0px;
					}
				}
			}
			&:last-child{
				.directors__item{
					&:first-child{
						margin-left: 0;
						padding: 60px 50px 70px 70px;
						height: 280px;
						margin-top: 90px;
					}
					&:last-child{
						margin-top: 100px;
						margin-right: 0;
						padding: 60px 50px 70px 70px;
						height: 250px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1410px){
		&__row{
			display: flex;
			&:first-child{
				.directors__item{
					&:first-child{
						padding: 40px 70px 60px 70px;
						height: 240px;
					}
					&:last-child{
						margin-top: 20px;
						padding: 40px 40px 40px 70px;
						height: 270px;
						.directors__text{
							max-width: 860px;
						}
					}
				}
			}
			&:last-child{
				.directors__item{
					&:first-child{
						margin-top: 20px;
						margin-left: 0;
						padding: 50px 50px 70px 70px;
						height: 280px;
					}
					&:last-child{
						margin-top: 30px;
						padding: 50px 50px 70px 70px;
						height: 250px;
					}
				}
			}
		}
		&__subtitle{
			margin-bottom: 0px;
			font-size: 25px;
		}
		&__text{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 1200px){
		margin-top: 280px;
		&__title{
			text-align: center;
			font-size: 50px;
		}
		&__row{
			display: flex;
			flex-direction: column;
			align-items: center;
			&:first-child{
				.directors__item{
					&:first-child{
						padding: 100px 70px 60px 70px;
						height: 300px;
						.directors__text{
							max-width: 700px;
						}
					}
					&:last-child{
						margin-top: 20px;
						padding: 70px 40px 40px 70px;
						height: 360px;
						.directors__text{
							max-width: 700px;
						}
					}
				}
			}
			&:last-child{
				.directors__item{
					&:first-child{
						padding: 80px 50px 70px 70px;
						height: 330px;
						.directors__text{
							max-width: 700px;
						}
					}
					&:last-child{
						padding: 100px 50px 70px 70px;
						height: 320px;
						.directors__text{
							max-width: 700px;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px){
		margin-bottom: 50px;
	}
	@media screen and (max-width: 700px){
		margin-top: -50px;
		&__row{
			&:first-child{
				.directors__item{
					&:first-child{
						padding: 0;
						height: auto;
						background: none;
						.directors__text{
							max-width: 550px;
						}
					}
					&:last-child{
						margin-top: 50px;
						padding: 0;
						height: auto;
						background: none;
						.directors__text{
							max-width: 550px;
						}
					}
				}
			}
			&:last-child{
				.directors__item{
					&:first-child{
						margin-top: 50px;
						padding: 0;
						height: auto;
						background: none;
						.directors__text{
							max-width: 550px;
						}
					}
					&:last-child{
						margin-top: 50px;
						padding: 0;
						height: auto;
						background: none;
						.directors__text{
							max-width: 550px;
						}
					}
				}
			}
		}
		&__subtitle{
			text-align: center;
			margin-bottom: 10px;
			font-size: 30px;
		}
		&__text{
			text-align: center;
			font-size: 25px;
		}
	}
	@media screen and (max-width: 480px){
		&__title{
			margin-bottom: -50px;
			font-size: 40px;
		}
		&__subtitle{
			text-align: center;
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text{
			text-align: center;
			font-size: 20px;
		}
	}
}
/* Familiar */
.familiar{
	max-width: 1557px;
	margin: 0 auto 100px;
	&__title{
		margin-left: 20px;
		margin-bottom: 100px;
		font-weight: 700;
		font-size: 100px;
		line-height: 117px;
		@include gradient(linear-gradient(104.09deg, 
		#F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	&__content{
		display: flex;	
		justify-content: space-between;
	}
	&__col{
	}
	&__item{
		&:first-child{
			margin-bottom: 190px;
		}
	}
	&__subtitle{
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 60px;
		line-height: 70px;
	}
	&__text{
		max-width: 334px;
		@include text();
	}
	@media screen and (max-width: 1570px){
		padding: 0 15px;
	}
	@media screen and (max-width: 1200px){
		&__title{
			margin-left: 0;
			text-align: center;
			font-size: 80px;
		}
		&__content{
			flex-direction: column;
			align-items: center;
		}
		&__col{
			text-align: center;
			display: flex;
			justify-content: center;
		}
		&__item{
			&:first-child{
				margin-right: 100px;
				margin-bottom: 140px;
			}
		}
		&__subtitle{
			font-size: 40px;
		}
		&__text{
			max-width: 260px;
			margin: 0 auto;
			font-size: 22px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 50px;
			margin-bottom: 50px;
		}
		&__subtitle{
			font-size: 30px;
			margin-bottom: 0;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 40px;
			margin-bottom: 0px;
		}
		&__col{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			&:first-child{
				margin-right: 0;
				margin-bottom: 50px;
			}
			margin-bottom: 50px;
		}
		&__subtitle{
			font-size: 25px;
			margin-bottom: -10px;
		}
	}
}
/* Protection */
.protection{
margin-bottom: 100px;
	&__content{
		display: flex;
		justify-content: center;
	}
	&-img{
		margin-left: 45px;
		img{
			max-width: 100%;
		}
	}
	&__block-text{
		margin-top: 110px;
		margin-left: 40px;
		max-width: 663px;
	}
	&__title{
		margin-bottom: 40px;
		line-height: 1.167;
	}
	&__text{
		max-width: 536px;
		@include text();
	}
	@media screen and (max-width: 1920px){
		&__content{
			justify-content: flex-start;
		}
	}
	@media screen and (max-width: 1600px){
		padding-right: 10px;
		&-img{
			margin-left: 0;
		}
		&__title{
			font-size: 50px;
		}
		&__text{
			max-width: 450px;
		}
	}
	@media screen and (max-width: 1200px){
		&__content{
			padding: 0;
			flex-direction: column;
			align-items: center;
		}
		&-img{
			order: 2;
		}
		&__block-text{
			padding: 0 15px;
			margin: 0 0 50px;
			order: 1;
			text-align: center;
		}
		&__text{
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 640px){
		&__title{
			font-size: 30px;
			margin-bottom: 20px;
		}
		&__text{
			font-size: 22px;
		}
	}
}
/* Changes */
.changes{
	&__content{
		max-width: 1425px;
		margin: 0 auto 100px;
	}
	&__title{
		max-width: 1400px;
		margin-bottom: 70px;
		@include gradient(linear-gradient(104.09deg, 
		#F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	&__row{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		padding: 26px 26px 80px 26px;
		max-width: 100%;
		width: 462px;
		height: 317px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		transition: .3s;
		&:hover{
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
			transition: .15s;
		}
	}
	&__subtitle{
		margin-bottom: 40px;
		max-width: 355px;
		font-weight: 400;
		font-size: 35px;
		line-height: 97.4%;
		@include gradient(linear-gradient(104.09deg, 
		#F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	&__text{
		max-width: 315px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #828282;
	}
	@media screen and (max-width: 1450px){
		&__title{
			padding: 0 15px;
			font-size: 60px;
			line-height: 1.1;
		}
		&__item{
			margin: 0 10px;
		}
	}
	@media screen and (max-width: 1220px){
		&__subtitle{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 1060px){
		&__title{
			max-width: 900px;
			margin: 0 auto;
			font-size: 40px;
			text-align: center;
		}
		&__row{
			justify-content: center;
			flex-wrap: wrap;
		}
		&__item{
			margin-top: 20px;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			min-width: 47%;
			max-width: 47%;
		}
		&__subtitle{
			margin: 0 auto 40px;
		}
		&__text{
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 710px){
		&__title{
			max-width: 600px;
			font-size: 25px;
		}
	}
	@media screen and (max-width: 710px){
		&__row{
			padding-left: 15px;
			padding-right: 15px;
		}
		&__item{
			min-width: 100%;
			max-width: 100%;
		}
	}
	@media screen and (max-width: 415px){
		&__title{
			max-width: 600px;
			font-size: 23px;
		}
		&__item{
			&:first-child{
				margin-top: 30px;
			}
		}
		&__subtitle{
			font-size: 25px;
		}
	}
	@media screen and (max-width: 340px){
		&__item{
			padding-top: 30px;
		}
	}
}
/* Cases */
.cases{
	margin: 100px 0;
	&__title{
		max-width: 1440px;
		margin: 0 auto;
		color: #333;
	}
	&__subtitle{
		margin-top: 30px;
		position: relative;
		font-size: 30px;
		line-height: 35px;
		color: #fff;
	}
	&__content{
		display: flex;
	}
	&__item{
		height: 540px;
		margin-top: 59px;
		&:first-child{
			width: 230px;
			background: url("../img/index/Mask-Group-1.png") center no-repeat;
			.cases__subtitle{
				margin-left: 20px;
			}
		}
		&:nth-child(2){
			width: 464px;
			margin-left: -10px;
			background: url("../img/index/Mask-Group-2.png") center no-repeat;
			.cases__subtitle{
				margin-left: 50px;
			}
		}
		&:nth-child(3){
			margin-top: 58px;
			width: 265px;
			margin-left: -5px;
			background: url("../img/index/Mask-Group-3.png") center no-repeat;
			.cases__subtitle{
				margin-left: 40px;
			}
		}
		&:nth-child(4){
			width: 265px;
			background: url("../img/index/Mask-Group-4.png") center no-repeat;
			.cases__subtitle{
				margin-left: 40px;
			}
		}
		&:nth-child(5){
			width: 265px;
			background: url("../img/index/Mask-Group-5.png") center no-repeat;
			.cases__subtitle{
				margin-left: 40px;
				margin-bottom: -95px;
			}
		}
		&:nth-child(6){
			width: 265px;
			background: url("../img/index/Mask-Group-4.png") center no-repeat;
			.cases__subtitle{
				margin-left: 20px;
			}
		}
	}
	&-img{
		img{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1730px){
		&__subtitle{
			font-size: 25px;
		}
	}
	@media screen and (max-width: 1470px){
		&__subtitle{
			font-size: 20px;
			line-height: 1.3;
		}
	}
	@media screen and (max-width: 1220px){
		&__content{
			justify-content: center;
		}
		&__title{
			margin: 0 auto 40px;
			text-align: center;
		}
		&__subtitle{
			text-align: center;
			margin-left: 0;
		}
		&__item{
			margin-left: 0;
			margin-top: 20px;
			&:first-child{
				width: 20%;
				.cases__subtitle{
					margin-left: 0px;
				}
			}
			&:nth-child(2){
				width: 20%;
				margin-left: 0;
				.cases__subtitle{
					margin-left: 0px;
				}
			}
			&:nth-child(3){
				margin-top: 19px;
				width: 20%;
				margin-left: 0px;
				.cases__subtitle{
					margin-left: 0px;
				}
			}
			&:nth-child(4){
				width: 20%;
				margin-left: 0px;
				.cases__subtitle{
					margin-left: 0px;
				}
			}
			&:nth-child(5){
				width: 20%;
				margin-left: 0px;
				margin-right: 0px;
				.cases__subtitle{
					margin-left: 0px;
					margin-bottom: -75px;
					line-height: 1.3;
				}
			}
		}
	}
	@media screen and (max-width: 1030px){
		&__subtitle{
			font-size: 18px;
		}
		&__item{
			height: 320px;
			&:nth-child(3){
				margin-top: 20px;
			}
		}
	}
	@media screen and (max-width: 900px){
		&__title{
			font-size: 60px;
		}
		&__subtitle{
			margin: 0;
			font-size: 24px;
		}
		&__content{
			flex-wrap: wrap;
		}
		&__item{
			display: flex;
			justify-content: center;
			align-items: center;
			&:first-child{
				order: 1;
				margin: 7px;
				width: calc(50% - 20px);
				background-size: 100%;
			}
			&:nth-child(2){
				order: 4;
				width: calc(50% - 20px);
				margin: 7px;
				min-background-size: 100%;
			}
			&:nth-child(3){
				order: 3;
				margin: 7px;
				width: calc(50% - 20px);
				background-size: 100%;
			}
			&:nth-child(4){
				order: 2;
				margin: 7px;
				width: calc(50% - 20px);
				background-size: 100%;
			}
			&:nth-child(5){
				order: 5;
				width: calc(50% - 20px);
				margin: 7px;
				background-size: 100%;
				.cases__subtitle{
					margin: 0;
				}
			}
			&:nth-child(6){
				order: 5;
				width: calc(50% - 20px);
				margin: 7px;
				background-size: 100%;
				.cases__subtitle{
					margin: 0;
				}
			}
		}
	}
	@media screen and (max-width: 600px){
		&__title{
			font-size: 40px;
			margin-bottom: 10px;
		}
		&__item{
			height: 200px;
		}
		&__subtitle{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 420px){
		&__title{
			font-size: 30px;
			margin-bottom: 0;
		}
		&__item{
			height: 140px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
/* artwork */
.artwork{
	&__content{
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
	}
	width: 100%;
	height: 904px;
	background: url("../img/index/image-51.png") no-repeat left/cover;
	&__text{
		position: absolute;
		top: 210px;
		right: 200px;
		max-width: 640px;
		font-weight: 700;
		font-size: 60px;
		line-height: 70px;
		color: #fff;
	}
	&__info{
		position: absolute;
		top: 700px;
		right: 400px;
	}
	&__name{
		font-weight: 400;
		font-size: 35px;
		line-height: 41px;
		color: #828282;
	}
	&__history{
		margin-left: 340px;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		@include gradient(linear-gradient(104.09deg, 
		#F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	@media screen and (max-width: 1040px){
		&__content{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__text{
			position: relative;
			right: 0;
			text-align: center;
		}
		&__info{
			position: relative;
			top: 500px;
			right: 0;
			text-align: center;
		}
		&__history{
			margin-left: 0;
		}
	}
	@media screen and (max-width: 620px){
		&__text{
			top: 350px;
			font-size: 40px;
			line-height: 1.3;
		}
		&__name{
			font-size: 25px;
		}
	}
	@media screen and (max-width: 400px){
		&__text{
			font-size: 30px;
			line-height: 1.3;
		}
		&__name{
			font-size: 20px;
		}
		&__history{
			font-size: 18px;
		}
	}
}
/* Interface */
.interface{
	max-width: 1520px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&__col{
		&:last-child{
			margin-right: -430px;
		}
	}
	&__block-text{
		margin-top: 270px;
		margin-right: -100px;
		max-width: 824px;
	}
	&__title{
		font-weight: 700;
		font-size: 100px;
		line-height: 94.19%;
		span{
			@include gradient(linear-gradient(104.09deg, 
			#F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
		}
	}
	&__text{
		margin-top: 20px;
		max-width: 546px;
		@include text();
	}
	&-img{
		img{

		}
	}
	@media screen and (max-width: 1440px){
		padding-left: 20px;
		&__title{
			font-size: 70px;
		}
	}
	@media screen and (max-width: 1280px){
		padding-left: 10px;
		&__title{
			font-size: 60px;
		}
	}
	@media screen and (max-width: 1200px){
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		&__block-text{
			margin: 0;
		}
		&__title{
			text-align: center;
			margin: 0 auto;
			font-size: 60px;
		}
		&__text{
			text-align: center;
			margin: 20px auto 0;
		}
		&__col{
			&:last-child{
				margin-right: 0;
			}
		}
		&-img{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			img{
				max-width: 129%;
			}
		}
	}
	@media screen and (max-width: 850px){
		&__title{
			font-size: 50px;
		}
		&__text{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 850px){
		&__title{
			font-size: 30px;
		}
		&__text{
			max-width: 370px;
		}
	}
	@media screen and (max-width: 850px){
		&__title{
			padding: 0 15px;
			font-size: 25px;
		}
		&__text{
			margin-top: 10px;
			padding: 0 15px;
			max-width: 370px;
		}
	}
}
/* Look */
.look{
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__row{
		display: flex;
		&:first-child{
			.look__item{
				margin-right: 20px;
			}
		}
		&:last-child{
			margin-top: -15px;
			.look__item{
				&:first-child{	
					margin-top: 15px;
				}
				&:last-child{
					@media screen and (max-width: 1239px) {
						.look-img{
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							justify-content: center;
							& img{
								max-width: 103.5%;
							}
						}
					}
				}
			}
		}
	}
	&__item{

	}
	&-img{
		img{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1140px){
		&__row{
			&:last-child{
				.look__item{
					&:first-child{	
						margin-top: 15px;
					}
					margin-top: 5px;
				}
			}
		}
	}
	@media screen and (max-width: 1000px){
		padding: 10px;
		&__row{
			margin: 0 auto 25px;
			flex-direction: column;
			align-items: center;
			&:first-child{
				.look__item{
					margin-right: 0px;
				}
			}
			&:last-child{
				.look__item{
					&:first-child{	
						margin-top: 0px;
					}
				}
			}
		}
		.look__item{
			margin-top: 15px;
		}		
	}
}


// footer
.footer{
	text-align: center;
	padding: 144px 10px;
	margin-top: 193px;
	color: #fff;
	@media screen and (max-width: 910px) {
		margin-top: 80px;
		padding: 90px 10px;
	}
	@media screen and (max-width: 430px) {
		margin-top: 60px;
		padding: 60px 10px;
	}
}
.cases ~ .footer{
	color: #333;
	& .footer{
		@include button(linear-gradient(110.44deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%));
	}
	& .footer__button-wrapper {
	    margin: 57px auto 0;
	    display: inline-block;
	    position: relative;
	    border-radius: 30px;
	    padding: 1px;
	    text-align: center;
	}
	& .footer__button{
		background: $button-body;
	}
}