$button-body:#E5F2F9;
body{
	background: #E5F2F9; 
}
/* blocks BEM */
.block-title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
}
.block-subtitle{
	font-size: 24px;
	line-height: 1.12;
	color: #828282;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
	line-height: 94px;
}
@mixin gradient($property) {
	background: $property;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin gradient-2() {
	background: linear-gradient(110.44deg, #F58948 -0.39%, #F0704D 6.36%, #D57AA5 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin gradient-3() {
	background: linear-gradient(105.52deg, #80E0FF -0.39%, #855AFF 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin gradient-4() {
	background: linear-gradient(95.07deg, #48F5EB -0.39%, #6D8CDD 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin text{
	font-weight: 400;
	font-size: 25px;
	line-height: 1.12;
	color: #828282;
}
@mixin button($property) {
	&__button-wrapper {
		display: inline-block;
		position: relative;
		background: $property;
		border-radius: 30px;
		padding: 1px;
		margin: 0 auto;
		text-align: center;
	}
	&__button{
		display: flex;
		text-align: center;
		padding: 19px 25px;
		color: #fff;
		border-radius: 30px;
		cursor: pointer;
		& a{
			font-size: 24px;
			background: $property;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
			@media screen and (max-width: 470px) {
				font-size: 15.8px;
			}
		}
	}
	&__title span{
		background: $property;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
@mixin button1($background, $border-color, $btn-text-color){
	font-size: 24px;
	line-height: 116.6666666666667%;
	margin-top: 45px;
	max-width: 470px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 100px;
	box-sizing: border-box;
	$border: 1px;
	background: $background;
	background-clip: padding-box;
	border: solid $border transparent;
	transition: 1s;
	&:before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	margin: -$border;
	border-radius: inherit;
	background: $border-color;
	}
	& a{
	color: $btn-text-color;
	padding: 18px 35px;
	}
}
.title{
	@include title();
	p{
		@include gradient(linear-gradient(to right,#4B48F5 -0.39%, #890041 37.78%));
		display: inline-block;
	}
}
.title-2{
	@include title();
	p{
		@include gradient-2();
		display: inline-block;
	}
}
.title-3{
	@include title();
	p{
		@include gradient-3();
		display: inline-block;
	}
}
.title-4{
	@include title();
	p{
		@include gradient-4();
		display: inline-block;
	}
}
.subtitle{
	font-family: 'Segoe Script', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #000000;

}
.wrapper{
	overflow: hidden;
	overflow-x: hidden;
}
/* Distance */
.distance{
	margin: 0 auto;
	max-width: 1786px;
	display: flex;
	justify-content: center;
	&__block-text{
		margin-bottom: 108px;
		padding-left: 15px;
	}
	&__title{
		margin-bottom: 60px;
		max-width: 879px;
		line-height: 1;
	}
	&__text{
		margin-top: 20px;
		max-width: 691px;
		@include text();
	}
	&-img-1{
		margin-left: -120px;
		img{
			max-width: 622px;
		}
	}
	&-img-2{
		img{
			max-width: 484px;
		}
	}
	&-img-3{
		margin-right: -315px;
		img{
			float: right;
			max-width: 314px;
		}
	}
	&__col-2{
		margin-left: -50px;
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 1940px){
	.distance{
		margin: 0;
	}
}
@media screen and (max-width: 1860px){
	.distance{
		&-img-1{
			margin-left: 0;
		}
		&__col-2{
			align-items: center;
		}
		&-img-3{
			margin-top: 100px;
			margin-right: 0;
			img{
				float: none;
			}
		}
	}
}
@media screen and (max-width: 1239px){
	.distance{
		flex-direction: column;
		align-items: center;
		&__title{
			margin: 0 auto;
			font-size: 60px;
		}
		&__col-1{
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-img-1{
			max-width: 100%;
			width: 100%;
			& img{
				max-width: 100%;
				width: 100%;
			}
		}
		&__col-2{
			display: none;
		}
		&__block-text{
			padding: 0 15px;
			text-align: center;
			margin-bottom: 20px;	
		}
		&__text{
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 870px){
	.distance{
		&__title{
			font-size: 40px;
		}
	}
}
@media screen and (max-width: 650px){
	.distance{
		&__title{
			font-size: 35px;
		}
	}
}
@media screen and (max-width: 390px){
	.distance{
		&__title{
			font-size: 35px;
		}
		&__text{
			font-size: 18px;
		}
	}
}
/* Tasks-projects */
.tasks-projects{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 165px;
	&__block-text{
		margin-left: -700px;
		margin-bottom: 30px;
		max-width: calc(100% - 20px);
	}
	&__title{
		margin-bottom: 41px;
		font-weight: 700;
		font-size: 100px;
		line-height: 117px;
		color: #000000;
	}
	&__text{
		max-width: 1079px;
		font-weight: 400;
		font-size: 40px;
		line-height: 47px;
		color: #828282;
	}
	&__content{
		display: flex;
		justify-content: center;
	}
	&__img-1{
		margin-left: 465px;
	}
	&__img-2{
		margin-top: -45px;
		margin-left: -280px;
	}
	&__img-3{
		margin-top: -380px;
		margin-left: -250px;
	}
	@media screen and (max-width: 1870px){
		&__block-text{
			margin-left: 0;
		}
	}
	@media screen and (max-width: 1000px){
		&__title{
			margin-bottom: -20px;
			font-size: 60px;
		}
		&__text{
			max-width: 750px;
			font-size: 30px;
			line-height: 37px;
		}
	}
	@media screen and (max-width: 767px){
		&__img-1, &__img-3{
			display: none;
		}
		&__img-2 {
			margin-top: -130px;
			margin-left: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				max-width: 180%;
			}
		}
	}
	@media screen and (max-width: 780px){
		&__text{
			max-width: 560px;
			font-size: 25px;
			line-height: 32px;
		}
	}
	@media screen and (max-width: 540px){
		&__title{
			margin-bottom: -40px;
			font-size: 30px;
		}
		&__text{
			max-width: 510px;
			font-size: 18px;
			line-height: 25px;
		}
	}
}
/* Personal */
.personal{
	margin-top: -35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title{
		margin-bottom: 5px;
	}
	&__subtitle{
		margin-bottom: -60px;
	}
	&-img{
		img{
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 1870px){
	.personal{
		margin-top: 35px;
		&__subtitle{
			margin-bottom: 0;
		}
		&-img{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				max-width: 131%;
				min-width: 131%;
			}
		}
	}
}
@media screen and (max-width: 1000px){
	.personal{
		&__title{
			margin-bottom: -15px;
			font-size: 60px;
		}
		&__subtitle{
			font-size: 30px;
		}
	}
}
@media screen and (max-width: 767px){
	.personal{
		margin-top: -100px;
	}
}
@media screen and (max-width: 700px){
	.personal{
		&__title{
			margin-bottom: -30px;
			font-size: 40px;
		}
		&__subtitle{
			margin-bottom: -20px;
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 400px){
	.personal{
		&__title{
			margin-bottom: -35px;
			font-size: 30px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
}

/* Team */
.team-1{
	margin-top: -160px;
	&__title{
		margin-left: 320px;
		margin-bottom: 90px;
	}
	&__content{
		display: flex;
		justify-content: center;
	}
	&__col-1{
		margin-top: 30px;
		margin-left: 700px;
	}
	&__subtitle-1{
		margin-left: 580px;
		margin-bottom: -50px;
	}
	&__subtitle-2{
		margin-top: -110px;
		margin-left: -70px;
	}
	&-img-2{
		margin-left: -900px;
	}
}
@media screen and (max-width: 1880px){
	.team-1{
		&__col-1{
			margin-top: 30px;
			margin-left: 600px;
		}
	}
}
@media screen and (max-width: 1800px){
	.team-1{
		margin-bottom: 150px;
		&__content{
			flex-direction: column;
			align-items: center;
		}
		&__title{
			margin-left: 0;
			margin-bottom: 0;
			text-align: center;
		}
		&__col-1{
			margin-top: 30px;
			margin-left: 0px;
		}
		&__col-2{
			margin-top: -200px;
		}
		&-img-1{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			img{
				width: 130vw;
			}
		}
		&-img-2{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			margin-left: 1.5%;
			img{
				width: 3412px;
				max-width: 288vw;
			}
		}
		&__subtitle-1{
			margin: 0 auto;
			text-align: center;
			margin-left: 0;
		}
		&__subtitle-2{
			margin: 0 auto;
			text-align: center;
			margin-top: -70px;
		}
	}
}
@media screen and (max-width: 1240px){
	.team-1{
		margin-bottom: 0;
		margin-top: 0;
		&__title{
			font-size: 60px;
		}
		&__subtitle-1{
			font-size: 30px;
			margin-bottom: -10px;
		}
		&__subtitle-2{
			font-size: 30px;
			margin-top: -50px;
		}
		&__col-2{
			margin-top: -100px;
		}
	}
}
@media screen and (max-width: 770px){
	.team-1{
		&__title{
			margin-bottom: -30px;
			font-size: 30px;
		}
		&__subtitle-1{
			font-size: 20px;
			margin-bottom: -10px;
		}
		&__subtitle-2{
			font-size: 20px;
			margin-top: -20px;
		}
		&__col-2{
			margin-top: -50px;
		}
	}
}
@media screen and (max-width: 690px){
	.tasks__title{
		font-size: 60px;
		line-height: 60px;
	}
	.tasks__subtitle{
		font-size: 20px;
		line-height: 22px;
	}
}
@media screen and (max-width: 500px){
	.tasks__subtitle{
		font-size: 18px;
		line-height: 20px;
	}
}
@media screen and (max-width: 430px){
	.tasks__title{
		font-size: 35px;
		line-height: 35px;
	}
	.tasks__subtitle{
		font-size: 16px;
		line-height: 18px;
	}
}
// /* Difficult-tasks */
// .difficult-tasks{
// 	max-width: 1440px;
// 	margin: 40px auto 150px;
// 	display: flex;
// 	justify-content: center;
// 	&__col-1{
// 		padding-left: 10px;
// 	}
// 	&__title{
// 		letter-spacing: -3px;
// 		line-height: 95.4%;
// 		max-width: 944px;
// 	}
// 	&__text{
// 		@include text();
// 		margin-top: 25px;
// 		max-width: 755px;
// 	}
// 	&-img-1{
// 		margin-left: 210px;
// 		margin-top: 60px;
// 		img{
// 		}
// 	}
// 	&__col-2{
// 		margin-top: -10px;
// 		margin-right: 40px;
// 	}
// 	&-img-2{
// 		img{
			
// 		}
// 	}
// }
// @media screen and (max-width: 1300px){
// 	.difficult-tasks{
// 		&__title{
// 			font-size: 60px;
// 		}
// 		&__text{
// 			max-width: 550px;
// 		}
// 	}
// }
// @media screen and (max-width: 1239px){
// 	.difficult-tasks{
// 		flex-direction: column;
// 		align-items: center;
// 		&__col-1{
// 			padding-left: 0;
// 		}
// 		&__col-2{
// 			margin-top: -10px;
// 			margin-right: 0;
// 		}
// 		&-img-1{
// 			text-align: center;
// 			margin-left: 0;
// 			margin-top: 60px;
// 			img{
// 				max-width: 100%;
// 			}
// 		}
// 		&-img-2{
// 			img{
// 				max-width: 100%;
// 			}
// 		}
// 		&__title{
// 			padding: 0 10px;
// 			margin: 0 auto;
// 			max-width: 600px;
// 			font-size: 60px;
// 			text-align: center;
// 		}
// 		&__text{
// 			padding: 0 10px;
// 			margin: 25px auto 0;
// 			text-align: center;
// 		}
// 	}
// }
// @media screen and (max-width: 700px){
// 	.difficult-tasks{
// 		&__title{
// 			max-width: 500px;
// 			font-size: 40px;
// 		}
// 		&__text{
// 			max-width: 550px;
// 			font-size: 20px;
// 			line-height: 23px;
// 		}
// 	}
// }
// @media screen and (max-width: 380px){
// 	.difficult-tasks{
// 		&__title{
// 			font-size: 30px;
// 		}
// 		&__text{
// 			max-width: 550px;
// 			font-size: 18px;
// 			line-height: 21px;
// 		}
// 	}
// }


/* Tasks */
.tasks {
	max-width: 1437px;
	margin: 100px auto 0 auto;
	padding-left: 10px;
	&-wrapper{
		width: 100%;
		max-width: 100%;
		overflow: hidden;
	}
	@media screen and (max-width: 1239px){
		padding-right: 10px;
	}
	&__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		&:first-child{
			& .tasks__subtitle{
				font-size: 25px;
				line-height: 29px;
				color: #828282;
				margin-top: 25px;
				letter-spacing: -.65px;
			}
			@media screen and (max-width: 1239px){
				flex-direction: column;
				align-items: center;
				& .tasks__text{
					max-width: 100%;
					text-align: center;
				}
				& .tasks__checklist {
					padding-right: 0;
					padding-top: 15px;
				}
				& .tasks__checklist img{
					max-width: 100%;
				}
			}
			@media screen and (max-width: 1156px){
				& .tasks__title{
					font-size: 65px;
					line-height: 95.4%;
				}
				& .tasks__subtitle{
					font-size: 18px;
					line-height: 22px;
				}
			}
			@media screen and (max-width: 921px){
				& .tasks__title{
					font-size: 50px;
					line-height: 95.4%;
				}
				& .tasks__subtitle{
					font-size: 16px;
					line-height: 20px;
				}
			}
			@media screen and (max-width: 767px){
				& .tasks__title{
					font-size: 40px;
					line-height: 95.4%;
				}
			}
			@media screen and (max-width: 420px){
				& .tasks__title{
					font-size: 35px;
					line-height: 95.4%;
				}
				& .tasks__subtitle{
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
		@media screen and (max-width: 1239px){
			flex-direction: column;
			align-items: center;
			.tasks__catalog{
				padding-left: 0;
			}
			.tasks__calls{
				padding-left: 0;
				margin-top: 0;
			}
		}
		&:nth-child(2){
			justify-content: space-evenly;
			@media screen and (max-width: 1645px){
				.tasks__calls{
					padding-left: 160px;
				}
			}
			@media screen and (max-width: 1239px){
				.tasks__calls{
					padding-left: 0;
				}
				.tasks__catalog{
					padding-left: 0;
				}
			}
		}
		&:nth-child(3){
			margin-top: 80px;
			align-items: center;
			.tasks__subtitle{
				max-width: 601px;
			}
		}
	}
	&__text{
		max-width: 752px;
		@media screen and (max-width: 1280px){
			max-width: calc(100% - 20px);
			text-align: center;
		}
	}
	&__title{
		font-family: 'SanFrancisco Semibold', sans-serif;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
		letter-spacing: -3px;
	}
	&__subtitle{
		font-size: 25px;
		line-height: 29px;
		color: #828282;
		@media screen and (max-width: 630px){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__checklist{
		padding-right: 33px;
		margin-top: -11px;
		@media screen and (max-width: 1280px){
			display: none;
		}
	}
	&__catalog{
		padding-top: 13px;
		padding-left: 292px;
		@media screen and (max-width: 1280px){
			padding-left: 0!important;
			width: 105%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				max-width: 100%;
				width: 100%;
			}
		}
	}
	&__calls{
		margin-top: 113px;
		margin-bottom: -226px;
		padding-left: 202px;
		@media screen and (max-width: 1280px){
			display: none;
		}
	}
	&__image{
		margin-top: 82px;
		margin-left: -21px;
		& img{
			max-width: 100%;
		}
		@media screen and (max-width: 1239px){
			margin-left: 0;
		}
	}
	&-3__text{
		margin-top: -100px;
		@media screen and (max-width: 1239px){
			margin-top: 0;
			max-width: 750px;
			width: 100%;
			& .tasks__subtitle{
				max-width: 100%!important;
			}
		}
		@media screen and (max-width: 940px){
			text-align: center;
		}
	}
	&-3__title{
		font-family: 'SanFrancisco Semibold', sans-serif;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
		letter-spacing: -3px;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 940px){
		&-3__title{
			text-align: center;
			max-width: 100%;
			font-size: 70px;
		}
		&__subtitle{
			font-size: 22px;
			line-height: 24px;
			text-align: center;
			margin: 20px auto 0;
		}
	}
	@media screen and (max-width: 690px){
		&-3__title{
			font-size: 60px;
			line-height: 60px;
		}
		&__subtitle{
			font-size: 20px;
			line-height: 22px;
		}
	}
	@media screen and (max-width: 500px){
		&-3__title{
			font-size: 50px;
			line-height: 50px;
		}
		&__subtitle{
			font-size: 18px;
			line-height: 20px;
		}
	}
	@media screen and (max-width: 430px){
		&-3__title{
			font-size: 35px;
			line-height: 35px;
		}
		&__subtitle{
			font-size: 16px;
			line-height: 18px;
		}
	}
}
/* team */
.team{
	max-width: 1437px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
	@include button(linear-gradient(to right,#C14079, #2D499D))
	&__text{
		margin-top: 60px;
		padding-left: 150px;
		@media screen and (max-width: 1239px){
			max-width: 750px;
			width: 100%;
		}
	}
	&__title{
		font-family: 'SanFrancisco Semibold';
		font-size: 80px;
		line-height: 1;
		max-width: 618px;
		letter-spacing: -3px;
		& span{
			@include gradient(linear-gradient(to right,#C14079, #2D499D));
		}
	}
	&__subtitle{
		font-size: 24px;
		line-height: 1.166666666666667;
		color: #828282;
		max-width: 582px;
		margin-top: 17px;
	}
	&__images{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		max-width: 727px;
		margin-right: -172px;
		margin-top: -236px;
		& img:first-child{
			margin-top: 343px;
			margin-right: -40px;
		}
		& img:last-child{
			margin-bottom: 317px;
		}
	}
	&__button{
		background:$button-body;
		&-wrapper{
			margin-top: 85px;
		}
	}
	@media screen and (max-width: 1880px){
		&__images{
			margin-top: 0;
			margin-right: -36px;
		}
	}
	@media screen and (max-width: 1560px){
		&__images{
			position: absolute;
			right: 50px;
		}
	}
	@media screen and (max-width: 1350px){
		&__text{
			padding-left: 25px;
		}
	}
	@media screen and (max-width: 1239px){
		&__button-wrapper{
			margin-top: 30px;
		}
	}
	@media screen and (max-width: 1232px){
		flex-direction: column;
		align-items: center;
		&__text{
			padding-left: 0;
		}
		&__images{
			display: none;
		}
	}
	@media screen and (max-width: 940px){
		&__text{
			padding: 0 10px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title{
			text-align: center;
			max-width: 100%;
			font-size: 70px;
		}
		&__subtitle{
			font-size: 22px;
			line-height: 24px;
			text-align: center;
			margin: 20px auto 0;
		}
	}
	@media screen and (max-width: 835px){
		&__images{
			display: none;
		}
	}
	@media screen and (max-width: 690px){
		&__title{
			font-size: 60px;
			line-height: 60px;
		}
		&__subtitle{
			font-size: 20px;
			line-height: 22px;
		}
	}
	@media screen and (max-width: 500px){
		&__title{
			font-size: 50px;
			line-height: 50px;
		}
		&__subtitle{
			font-size: 18px;
			line-height: 20px;
		}
	}
	@media screen and (max-width: 430px){
		&__title{
			font-size: 35px;
			line-height: 35px;
		}
		&__subtitle{
			font-size: 16px;
			line-height: 18px;
		}
	}
}


// footer
.footer{
	color: #000;
	margin-top: 0;
	@include button(linear-gradient(to right, #80E0FF, #855AFF));
	&__button-wrapper {
	    margin: 57px auto 0;
	    display: inline-block;
	    position: relative;
	    border-radius: 30px;
	    padding: 1px;
	    text-align: center;
	}
	&__button{
		background: #E5F2F9;
	}
}