html{
	overflow-x: hidden;
}
body{
	background: #000; 
	overflow: hidden;
	color: #fff;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
	line-height: 80px;
}
@mixin text{
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	color: #828282;
}
@mixin subtitle{
	font-weight: 500;
	font-size: 40px;
	line-height: 36px;
}
@mixin gradient() {
	background: linear-gradient(90.15deg, #02A5A2 0%, #0471BF 53.21%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* Analytics */
.analytics{
	&__title{
		margin: 0 auto 70px;
		max-width: 1021px;
		font-weight: 700;
		font-size: 100px;
		line-height: 117px;
		text-align: center;
	}
	&-img{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1000px){
		&__title{
			margin-bottom: 30px;
			font-size: 60px;
		}
	}
	@media screen and (max-width: 830px){
		&__title{
			margin-bottom: 10px;
			font-size: 40px;
		}
	}
	@media screen and (max-width: 550px){
		&__title{
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 1.5;
		}
	}
}
/* Ineffective-ads */
.ineffective-ads{
	max-width:  1440px;
	margin: 215px auto 0px;
	display: flex;
	&__title{
		max-width: 971px;
		@include title();
	}
	&__text{
		margin-top: 185px;
		margin-left: -100px;
		max-width: 538px;
		@include text();
	}
	@media screen and (max-width: 1239px){
		flex-direction: column;
		&__title{
			margin: 0 auto;
			font-size: 50px;
			text-align: center;
		}
		&__text{
			margin: 50px auto ;
			text-align: center;
		}
	}
	@media screen and (max-width: 770px){
		&__title{
			font-size: 40px;
			line-height: 1.5;
		}
		&__text{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 550px){
		&__title{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 400px){
		&__title{
			font-size: 20px;
		}
		&__text{
			margin-top: 10px;
			font-size: 18px;
		}
	}
}
/* Pareto-law */
.pareto-law{
	max-width:  1570px;
	margin: 155px auto 0;
	display: flex;
	&__col{
		&:last-child{
			margin-top: 240px;
			margin-left: 60px;
		}
		p{
			margin-top: 15px;
			font-family: 'Segoe Script', sans-serif;
			font-weight: 700;
			font-size: 30px;
			line-height: 124.1%;
			@include gradient();
		}
	}
	&__title{
		max-width: 598px;
		font-weight: 700;
		font-size: 60px;
		line-height: 100.19%;
	}
	&__text{
		margin-top: 95px;
		max-width: 480px;
		@include text();
	}
	@media screen and (max-width: 1600px){
		padding: 0 10px;
	}
	@media screen and (max-width: 1300px){
		&__col{
			&:last-child{
				margin-left: 10px;
			}
		}
	}
	@media screen and (max-width: 1239px){
		flex-direction: column;
		align-items: center;
		&__col{
			text-align: center;
			&:first-child{
				order: 2;
			}
			&:last-child{
				order: 1;
				margin-left: 0;
			}
		}
		&__title{
			font-size: 40px;
		}
		&__text{
			margin: 30px auto;
		}
		&-img{
			img{
				max-width: 100%;
			}
		}
	}
	@media screen and (max-width: 500px){
		&__col{
			p{
				font-size: 23px;
			}
		}
		&__title{
			font-size: 30px;
		}
		&__text{
			font-size: 20px;
		}
	}
}
/* Conventional-analytics */
.conventional-analytics{
	max-width:  1440px;
	margin: 140px auto 0;
	&__title{
		margin-bottom: 30px;
		max-width: 863px;
		@include title();
	}
	&__text{
		max-width: 755px;
		@include text();
	}
	&-img{
		margin-top: -65px;
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1460px){
		padding: 0 10px;
	}
	@media screen and (max-width: 1239px){
		&__title{
			margin: 0 auto 30px;
			font-size: 50px;
			line-height: 1.3;
			text-align: center;
		}
		&__text{
			margin: 0 auto;
			text-align: center;
		}
		&-img{
			margin-top: 0;
		}
	}
	@media screen and (max-width: 770px){
		&__title{
			font-size: 40px;
		}
		&__text{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 500px){
		&__title{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 340px){
		&__title{
			font-size: 28px;
		}
	}
}
/* Result */
.result{
	&__title{
		max-width: 1006px;
		@include title();
	}
	&__row{
	}
	&__col{
	}
	&-img{
		img{
			
		}
	}
	&__subtitle{
		max-width: 538px;
		@include subtitle();
	}
	&__text{
		max-width: 538px;
		@include text();
	}
}
/* Track */
.track{
	max-width:  1440px;
		margin: 215px auto 0px;
		display: flex;
		&__title{
			max-width: 971px;
			@include title();
		}
		&__text{
			margin-top: 20px;
			margin-left: -100px;
			max-width: 538px;
			@include text();
		}
		@media screen and (max-width: 1460px){
			padding: 0 10px;
		}
		@media screen and (max-width: 1239px){
			flex-direction: column;
			&__title{
				margin: 0 auto;
				font-size: 50px;
				text-align: center;
			}
			&__text{
				margin: 50px auto ;
				text-align: center;
			}
		}
		@media screen and (max-width: 770px){
			&__title{
				font-size: 40px;
				line-height: 1.5;
			}
			&__text{
				font-size: 20px;
			}
		}
		@media screen and (max-width: 580px){
			&__title{
				font-size: 30px;
			}
		}
		@media screen and (max-width: 400px){
			&__title{
				font-size: 20px;
			}
			&__text{
				margin-top: 10px;
				font-size: 18px;
			}
		}
}