@mixin text{
	font-weight: 400;
	font-size: 25px;
	line-height: 28px;
	color: #828282;
}

/* Сalendar */
.calendar{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: -200px;
	margin-top: -140px;
	@media screen and (max-width: 940px){
		padding-top: 1660px!important;
	}
	&__row-1{
		display: flex;
		margin-bottom: -330px;
		max-width: 1437px;
		margin: auto;
	}
	&__tablet-1{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-left: -905px;
		@media screen and (max-width: 1730px){
			margin-left: 0;
		}
		& img {
			@media screen and (max-width: 1200px){
				max-width: 200%;
			}
		}
	} 
	&__block-text{
		margin-top: 6px;
		margin-left: -515px;
		@media screen and (max-width: 1730px){
			margin-left: 0;
		}
	}
	&__title{
		max-width: 563px;
		margin-top: 165px;
		margin-left: -15px;
		line-height: 1;
		letter-spacing: -3px;
		font-weight: 500;
		font-size: 80px;
		line-height: 95.4%;
		color: #000;
	}
	&__text{
		@include text();
		max-width: 648px;
		margin-left: -15px;
		margin-top: 38px;
		font-size: 25px;
		line-height: 29px;
		color: #828282;
		letter-spacing: -.85px;
	}
	&__row-2{
		display: flex;
		margin-top: -120px;
	}
	&__tablet-2{
		position: relative;
		img{
			position: relative;
			top: 60px;
			left: -79px;
		}
	}
	&__tablet-3{
		position: relative;
		img{
			position: absolute;
			top: -216px;
			right: -806px;
		}
	}
	@media screen and (min-width: 2230px){
		&__row-2{
			justify-content: center;
		}
		&__tablet-2 img{
			left: 0;
		}
		&__tablet-3 img{
			position: relative;
			right: 0;
		}
	}
}
@media screen and (max-width: 1920px){
	.calendar{
		align-items: flex-start;
	}
}
@media screen and (max-width: 1730px){
	.calendar{
		&__row-1{
			flex-direction: column;
			align-items: center;
			margin-bottom: -200px;
		}
		&__block-text{
			order: 1;
		}
		&__tablet-1{
			order: 2;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}
		&__row-2{
			flex-direction: column;
			margin: auto;
		}
		&__tablet-2{
			img{
				position: relative;
				left: 0;
				max-width: 100%;
				top: 200px;
			}
		}
		&__tablet-3{
			display: flex;
			justify-content: center;
			& img{
				max-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 1560px){
	.calendar{
		padding-top: 650px;
	}
}
@media screen and (max-width: 1232px){
	.calendar{
		padding-top: 560px;
	}
}
@media screen and (max-width: 970px){
	.calendar{
		&__title{
		font-size: 40px;
		}
		&__text{
			max-width: 500px;
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 1730px){
	.calendar__tablet-3{
		margin-top: 200px;
	}
}
@media screen and (max-width: 835px){
	.calendar{
		padding-top: 0;
	}
}
@media screen and (max-width: 700px){
	.calendar{
		margin-bottom: -100px;
		&__block-text{
			padding-left: 10px;
			padding-right: 10px;
		}
		&__title{
			font-size: 30px;
			margin-left: 0;
		}
		&__text{
			font-size: 16px;
			line-height: 24px;
			margin-left: 0;
		}
		&__tablet-3{
			margin-top: 200px;
		}
	}
}
@media screen and (max-width: 450px){
	.calendar{
		&__title{
			letter-spacing: 0;
			font-size: 20px;
		}
		&__text{
			font-size: 16px;
		}
		&__tablet-3{
			margin-top: 250px;
		}
	}
}
@media screen and (max-width: 1730px){
	.calendar__tablet-3{
		img{
			position: relative!important;
			top: 0;
			right: 0;
		}
	}
}
/* notifications */
.notifications{
	overflow: hidden;
	margin-bottom: 120px;
	display: flex;
	padding-top: 91px;
	&__telephone-block{
		display: flex;
	}
	&__telephone-1{
		img{
			max-width: 865px;
		}
	}
	&__telephone-2{
		margin-left: -150px;
		margin-top: -200px;
		img{
			max-width: 865px;
		}
	}
	&__block-text{
		margin-top: 215px;
	}
	&__title{
		margin-bottom: 20px;
		letter-spacing: -3px;
	}
	&__text{
		max-width: 651px;
		@include text();
	}
}
@media screen and (max-width: 2140px){
	.notifications{
		&__telephone-2{
			margin-left: -300px;
		}
	}
}
@media screen and (max-width: 1920px){
	.notifications{
		&__telephone-1{
			position: relative;
			img{
				position: absolute;
				top: -25px;
				left: -500px;
			}
		}
		&__telephone-2{
			margin-left: 220px;
		}
	}
}
@media screen and (max-width: 1670px){
	.notifications{
		margin-bottom: 100px;
		&__telephone-1 img{
			max-width: 500px;
			left: -280px;
		}
		&__telephone-2{
			margin-left: 200px;
			img{
				max-width: 500px;
			}
		}
		&__block-text{
			margin-top: 0;
		}
	}
}
@media screen and (max-width: 1470px){
	.notifications{
		&__telephone-2{
			margin-left: 50px;
		}
	}
}
@media screen and (max-width: 1300px){
	.notifications{
		margin-bottom: 120px;
		&__telephone-1 img{
			max-width: 500px;
			left: -280px;
		}
		&__telephone-2{
			margin-left: 40px;
			img{
				max-width: 500px;
			}
		}
		&__block-text{
			margin-top: 50px;
		}
		&__title{
			font-size: 40px;
		}
		&__text{
			max-width:400px;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 950px){
	.notifications{
		justify-content: center;
		&__telephone-1{
			display: none;
		}
		&__telephone-2{
			margin-left: -80px;
		}
	}
}
@media screen and (max-width: 830px){
	.notifications{
		&__telephone-2{
			margin-left: -80px;
			img{
				max-width: 400px;
			}
			margin-top: 0px;
		}
		&__title{
			font-size: 30px;
			margin-bottom: 0;
		}
		&__text{
			max-width:300px;
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 540px){
	.notifications{
		flex-direction: column;
		align-items: center;
		&__telephone-block{
			order: 2;
		}
		&__block-text{
			order: 1;
			margin-top: -80px;
			text-align: center;
			margin-left: 0;
		}
		&__telephone-2{
			margin-top: 0px;
			margin-left: 0;
		}
	}	
}