body{
	background: #EEE3F4;
}
/* blocks BEM */
.block-title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
}
.block-subtitle{
	font-size: 24px;
	line-height: 28px;
	color: #828282;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';;
	font-size: 80px;
	line-height: 94px;
}
@mixin gradient() {
	background: linear-gradient(to right,#4B48F5 -0.39%, #890041 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin gradient-3() {
	background: linear-gradient(105.52deg, #80E0FF -0.39%, #855AFF 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin text{
	font-weight: 400;
	font-size: 25px;
	line-height: 34px;
	color: #828282;
}
.title{
	@include title();
	p{
		@include gradient();
		display: inline-block;
	}
}
.title-3{
	@include title();
	p{
		@include gradient-3();
		display: inline-block;
	}
}
.subtitle{
	font-weight: 700;
	font-size: 40px;
	line-height: 100.19%;
	color: #000000;
}
@mixin button($background, $border-color){
	font-size: 24px;
	line-height: 28px;
	margin-top: 45px;
	max-width: 470px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 100px;
	box-sizing: border-box;
	$border: 1px;
	background: $background;
	background-clip: padding-box;
	border: solid $border transparent;
	transition: 1s;
	&:before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	margin: -$border;
	border-radius: inherit;
	background: $border-color;
	}
	& a{
	@include gradient();
	padding: 18px 35px;
	}
}
.wrapper{
	overflow: hidden;
	overflow-x: hidden;
}
/* Affiliate-program */
.affiliate-program{
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title{
		font-weight: 700;
		font-size: 120px;
		line-height: 95.19%;
		text-align: center;
		text-transform: uppercase;
		color: #000000;

	}
	&__text{
		margin-top: 45px;
		max-width: 1015px;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		color: #4F4F4F;
	}
	&-block-img{
		margin-left: -20px;
		margin-top: 50px;
		display: flex;
	}
	&-img-2{
		margin-left: -90px;
		img{

		}
	}
}
@media screen and (max-width: 1700px){
	.affiliate-program{
		&-block-img{
			margin-left: 0;
			margin-top: 0;
		}
		&-img-2{
			margin-left: 0;
			img{
				max-width: 100%;
			}
		}
		&-img{
			img{
				max-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 1400px){
	.affiliate-program{
		&__title{
			font-size: 80px;
		}
		&__text{
			margin-bottom: 50px;
			max-width: 815px;
			font-size: 30px;
		}
	}
}
@media screen and (max-width: 1000px){
	.affiliate-program{
		&__title{
			font-size: 60px;
		}
		&__text{
			max-width: 615px;
			font-size: 25px;
		}
	}
}
@media screen and (max-width: 600px){
	.affiliate-program{
		&__title{
			font-size: 40px;
		}
		&__text{
			max-width: 415px;
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 450px){
	.affiliate-program{
		&__title{
			font-size: 30px;
		}
		&__text{
			max-width: 315px;
			font-size: 16px;
		}
	}
}
/* Customer-earnings */
.customer-earnings{
	max-width: 1360px;
	margin: -85px auto 0;
	&__title{
		float: right;
		max-width: 821px;
		font-weight: 700;
		font-size: 75px;
		line-height: 95.19%;
		text-transform: uppercase;
		color: #000000;
		transform: rotate(6.89deg);
	}
	&__block-img{
		position: relative;
		display: flex;
	}
	&-img-1{
		position: absolute;
		left: -250px;
		top: -90px;
		img{
		}
	}
	&__block-text{
		margin-top: -100px;
		margin-left: 100px;
	}
	&__subtitle{
		margin-bottom: 11px;
	}
	&__text{
		max-width: 929px;
		@include text();
		line-height: 34px;
	}
}
@media screen and (max-width: 1700px){
	.customer-earnings{
		margin-top: 0;
	}
}
@media screen and (max-width: 1460px){
	.customer-earnings{
		display: flex;
		flex-direction: column;
		align-items: center;
		&-img-1{
			left: -50px;
			top: -90px;
		}
		&__title{
			margin-bottom: -90px;
		}
	}
}
@media screen and (max-width: 1170px){
	.customer-earnings{
		margin-bottom: 100px;
		&-img-1{
			left: 20px;
			top: 90px;
			img{
				max-width:420px;
			}
		}	
		&-img-2{
			img{
				max-width: 700px;
			}
		}
		&__title{
			text-align: center;
			max-width: 600px;
			margin-left: 100px;
			font-size: 25px;
			margin-bottom: -50px;
		}
		&__block-text{
			text-align: center;
			padding: 0 20px;
			margin-top: -80px;
			margin-left: 0;
		}
		&__subtitle{
			margin-bottom: 10px;
			font-size: 25px;
		}
		&__text{
			max-width: 529px;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 530px){
	.customer-earnings{
		&-img-1{
			left: 20px;
			top: 90px;
			img{
				max-width:150px;
			}
		}
		&-img-2{
			img{
				max-width: 400px;
			}
		}
		&__title{
			margin-left: 50px;
			font-size: 20px;
			margin-bottom: -20px;
		}
		&__block-text{
			margin-top: 0;
		}
	}
}
/* Introduction */
.introduction{
	margin-top: -100px;
	margin-bottom: -325px;
	display: flex;
	justify-content: center;
	&-img{
		margin-left: -650px;
		img{
			max-width: 100%;
		}
	}
	&__block-text{
		margin-top: 375px;
		margin-left: -260px;
	}
	&__text{
		@include text();
		max-width: 767px;
		line-height: 34px;
	}
}
@media screen and (max-width: 1890px){
	.introduction{
		&-img{
			margin-left: 0;
		}
		&__block-text{
			margin-left: -100px;
		}
		&__text{
			padding: 0 15px;
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 1300px){
	.introduction{
		flex-direction: column;
		align-items: center;
		&__block-text{
			margin-top: -50px;
			text-align: center;
			margin-left: 0;
		}
		&__subtitle{
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 660px){
	.introduction{
		&__block-text{
			margin-top: 0;
		}
		&__subtitle{
			font-size: 25px;
		}
	}
}
/* Development */
.development{
	display: flex;
	&__col-1{
		margin-top: 310px;
		display: flex;
		flex-direction: column;
	}
	&__block-text{
		margin-left: 58px;
	}
	&__subtitle{

	}
	&__text{
		margin-top: 15px;
		max-width: 724px;
		@include text();
	}
	&-img-1{
		margin-top: 20px;
		left: -450px;
		img{

		}
	}
	&__col-2{
		position: relative;
		left: -305px;
		display: flex;
		flex-direction: column;
	}
	&__text-2{
		margin-top: -160px;
		margin-left: 220px;
		max-width: 662px;
		@include text();
	}
}
@media screen and (max-width: 1920px){
	.development{
		&-img-1{
			position: relative;
		}
	}
}
@media screen and (max-width: 1700px){
	.development{
		margin-top: 200px;
		&__col-2{
			left: -455px;
		}
	}
}
@media screen and (max-width: 1520px){
	.development{
		flex-direction: column;
		align-items: center;
		margin-top: 200px;
		&__block-text{
			margin-left: 0;
		}
		&__col-1{
			text-align: center;
			margin-top: 310px;
			align-items: center;
		}
		&__col-2{
			align-items: center;
			text-align: center;
			left: 0px;
		}
		&-img-2{
			img{
				max-width: 100%;		
			}
		}
		&-img-1{
			margin-top: 20px;
			left: 0;
			img{
				max-width: 100%;
			}
		}
		&__text-2{
			margin-top: -80px;
			margin-left: 0;
		}
	}
}
@media screen and (max-width: 770px){
	.development{
		&__subtitle{
			padding: 0 15px;
			font-size: 30px;
		}
		&__text{
			padding: 0 15px;
			margin: 15px auto 0;
			font-size: 18px;
			max-width: 524px;
		}
		&__text-2{
			margin-top: -30px;
			padding: 0 15px;
			font-size: 18px;
			max-width: 524px;
		}
	}
}
@media screen and (max-width: 570px){
	.development{
		&__subtitle{
			font-size: 25px;
			line-height: 1.5;
		}
		&__text{
			padding: 0 15px;
			margin: 15px auto 0;
			font-size: 16px;
			max-width: 335px;
		}
		&__text-2{
			font-size: 16px;
			max-width: 335px;
		}
	}
}
/* Business */
.business{
	display: flex;
	flex-direction: column;
	max-width: 990px;
	margin: 0 auto;
	&__row-1{

	}
	&__col-1{

	}
	&-img-1{
		img{

		}
	}
	&__block-text-1{

	}
	&__subtitle{

	}
	&__text{

	}
	&__block-img-1{

	}
	&__text-img{

	}
	&-img-2{
		img{

		}
	}
	&__col-2{

	}
	&__block-img-2{

	}
	&-img-3{
		img{

		}
	}
	&__block-text-2{

	}
}