body{
	background: #EEE3F4;
}
/* blocks BEM */
.block-title{
	font-family: 'SanFrancisco Semibold';
	font-size: 80px;
}
.block-subtitle{
	font-size: 24px;
	line-height: 28px;
	color: #828282;
}
/* mixins */
@mixin title{
	font-family: 'SanFrancisco Semibold';
	font-size: 80px;
	line-height: 94px;
}
@mixin subtitle{
	font-family: 'SanFrancisco Semibold';
	font-size: 60px;
	line-height: 70px;
	color: #000000;
}
@mixin text{
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #828282;
}
@mixin gradient() {
	background: linear-gradient(to right,#4B48F5 -0.39%, #890041 37.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title{
	@include title();
	p{
		@include gradient();
		display: inline-block;
	}
}
.button{
	font-size: 24px;
	line-height: 28px;
	margin-top: 45px;
	max-width: 470px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 100px;
	box-sizing: border-box;
	$border: 1px;
	background: #EEE3F4;
	background-clip: padding-box;
	border: solid $border transparent;
	transition: 1s;
	&:before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	margin: -$border;
	border-radius: inherit;
	background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
	}
	& a{
	@include gradient();
	padding: 18px 35px;
	}
}
.content{
	max-width: 1446px;
	margin: auto;
}
/* Header */
.header{
	width: 100%;
	height: 517px;
	background: url("../img/header/Rectangle-205.jpg") no-repeat center / cover;
	&__content{
		max-width: 1644px;
		margin: 0 30px 0 236px;
		display: none;
	}
	&__row{
		display: flex;
		align-items: center;
	}
	&__logo{
		margin-right: 30px;
	}
	&__menu{
		display: flex;
		.menu__item{
			letter-spacing: initial;
			margin: 0 21px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #fff;
		}
	}
	&__col{
		margin-top: 19px;
		margin-left: 562px;
		display: flex;

	}
	&__search{
		margin-right: 13px;
	}
	&__profile{
		margin-right: 56px;
	}
	&__arrow{
		margin-top: 15px;
	}
	&__row-2{
		display: flex;
		margin-top: 275px;
	}
	&__title{
		font-family: Roboto;
		font-family: 'SanFrancisco Semibold';
		font-size: 90px;
		line-height: 117px;
		color: #FFFFFF;
	}
	&__text{
		margin-top: 65px;
		margin-left: 405px;
		max-width: 392px;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		color: #FFFFFF;
	}
}
/*What*/
.what{
	margin-top: 78px;
	&__content-1{
		max-width: 1437px;
		margin: auto;
	}
	&__title{
		max-width: 100%;
	}
	&__block-1{
		display: block;
		margin-bottom: 788px;
		display: flex;
		.block-1__text{
			margin-top: 78px;
			p{
				@include text();
			}
		}
		.block-1__subtitle{
			@include subtitle();
			margin-bottom: 12px;
		}
		.block-1__img{
			margin-right: -35px;
		}
	}
	&__block-2{
		margin-bottom: 115px;
		width: 100%;
		max-width: 1437px;
		margin: auto;
		display: flex;
		.block-2__text{
			margin-top: 193px;
			margin-left: 42px;
			
			p{
				max-width: 540px;
				@include text();
			}
		}
		.block-2__subtitle{
			margin-bottom: 20px;
			max-width: 550px;
			@include subtitle();
		}
	}
	&__block-3{
		min-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.block-3__title{
			margin-top: 10px;
			margin-bottom: -10px;
			margin-right: 140px;
		}
		.block-img{

		}
	}
}
/* Calls */
.calls{
	margin-top: 61px;
	&__title-block{
		max-width: 1437px;
		margin: auto;
		a{
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: #4F4F4F;
		}
	}
	&__title{
		font-size: 100px;
	}
	&__title-text{
		margin-top: 45px;
		margin-bottom: 25px;
		max-width: 546px;
		@include text();
	}
	&__block{
		overflow: hidden;
		padding-bottom: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1367.59px;
		margin: 0 auto;
		.block__title{
			margin-left: -50px;
			transform: rotate(-3.19deg);
		}
		img{
			margin-right: -140px;
			}
		.block__text{
			margin-top: -123px;
			margin-left: -185px;
			max-width: 642px;
			@include text();
			font-size: 25px;
		}
	}
	&__forwarding{
		margin-bottom: 190px;
		padding-top: 27px;
		display: flex;
		justify-content: space-between;
		max-width: 1437px;
		margin: auto;
		.forwarding__title{
			@include subtitle();
			font-size: 55px;
		}
		.forwarding__text{
			margin-top: 20px;
			max-width: 422px;
			margin: auto;
			@include text();
		}
		.forwarding__button{
			margin-top: 140px;
			justify-content: center;
			a{
				padding: 18px 25px;
			}
		}
		.forwarding__col-2{
			margin-top: -70px;
		}
		.forwarding__img{
			max-width: 1090px;
		}
	}
}
/* Control */
.control{
	margin-top: 13px;
	max-width: 1437px;
	margin: auto;
	&__title-block{
		margin: 0 0 154px 242px;
	}
	&__title{
		font-size: 80px;
		line-height: 94px;
		@include gradient();
		font-family: 'SanFrancisco Semibold', sans-serif;
		@media screen and (max-width: 991px){
			font-size: 70px;
		}
	}
	&__text{
		margin-top: 20px;
		line-height: 29px;
	}
	&__title-text{
		margin-top: 45px;
		margin-bottom: 25px;
		max-width: 546px;
		color: #828282!important;
	}
	&__block{
		padding-bottom: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1367.59px;
		margin: 0 auto;
		.block__title{
			margin-left: -50px;
			transform: rotate(-3.19deg);
		}
		img{
			margin-right: -140px;
		}
		.block__text{
			margin-top: -123px;
			margin-left: -185px;
			max-width: 642px;
			@include text();
			font-size: 25px;
		}
	}
	&__forwarding{
		margin-bottom: 190px;
		padding-top: 27px;
		display: flex;
		justify-content: center;
		.forwarding__title{
			@include subtitle();
			font-size: 55px;
		}
		.forwarding__text{
			margin-top: 20px;
			max-width: 422px;
			margin: auto;
			@include text();
		}
		.forwarding__button{
			margin-top: 140px;
			justify-content: center;
			a{
				padding: 18px 25px;
			}
		}
		.forwarding__col-2{
			margin-top: -70px;
		}
		.forwarding__img{
			max-width: 100%;
		}
	}
}
/* calltracking */
.calltracking{
	max-width: 1713px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	@media screen and (max-width: 991px){
		padding: 0px 15px;
	}
	&__image{
		position: relative;
		max-width: 985px;
		max-height: 750px;
		overflow: visible;
		@media screen and (max-width: 1180px){
			max-width: 100%;
		}
		& img{
			display: block;
			max-width: 100vw;
			@media screen and (max-width: 1180px){
				max-width: calc(100vw - 60px)
			}
		}
	}
	&__about{
		padding-top: 120px;
	}
	&__title{
		font-size: 60px;
		font-family: 'SanFrancisco Semibold';
		line-height: 70px;
	}
	&__subtitle{
		max-width: 641px;
		padding-top: 36px;
		font-family: Roboto;
		line-height: 29px;
		color: #828282;
	}
	@media screen and (max-width: 1400px){
		flex-direction: column;
		align-items: center;
		&__about{
			padding-top: 0;
		}
		&__subtitle{
			max-width: 933px;
		}
	}
	@media screen and (max-width: 767px){
		&__about{
			text-align: center;
		}
		&__title{
			font-size: 40px;
			line-height: 50px;
		}
		&__subtitle{
			font-size: 15px;
			line-height: 19px;
		}
	}
}
@media screen and (max-width: 1400px){
	.application__image{
		display: none;
	}
	.application{
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* application */
.application{
	padding-top: 173px;
	max-width: 1413px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	&__title{
		line-height: 78px;
		max-width: 477px;
	}
	&__subtitle{
		margin-top: 36px;
		max-width: 543px;
	}
	&__button{
		font-size: 24px;
		line-height: 28px;
		margin-top: 45px;
		max-width: 238px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		border-radius: 100px;
		box-sizing: border-box;
		$border: 1px;
		background: #EEE3F4;
		background-clip: padding-box;
		border: solid $border transparent;
		transition: 1s;
		&:before {
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: -1;
			margin: -$border;
			border-radius: inherit;
			background: linear-gradient(101.43deg, #4B48F5 -0.39%, #890041 37.78%);
		}
		& a{
			@include gradient();
			padding: 18px 46px;
		}
	}
	&__image{
		position: absolute;
		top: -320px;
		right: -260px;
		&-wrapper{
			position: absolute;
		}
		& img{
			position: absolute;
		}
		& img:first-child{
			right: 65px;
			top: 314px;
		}
		& img:nth-child(2){
			right: -359px;
			top: 414px;
		}
		& img:last-child{
			right: -303px;
			top: -7px;
		}
	}
}
@media screen and (max-width: 1400px){
	.application{
		justify-content: center;
	}
}
@media screen and (max-width: 767px){
	.block-title{
		font-size: 50px;
		line-height: 48px!important;
		max-width: 100%;
	}
	.application__subtitle {
		margin-top: 26px;
		max-width: 100%;
		font-size: 15px;
	}
	.application__about{
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.application__button{
		margin: 26px auto 0 auto;
	}
}
@media screen and (max-width: 420px){
	.block-title{
		font-size: 40px;
		line-height: 38px!important;
	}
}
/* devices */
.device{
	padding-top: 457px;
	&-wrapper{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-top: 55px;
	}
	&__item{
		max-width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		&:first-child{
			margin-bottom: 56px;
			margin-right: 60px;
		}
		&:nth-child(2){
			padding-left: 3px;
			margin-right: 70px;
			margin-bottom: 62px;
		}
		&:last-child{
			width: 704px;
			height: 755px;
			margin-right: 80px;
		}
	}
	&__title{
		max-width: 940px;
	    margin: auto;
	    padding-left: 154px;
		line-height: 94px;
		&-inner{
			text-align: left;
		}
	}
	@media screen and (max-width: 1820px){
		&-wrapper{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			padding-left: 0;
			margin-right: 0!important;
			& img{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	@media screen and (max-width: 930px){
		&__item {
			height: fit-content!important;
			& img{
				max-width: 100vw;
			}
		}
	}
	@media screen and (max-width: 930px){
		&__title{
			padding-left: 0;
			&-inner{
				text-align: center;
			}
		}
	}
}

/* Footer */
.footer{
	padding: 152px 15px 105px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	&__title{
		line-height: 102.4%;
		text-align: center;
	}
	&__button{
		margin-top: 58px;
		text-align: center;
	}
	@media screen and (max-width: 921px){
		&__title{
			font-size: 70px;
		}
	}
	@media screen and (max-width: 767px){
		&__title{
			font-size: 60px;
		}
	}
	@media screen and (max-width: 540px){
		&__title{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 360px){
		&__title{
			font-size: 45px;
		}
	}
}

/* functions */
.function{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-top: 143px;
	padding-right: 15px;
	&__text{
		text-align: center;
		max-width: 348px;
		padding-top: 43px;
	}
	&__title{
		font-size: 40px;
		line-height: 47px;
		font-family: 'SanFrancisco Semibold', sans-serif;
		letter-spacing: 0;
	}
	&__subtitle{
		margin-top: 20px;
		font-size: 20px;
		line-height: 23px;
		color: #828282;
	}
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 1471px;
	}
	&__item{
		&:first-child{
			min-width: 463px;
			max-width: 463px;
			margin-left: 57px;
			margin-top: 30px;
			& img{
				width: 419px;
			}
		}
		&:nth-child(2){
			margin-left: 53px;
		}
		&:last-child{
			margin-left: 66px;
			& .function__img img{
				margin-left: 6px;
				margin-top: 9px;
			}
		}

		& .function__img img{
			max-width: 100%;
		}
		& .item__title{
			padding-top: 37px;
			font-family: 'SanFrancisco Semibold';
			font-size: 40px;
			line-height: 102.4%;
			padding-bottom: 10px;
		}
		& .item__subtitle{
			font-size: 24px;
			line-height: 28px;
			color: #828282;
		}
	}
	@media screen and (max-width: 1365px){
		flex-direction: column;
		align-items: center;
		padding-right: 0;
		&__wrapper{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			text-align: center;
			min-width: 100%!important;
			max-width: 100%!important;
			margin-left: 0!important;
			margin-top: 40px;
			padding: 0px 10px;
		}
		&__img img{
			width: 450px;
			max-width: 100%;
			margin-left: 0!important;
		}
	}
}